@{
    //Layout = "~/Views/Layout/Main.cshtml";
    Layout = "~/Views/Layout/FormLayout.cshtml";
}

<style type="text/css">
    .dataArea td {
        border-bottom: 1px solid rgba(20%,20%,40%,0.5);
        text-align: left;
    }
</style>

<script type="text/javascript">
    window.onload = function () {
        setGridColor();
    }

    function setGridColor() {
        //格行換色
        $('.dataArea tr:even').css('background', '#ABC8E2');
        $('.dataArea tr:odd').css('background', '#E1E6FA');
    }

    function add() {
        var ck = document.getElementsByName('carerecord');
        var content = '';
        for (var i = 0; i < ck.length; i++) {
            if (ck[i].checked) {
                content += $(ck[i]).attr('unit') + " , ";
            }
        }
        if (content != '')
            content = content.substring(0, content.length - 2) + '。';
        window.opener.document.getElementById('span_@ViewBag.id').innerText = window.opener.document.getElementById('span_@ViewBag.id').innerText + content;
        window.opener.document.getElementById('hid_@ViewBag.id').value = window.opener.document.getElementById('hid_@ViewBag.id').value + content;
        return true;
    }
</script>

@using System.Data;
@{
    DataTable dt = ViewBag.dt;
    }
<table border="0" cellpadding="0" cellspacing="0" style="width:100%;">
    <tr>
        <td style="padding-bottom:5px;text-align:center;">
            <span style="color:blue;font-size:26px;">輸入/輸出紀錄資料</span>
        </td>
    </tr>
    <tr>
        <td>
            <div class="dataHeader">
                <table border="0" cellpadding="4" cellspacing="1" style="width:100%;font-size:14px;">
                    <tr>
                        <td style="width:16%;"></td>
                        <td colspan="5">輸入</td>
                        <td colspan="5">輸出</td>
                    </tr>
                    <tr>
                        <td style="width:17%;">時間</td>
                        <td style="width:8%;">點滴</td>
                        <td style="width:9%;">由口進食</td>
                        <td style="width:9%;">管灌飲食</td>
                        <td style="width:8%;">輸血</td>
                        <td style="width:8%;">灌洗</td>
                        <td style="width:8%;">尿液</td>
                        <td style="width:8%;">排便量</td>
                        <td style="width:8.5%;">其它</td>
                        <td style="width:8.5%;">引流管</td>
                        <td style="width:8%;">灌洗</td>
                    </tr>
                </table>
            </div>
            <div class="dataArea" style="height:320px; width:100%;">
                <table border="0" cellpadding="4" cellspacing="1" style="width:100%;">
                    @{
                        int i = 0;
                    foreach (DataRow r in dt.Rows)
                    {
                        if(r[1].ToString() != "mL" || r[2].ToString() != "mL" || r[3].ToString() != "mL" || r[4].ToString() != "mL" || r[5].ToString() != "mL" || r[6].ToString() != "mL" || r[7].ToString() != "mL" || r[8].ToString() != "mL" || r[9].ToString() != "mL" || r[10].ToString() != "mL" )
                        {
                            if (r[1].ToString() != "次" || r[2].ToString() != "次" || r[3].ToString() != "次" || r[4].ToString() != "次" && r[5].ToString() != "次" || r[6].ToString() != "次" || r[7].ToString() != "次" || r[8].ToString() != "次" || r[9].ToString() != "次" || r[10].ToString() != "次")
                            {
                                string content = "";
                                if (r[1].ToString() != "mL" && r[1].ToString() != "次")
                                {
                                    content += "輸入： 點滴 " + r[1].ToString() + ",";
                                }
                                if (r[2].ToString() != "mL" && r[2].ToString() != "次")
                                {
                                    content += "輸入： 由口進食 " + r[2].ToString() + ",";
                                }
                                if (r[3].ToString() != "mL" && r[3].ToString() != "次")
                                {
                                    content += "輸入： 管灌飲食 " + r[3].ToString() + ",";
                                }
                                if (r[4].ToString() != "mL" && r[4].ToString() != "次")
                                {
                                    content += "輸入： 輸血 " + r[4].ToString() + ",";
                                }
                                if (r[5].ToString() != "mL" && r[5].ToString() != "次")
                                {
                                    content += "輸入： 灌洗 " + r[5].ToString() + ",";
                                }
                                if (r[6].ToString() != "mL" && r[6].ToString() != "次")
                                {
                                    content += "輸出： 尿液 " + r[6].ToString() + ",";
                                }
                                if (r[7].ToString() != "mL" && r[7].ToString() != "次")
                                {
                                    content += "輸出： 排便量 " + r[7].ToString() + ",";
                                }
                                if (r[8].ToString() != "mL" && r[8].ToString() != "次")
                                {
                                    content += "輸出： 其他 " + r[8].ToString() + ",";
                                }
                                if (r[9].ToString() != "mL" && r[9].ToString() != "次")
                                {
                                    content += "輸出： 引流管 " + r[9].ToString() + ",";
                                }
                                if (r[10].ToString() != "mL" && r[10].ToString() != "次")
                                {
                                    content += "輸出： 灌洗 " + r[10].ToString() + ",";
                                }
                                if (content != "")
                                {
                                    content = content.Substring(0, content.Length - 1);
                                }
                    <tr>
                        <td style="width:17%;">
                            <input type="checkbox" id="carerecord@(i)" name="carerecord" unit="@content" />
                            <label for="carerecord@(i)">@Convert.ToDateTime(r[0]).ToString("yyyy/MM/dd HH:mm")</label>
                        </td>
                        <td style="width:8%;">
                            @if (r[1].ToString() != "mL" && r[1].ToString() != "次")
                            {
                                @:@r[1].ToString()
                            }
                        </td>
                        <td style="width:9%;">
                            @if (r[2].ToString() != "mL" && r[2].ToString() != "次")
                            {
                                @:@r[2].ToString()
                            }
                        </td>
                        <td style="width:9%;">
                            @if (r[3].ToString() != "mL" && r[3].ToString() != "次")
                            {
                                @:@r[3].ToString()
                            }
                        </td>
                        <td style="width:8%;">
                            @if (r[4].ToString() != "mL" && r[4].ToString() != "次")
                            {
                                @:@r[4].ToString()
                            }
                        </td>
                        <td style="width:8%;">
                            @if (r[5].ToString() != "mL" && r[5].ToString() != "次")
                            {
                                @:@r[5].ToString()
                            }
                        </td>
                        <td style="width:8%;">
                            @if (r[6].ToString() != "mL" && r[6].ToString() != "次")
                            {
                                @:@r[6].ToString()
                            }
                        </td>
                        <td style="width:8%;">
                            @if (r[7].ToString() != "mL" && r[7].ToString() != "次")
                            {
                                @:@r[7].ToString()
                            }
                        </td>
                        <td style="width:8.5%;">
                            @if (r[8].ToString() != "mL" && r[8].ToString() != "次")
                            {
                                @:@r[8].ToString()
                            }
                        </td>
                        <td style="width:8.5%;">
                            @if (r[9].ToString() != "mL" && r[9].ToString() != "次")
                            {
                                @:@r[9].ToString()
                            }
                        </td>
                        <td style="width:8%;">
                            @if (r[10].ToString() != "mL" && r[10].ToString() != "次")
                            {
                                @:@r[10].ToString()
                            }
                        </td>
                    </tr>
                            i++;
                            }
                        }
                    }
                    }
                </table>
            </div>
        </td>
    </tr>
    <tr>
        <td style="padding:5px 0 5px 0;text-align:center;">
            <div class="funcArea">
                <input type="button" value="儲存" style="width:60px;" onclick="if (add()) window.close();" />
                <input type="button" value="取消" style="width:60px;" onclick="if (confirm('確認取消?')) window.close();" />
            </div>
        </td>
    </tr>
</table>