@{
    Layout = "~/Views/Layout/FormLayout.cshtml";
}

<script type="text/javascript">
    function open_program(url) {
        var ws = new ActiveXObject("WScript.Shell");
        ws.Exec(url);
    }

    function open_window(url){
        var width = screen.width - 10;
        var height = screen.height - 70;
        window.open(url,"","resizable=1,top=0,left=0,scrollbars=yes,width=" + width + ",height=" + height);
    }

    function open_sys_window(url,width,height){
        window.open(url,"","resizable=1,top=0,left=0,scrollbars=yes,width=" + width + ",height=" + height);
    }
</script>

@using System.Data;
@{
    DataTable dt = ViewBag.dt;
}
<div class="funcArea">
    <table border="0" cellpadding="0" cellspacing="0">
        <tr>
            <td>
                <input type="button" value="紀錄補輸申請" onclick="open_sys_window('../Complement_Insert/Apply_List', 400, 200)" style="min-width:120px;height:80px;margin:5px 5px 5px 5px;"/>
                @*<input type="button" value="出備高危再評估" onclick="window.location.href = '../Assessment/AssessmentDanger'" style="min-width:120px;height:80px;margin:5px 5px 5px 5px;"/>*@
                @*============*@
                @*<input type="button" value="轉出照護摘要單" onclick="window.location.href = '../Temp/Leave_Referral'" style="min-width:120px;height:80px;margin:5px 5px 5px 5px;" />*@
                @*<input type="button" value="病人清單" onclick="window.location.href = '../Temp/PatientList'" style="min-width:120px;height:80px;margin:5px 5px 5px 5px;" />
                <input type="button" value="027出院準備服務" onclick="window.location.href = '../Temp/DischargePlanningServices'" style="min-width:120px;height:80px;margin:5px 5px 5px 5px;" />
                <input type="button" value="031交班單" onclick="window.location.href = '../Temp/Kardex'" style="min-width:120px;height:80px;margin:5px 5px 5px 5px;" />
                <input type="button" value="003轉出照護摘要單" onclick="window.location.href = '../Temp/OutCareSummaryReceipt'" style="min-width:120px;height:80px;margin:5px 5px 5px 5px;" />*@
                @*<input type="button" value="安寧" onclick="window.location.href = '../Assessment/AssessmentPiece'" style="min-width:120px;height:80px;margin:5px 5px 5px 5px;" />*@
                    @*============*@
               @* <input type="button" value="攝入/輸出" onclick="window.location.href = '../IOManage/IO_Insert_List'" style="min-width:120px;height:80px;margin:5px 5px 5px 5px;" />
                *@
                @if (System.Configuration.ConfigurationManager.AppSettings["HospitalName"].ToString() == "臺北醫學大學附設醫院")
                {
               <input type="button" value="跌倒評估(舊版)" onclick="window.location.href = '../FallAssess/List'" style="min-width:120px;height:80px;margin:5px 5px 5px 5px;"/>
                }

                @if (dt != null && dt.Rows.Count > 0)
                {
                    foreach(DataRow r in dt.Rows)
                    {
                        if (r["DATA_TYPE"].ToString() == "url")
                        {
                            string data_route = r["DATA_ROUTE"].ToString().Trim();
                            <input type="button" value="@r["DATA_NAME"]" onclick="open_window('@data_route')" style="min-width:120px;height:80px;margin:5px 5px 5px 5px;"/>
                        }
                        else
                        {
                            string data_route = r["DATA_ROUTE"].ToString().Replace("\\", "\\\\");
                            <input type="button" value="@r["DATA_NAME"]" onclick="open_program('@(data_route)');" style="min-width:120px;height:80px;margin:5px 5px 5px 5px;"/>
                        }
                    }
                }
            </td>
        </tr>
    </table>
</div>