@using NIS.Data;
@{
    if (ViewData["userlist"] != null)
    {

        List<UserInfo> userinfo = (List<UserInfo>)ViewData["userlist"];
        for (int i = 0; i <= userinfo.Count - 1; i++)
        {
            <label title="@(userinfo[i].EmployeesNo.ToString())">
                <span>
                    <input type="radio" id="@(Html.Raw("sid" + i.ToString()))" name="selectuser" value="@(userinfo[i].EmployeesNo.ToString())"/>
                    @(userinfo[i].EmployeesName.ToString())
                </span>
            </label>
        }
    }
}