@{
    Layout = "~/Views/Layout/FormLayout.cshtml";
}
<style type="text/css">
    /*style the main menu*/
    .myMenu {
        margin: 0;
        padding: 0;
    }

        .myMenu li {
            list-style: none;
            float: left;
            width: 140px;
            white-space: nowrap;
        }

        .myMenu img {
            border: none;
            padding-left: 5px;
            padding-bottom: 5px;
            vertical-align: bottom;
        }

        .myMenu span {
            display: inline-block;
        }

            .myMenu li a:link, .myMenu li a:visited {
                display: block;
                height: 28px;
                text-decoration: none;
                background-color: #DDDDDD;
                padding: 6px 3px;
                font-size: 20px;
                text-align: left;
                margin: 0;
                border-right: 1px solid #fff;
                color: #111;
                cursor: default;
            }

        .myMenu li a[to] {
            cursor: pointer;
        }

            .myMenu li[class=lineone] > a:hover {
                background-color: #ABC8E2;
                background-image: url('../Images/underline_hl.png');
                background-repeat: repeat-x;
                background-position: bottom;
            }

            /*style the sub menu*/
            .myMenu li ul {
                position: absolute;
                visibility: hidden;
                border-top: 1px solid #fff;
                margin: 0;
                padding: 0;
            }

                .myMenu li ul li {
                    display: inline;
                    float: none;
                }

                    .myMenu li ul li a:link, .myMenu li ul li a:visited {
                        background-color: #DDDDDD;
                        width: 140px;
                        padding-left: 10px;
                    }

                    .myMenu li ul li a:hover {
                        background-color: #AAEEAA;
                        background-image: url('../Images/underline_hl.png');
                        background-repeat: repeat-x;
                        background-position: bottom;
                    }

    #workspace {
        position: absolute;
        height: 87%;
        top: 55px;
        padding: 5px;
        left: 20px;
        right: 20px;
        overflow: hidden;
    }

    #loadbar {
        display: none;
        z-index: 99;
        position: absolute;
        top: 50%;
        left: 50%;
    }
</style>

<script type="text/javascript">

    $(document).ready(function () {
        close_pup_window();
        
        // Menu 用
        $('.myMenu > li').bind('mouseover', function (event) {
            event.stopPropagation();
            $(this).find('ul').css('visibility', 'visible');
        }).bind('mouseout', function (event) {
            event.stopPropagation();
            $(this).find('ul').css('visibility', 'hidden')
        });

        $("#submenu").find("a[to]").click(function (event) {
            event.stopPropagation();
            $("#loadbar").show();
            $("#workspace").empty().hide().attr("src", "../" + $(this).attr("to")).load(
                function () {
                    $("#loadbar").hide();
                    $("#workspace").fadeIn(500);
                }
            );
        });
        //$("#workspace").attr( "src", "../Function/MonthStatments");

    });

</script>

<div id="loadbar">
    <img src="~/Images/loading2.gif" alt="" />
</div>

<iframe id="workspace" width="95%" frameborder="0" src="../Function/ShiftAsign">
</iframe>

<div id="submenu">
    <ul class="myMenu">
        <li class="lineone">
            <a href="javascript:void(0);" to="Function/MonthStatments">
                <img src="~/Images/Function/func_report.png" alt="" />
                <span>報表功能</span>
            </a>
        </li>
        <li class="lineone">
            <a href="javascript:void(0);">
                <img src="~/Images/Function/func_assign.png" alt="" />
                <span>派工作業</span>
            </a>
            <ul>
                <!--
                    <li><a href="javascript:void(0);" to="Function/ShiftArrangement">護理人員班表</a></li>
                -->
                <li><a href="javascript:void(0);" to="Function/ShiftAsign">派班作業</a></li>
                  <li><a href="javascript:void(0);" to="TransferDuty/TransferDuty_List_cost">交班單</a></li>
            </ul>
        </li>
        <li class="lineone">
            <a href="javascript:void(0);">
                <img src="~/Images/Function/func_setting.png" alt="" />
                <span>功能維護</span>
            </a>
            <ul>
                <li><a href="javascript:void(0);" to="Function/MenuModify">功能清單維護</a></li>
                <li><a href="javascript:void(0);" to="Function/ER_Permissions">急診權限維護</a></li>
                <li><a href="javascript:void(0);" to="TubeManage/Tube_Kind_Maintain">管路維護</a></li>
		@*<li><a href="#" onclick="@Java_funcion.pup_window("../CareRecord/Phrase?type=product",900,600, "0")">片語維護</a></li>*@
                <li><a href="javascript:void(0);" to="PhraseManagement/Phrase?type=product">全院片語維護</a></li>
                <li><a href="javascript:void(0);" to="PhraseManagement/Phrase?type=unit">單位片語維護</a></li>
                <li><a href="javascript:void(0);" to="IOManage/IO_Function_Maintain?mode=insert">IO項目新增</a></li>
                <li><a href="javascript:void(0);" to="IOManage/IO_Function_Maintain?mode=update">IO項目列表</a></li>
                <li><a href="javascript:void(0);" to="Function/Ais_Inquiry">輔助查詢維護</a></li>
                <li><a href="javascript:void(0);" to="Function/Announcement">首頁公告維護</a></li>                
            </ul>
        </li>
        <li class="lineone">
            <a href="javascript:void(0);">
                <img src="~/Images/Function/func_data.png" alt="" />
                <span>資料維護</span>
            </a>
            <ul>
                <li><a href="javascript:void(0);" to="Complement_Insert/Exam_list">資料補輸審核</a></li>
                @*<li><a href="javascript:void(0);" to="Complement_Insert/Exam_list">資料簽章補送功能</a></li>*@
                <li><a href="javascript:void(0);" to="Function/DataSelector?model=system&name=系統資料">系統資料</a></li>
                @*<li><a href="javascript:void(0);" to="Function/DataSelector?model=vitalsign&name=生理量測">VitalSign</a></li>
        <li><a href="javascript:void(0);" to="Function/DataSelector?model=io&name=Intake/Output">輸入/輸出</a></li>*@
                <li><a href="javascript:void(0);" to="Function/DataSelector?model=tube&name=管路">管路</a></li>
                @*<li><a href="javascript:void(0);" to="Function/Na_Index">護理評估維護</a></li>*@
                <li><a href="javascript:void(0);" to="Function/Health_Education_Maintain?mode=insert">護理指導新增</a></li>
                <li><a href="javascript:void(0);" to="Function/Health_Education_Maintain?mode=edit">護理指導維護</a></li>
                <li><a href="javascript:void(0);" to="VitalSign/Set_VitalSign">異常值設定</a></li>
                <li><a href="javascript:void(0);" to="CarePlanManagement/Index">護理計畫管理</a></li>
                <li><a href="javascript:void(0);" to="VitalSign/SharedMaintain">處置設定</a></li>
                <li><a href="javascript:void(0);" to="Obstetrics/CS_R_List">剖腹產 C/S原因</a></li>
                <li><a href="javascript:void(0);" to="Obstetrics/NB_Formula_List">配方奶</a></li>
                <li><a href="javascript:void(0);" to="Billing/SetMaintain">計價維護</a></li>

            </ul>
            </ul>
        </li>
        @*<li class="lineone">
            <a href="javascript:void(0);">
                <img src="~/Images/Function/func_nursing.png" alt="" />
                <span>護理計畫</span>
            </a>
            <ul>
                <li><a href="javascript:void(0);" to="CarePlan/DataSelector?model=insert">新增護理項目</a></li>
                <li><a href="javascript:void(0);" to="CarePlan/CarePlanEdit">新增護理表</a></li>
            </ul>
        </li>*@
    </ul>
</div>