<script type="text/javascript">
    $(function () {
        $('.dataArea tr:odd').css('background', '#ABC8E2');
        $('.dataArea tr:even').css('background', '#E1E6FA');
    });
</script>

@using System.Data;
@{
    DataTable dt = ViewBag.dt;
}
<div class="dataHeader">
    <table border="0" cellpadding="4" cellspacing="1" style="font-size:14px;display:none">
        <tr>
            <td align="center" style="width:100px">
                <table border="0" cellpadding="0" cellspacing="0" style="width:100%;font-size:14px;">
                    <tr>
                        <th style="text-align:right">單位</th>
                    </tr>
                    <tr>
                        <th style="text-align:left;">管路種類</th>
                    </tr>
                </table>
            </td>
            <td style="width:100px">@ViewBag.station_name</td>
        </tr>
    </table>
</div>
<div class="dataArea">
    <table border="0" cellpadding="4" cellspacing="1" style="font-size:14px;">
        @*取消畫面顯示*@
        @if(dt != null && dt.Rows.Count < 0)
        {
            foreach(DataRow r in dt.Rows)
            {
        <tr>
            <td style="width:100px">
                @r["TYPE_NAME"]
            </td>
            <td style="width:100px">
                @r["USEDAY"]
            </td>
        </tr>
            }
        }
    </table>
</div>