@{
    Layout = "~/Views/Layout/FormLayout.cshtml";
}
<style type="text/css">
    .abgne_tab ul, .abgne_tab li
    {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    .abgne_tab
    {
        clear: left;
        width: 98%;
        margin: 0px 0;
    }

    ul.tabs
    {
        width: 100%;
        height: 32px;
        border-bottom: 1px solid #999;
        border-left: 1px solid #999;
    }

        ul.tabs li
        {
            float: left;
            height: 31px;
            line-height: 31px;
            overflow: hidden;
            position: relative;
            margin-bottom: -1px; /* 讓 li 往下移來遮住 ul 的部份 border-bottom */
            border: 1px solid #999;
            border-left: none;
            background: #e1e1e1;
        }

            ul.tabs li a
            {
                display: block;
                padding: 0 10px;
                color: #000;
                border: 1px solid #fff;
                text-decoration: none;
            }

                ul.tabs li a:hover
                {
                    background: #ccc;
                }

            ul.tabs li.active
            {
                background: #fff;
                border-bottom: 1px solid #fff;
            }

                ul.tabs li.active a:hover
                {
                    background: #fff;
                }

    div.tab_container
    {
        clear: left;
        width: 100%;
        border: 1px solid #999;
        border-top: none;
        background: #fff;
    }

    td
    {
        /* <http://www.w3.org/wiki/CSS/Properties/text-align>
     * left, right, center, justify, inherit
     */
        text-align: center;
        /* <http://www.w3.org/wiki/CSS/Properties/vertical-align>
     * baseline, sub, super, top, text-top, middle,
     * bottom, text-bottom, length, or a value in percentage
     */
        vertical-align: text-top;
    }
        td.DayShift
        {
            background-color: #73FDFF;
        }
        td.SwingShift
        {
            background-color: #FCFF19;
        }
        td.OvernightShift
        {
            background-color: #FFCECD;
        }
        td.OffDay
        {
            background-color: red;
        }
</style>

<script type="text/javascript">
    window.onload = function () {
        $("#AllocationShift").hide();
        $("#btn_shiftarrangement").css("background-color", "#666666");
        $("#btn_shiftarrangement").css("color", "#FFFFFF");
    }


    $(function () {
        // 預設顯示第一個 Tab
        var _showTab = 0;
        $('.abgne_tab').each(function () {
            // 目前的頁籤區塊
            var $tab = $(this);

            var $defaultLi = $('ul.tabs li', $tab).eq(_showTab).addClass('active');
            $($defaultLi.find('a').attr('href')).siblings().hide();

            // 當 li 頁籤被點擊時...
            // 若要改成滑鼠移到 li 頁籤就切換時, 把 click 改成 mouseover
            $('ul.tabs li', $tab).mouseover(function () {
                // 找出 li 中的超連結 href(#id)
                var $this = $(this),
					_clickTab = $this.find('a').attr('href');
                // 把目前點擊到的 li 頁籤加上 .active
                // 並把兄弟元素中有 .active 的都移除 class
                $this.addClass('active').siblings('.active').removeClass('active');
                // 淡入相對應的內容並隱藏兄弟元素
                $(_clickTab).stop(false, true).fadeIn().siblings().hide();

                return false;
            }).find('a').focus(function () {
                this.blur();
            });
            $('ul.tabs li', $tab).click(function () {
                // 找出 li 中的超連結 href(#id)
                var $this = $(this),
					_clickTab = $this.find('a').attr('href');
                // 把目前點擊到的 li 頁籤加上 .active
                // 並把兄弟元素中有 .active 的都移除 class
                $this.addClass('active').siblings('.active').removeClass('active');
                // 淡入相對應的內容並隱藏兄弟元素
                $(_clickTab).stop(false, true).fadeIn().siblings().hide();

                return false;
            }).find('a').focus(function () {
                this.blur();
            });
        });
    });
</script>

<table border="0" cellpadding="0" cellspacing="0" style="width:100%;">
    <tr>
        <td style="padding:5px 0 5px 0;">
            <div class="abgne_tab" style="padding: 10px 0px 0px 0px;">
                <ul class="tabs">
                    <li><a href="#show1">第一週</a></li>
                    <li><a href="#show2">第二週</a></li>
                    <li><a href="#show3">第三週</a></li>
                    <li><a href="#show4">第四週</a></li>
                </ul>
                <div class="tab_container">
                    <div id="ShiftArrangement">
                        <div id="show1">
                            <table border="1">
                                <tr>
                                    <td>姓名</td>
                                    <td>職級</td>
                                    <td>20130401</td>
                                    <td>20130402</td>
                                    <td>20130403</td>
                                    <td>20130404</td>
                                    <td>20130405</td>
                                    <td>20130406</td>
                                    <td>20130407</td>
                                    <td>20130408</td>
                                    <td>班別管理</td>
                                </tr>
                                <tr>
                                    <td>王啟芳</td>
                                    <td>護理長</td>
                                    <td class="DayShift"><a href="#" target="_blank">D1</a></td>
                                    <td class="DayShift">D1</td>
                                    <td class="DayShift">D1</td>
                                    <td class="SwingShift">S1</td>
                                    <td class="OffDay">OFF</td>
                                    <td class="SwingShift">S1</td>
                                    <td class="SwingShift">S2</td>
                                    <td class="OvernightShift">N1</td>
                                    <td><input type="button" value="班別指派" /></td>
                                </tr>
                                <tr>
                                   <td>張清芳</td>
                                    <td>護理長</td>
                                    <td class="DayShift">D1</td>
                                    <td class="DayShift">D1</td>
                                    <td class="DayShift">D1</td>                        
                                    <td class="OffDay">OFF</td>
                                    <td class="SwingShift">S1</td>
                                    <td class="SwingShift">S1</td>
                                    <td class="SwingShift">S2</td>
                                    <td class="OvernightShift">N1</td>
                                    <td><input type="button" value="班別指派" /></td>
                                </tr>
                                <tr>
                                    <td>李宜芳</td>
                                    <td>護士</td>
                                    <td class="DayShift">D1</td>
                                    <td class="DayShift">D1</td>
                                    <td class="DayShift">D1</td>
                                    <td class="SwingShift">S1</td>
                                    <td class="OffDay">OFF</td>
                                    <td class="SwingShift">S1</td>
                                    <td class="SwingShift">S2</td>
                                    <td class="OvernightShift">N1</td>
                                    <td><input type="button" value="班別指派" /></td>
                                </tr>
                                <tr>
                                    <td>鄭秀文</td>
                                    <td>護士</td>
                                    <td class="DayShift">D1</td>
                                    <td class="DayShift">D1</td>
                                    <td class="DayShift">D1</td>
                                    <td class="SwingShift">S1</td>
                                    <td class="OffDay">OFF</td>
                                    <td class="SwingShift">S1</td>
                                    <td class="SwingShift">S2</td>
                                    <td class="OvernightShift">N1</td>
                                    <td><input type="button" value="班別指派" /></td>
                                </tr>
                                <tr>
                                    <td>黃芳珍</td>
                                    <td>護士</td>
                                    <td class="DayShift">D1</td>
                                    <td class="DayShift">D1</td>
                                    <td class="DayShift">D1</td>
                                    <td class="SwingShift">S1</td>
                                    <td class="OffDay">OFF</td>
                                    <td class="SwingShift">S1</td>
                                    <td class="SwingShift">S2</td>
                                    <td class="OvernightShift">N1</td>
                                    <td><input type="button" value="班別指派" /></td>
                                </tr>
                                <tr>
                                   <td>吳涵儀</td>
                                    <td>護士</td>
                                    <td class="DayShift">D1</td>
                                    <td class="DayShift">D1</td>
                                    <td class="DayShift">D1</td>
                                    <td class="SwingShift">S1</td>
                                    <td class="OffDay">OFF</td>
                                    <td class="SwingShift">S1</td>
                                    <td class="SwingShift">S2</td>
                                    <td class="OvernightShift">N1</td>
                                    <td><input type="button" value="班別指派" /></td>
                                </tr>
                                <tr>
                                    <td>李雯雯</td>
                                    <td>護士</td>
                                    <td class="DayShift">D1</td>
                                    <td class="DayShift">D1</td>
                                    <td class="DayShift">D1</td>
                                    <td class="SwingShift">S1</td>
                                    <td class="OffDay">OFF</td>
                                    <td class="SwingShift">S1</td>
                                    <td class="SwingShift">S2</td>
                                    <td class="OvernightShift">N1</td>
                                    <td><input type="button" value="班別指派" /></td>
                                </tr>
                                <tr>
                                    <td>吳麗麗</td>
                                    <td>護士</td>
                                    <td class="DayShift">D1</td>
                                    <td class="DayShift">D1</td>
                                    <td class="DayShift">D1</td>
                                    <td class="SwingShift">S1</td>
                                    <td class="OffDay">OFF</td>
                                    <td class="SwingShift">S1</td>
                                    <td class="SwingShift">S2</td>
                                    <td class="OvernightShift">N1</td>
                                    <td><input type="button" value="班別指派" /></td>
                                </tr>
                                <tr>
                                   <td>張曉蘭</td>
                                    <td>護士</td>
                                    <td class="DayShift">D1</td>
                                    <td class="DayShift">D1</td>
                                    <td class="DayShift">D1</td>
                                    <td class="SwingShift">S1</td>
                                    <td class="OffDay">OFF</td>
                                    <td class="SwingShift">S1</td>
                                    <td class="SwingShift">S2</td>
                                    <td class="OvernightShift">N1</td>
                                    <td><input type="button" value="班別指派" /></td>
                                </tr>
                            </table>
                        </div>

                        <div id="show2">
                            <table border="1">
                                <tr>
                                    <td>姓名</td>
                                    <td>職級</td>
                                    <td>20130409</td>
                                    <td>20130410</td>
                                    <td>20130411</td>
                                    <td>20130412</td>
                                    <td>20130413</td>
                                    <td>20130414</td>
                                    <td>20130415</td>
                                    <td>20130416</td>
                                </tr>
                                <tr>
                                    <td>王啟芳</td>
                                    <td>護理長</td>
                                    <td>D1</td>
                                    <td>D1</td>
                                    <td>D1</td>
                                    <td>D1</td>
                                    <td>OFF</td>
                                    <td>OFF</td>
                                    <td>D1</td>
                                    <td>D1</td>
                                </tr>
                                <tr>
                                    <td>王啟芳</td>
                                    <td>護理長</td>
                                    <td>D1</td>
                                    <td>D1</td>
                                    <td>D1</td>
                                    <td>D1</td>
                                    <td>OFF</td>
                                    <td>OFF</td>
                                    <td>D1</td>
                                    <td>D1</td>
                                </tr>
                                <tr>
                                    <td>王啟芳</td>
                                    <td>護理長</td>
                                    <td>D1</td>
                                    <td>D1</td>
                                    <td>D1</td>
                                    <td>D1</td>
                                    <td>OFF</td>
                                    <td>OFF</td>
                                    <td>D1</td>
                                    <td>D1</td>
                                </tr>
                                <tr>
                                    <td>王啟芳</td>
                                    <td>護理長</td>
                                    <td>D1</td>
                                    <td>D1</td>
                                    <td>D1</td>
                                    <td>D1</td>
                                    <td>OFF</td>
                                    <td>OFF</td>
                                    <td>D1</td>
                                    <td>D1</td>
                                </tr>
                                <tr>
                                    <td>王啟芳</td>
                                    <td>護理長</td>
                                    <td>D1</td>
                                    <td>D1</td>
                                    <td>D1</td>
                                    <td>D1</td>
                                    <td>OFF</td>
                                    <td>OFF</td>
                                    <td>D1</td>
                                    <td>D1</td>
                                </tr>
                                <tr>
                                    <td>王啟芳</td>
                                    <td>護理長</td>
                                    <td>D1</td>
                                    <td>D1</td>
                                    <td>D1</td>
                                    <td>D1</td>
                                    <td>OFF</td>
                                    <td>OFF</td>
                                    <td>D1</td>
                                    <td>D1</td>
                                </tr>
                                <tr>
                                    <td>王啟芳</td>
                                    <td>護理長</td>
                                    <td>D1</td>
                                    <td>D1</td>
                                    <td>D1</td>
                                    <td>D1</td>
                                    <td>OFF</td>
                                    <td>OFF</td>
                                    <td>D1</td>
                                    <td>D1</td>
                                </tr>
                                <tr>
                                    <td>王啟芳</td>
                                    <td>護理長</td>
                                    <td>D1</td>
                                    <td>D1</td>
                                    <td>D1</td>
                                    <td>D1</td>
                                    <td>OFF</td>
                                    <td>OFF</td>
                                    <td>D1</td>
                                    <td>D1</td>
                                </tr>
                                <tr>
                                    <td>王啟芳</td>
                                    <td>護理長</td>
                                    <td>D1</td>
                                    <td>D1</td>
                                    <td>D1</td>
                                    <td>D1</td>
                                    <td>OFF</td>
                                    <td>OFF</td>
                                    <td>D1</td>
                                    <td>D1</td>
                                </tr>
                            </table>
                        </div>


                        <div id="show3">
                            <table border="1">
                                <tr>
                                    <td>姓名</td>
                                    <td>職級</td>
                                    <td>20130417</td>
                                    <td>20130418</td>
                                    <td>20130419</td>
                                    <td>20130420</td>
                                    <td>20130421</td>
                                    <td>20130422</td>
                                    <td>20130423</td>
                                    <td>20130424</td>
                                </tr>
                                <tr>
                                    <td>王啟芳</td>
                                    <td>護理長</td>
                                    <td>D1</td>
                                    <td>D1</td>
                                    <td>D1</td>
                                    <td>D1</td>
                                    <td>OFF</td>
                                    <td>OFF</td>
                                    <td>D1</td>
                                    <td>D1</td>
                                </tr>
                                <tr>
                                    <td>王啟芳</td>
                                    <td>護理長</td>
                                    <td>D1</td>
                                    <td>D1</td>
                                    <td>D1</td>
                                    <td>D1</td>
                                    <td>OFF</td>
                                    <td>OFF</td>
                                    <td>D1</td>
                                    <td>D1</td>
                                </tr>
                                <tr>
                                    <td>王啟芳</td>
                                    <td>護理長</td>
                                    <td>D1</td>
                                    <td>D1</td>
                                    <td>D1</td>
                                    <td>D1</td>
                                    <td>OFF</td>
                                    <td>OFF</td>
                                    <td>D1</td>
                                    <td>D1</td>
                                </tr>
                                <tr>
                                    <td>王啟芳</td>
                                    <td>護理長</td>
                                    <td>D1</td>
                                    <td>D1</td>
                                    <td>D1</td>
                                    <td>D1</td>
                                    <td>OFF</td>
                                    <td>OFF</td>
                                    <td>D1</td>
                                    <td>D1</td>
                                </tr>
                                <tr>
                                    <td>王啟芳</td>
                                    <td>護理長</td>
                                    <td>D1</td>
                                    <td>D1</td>
                                    <td>D1</td>
                                    <td>D1</td>
                                    <td>OFF</td>
                                    <td>OFF</td>
                                    <td>D1</td>
                                    <td>D1</td>
                                </tr>
                                <tr>
                                    <td>王啟芳</td>
                                    <td>護理長</td>
                                    <td>D1</td>
                                    <td>D1</td>
                                    <td>D1</td>
                                    <td>D1</td>
                                    <td>OFF</td>
                                    <td>OFF</td>
                                    <td>D1</td>
                                    <td>D1</td>
                                </tr>
                                <tr>
                                    <td>王啟芳</td>
                                    <td>護理長</td>
                                    <td>D1</td>
                                    <td>D1</td>
                                    <td>D1</td>
                                    <td>D1</td>
                                    <td>OFF</td>
                                    <td>OFF</td>
                                    <td>D1</td>
                                    <td>D1</td>
                                </tr>
                                <tr>
                                    <td>王啟芳</td>
                                    <td>護理長</td>
                                    <td>D1</td>
                                    <td>D1</td>
                                    <td>D1</td>
                                    <td>D1</td>
                                    <td>OFF</td>
                                    <td>OFF</td>
                                    <td>D1</td>
                                    <td>D1</td>
                                </tr>
                                <tr>
                                    <td>王啟芳</td>
                                    <td>護理長</td>
                                    <td>D1</td>
                                    <td>D1</td>
                                    <td>D1</td>
                                    <td>D1</td>
                                    <td>OFF</td>
                                    <td>OFF</td>
                                    <td>D1</td>
                                    <td>D1</td>
                                </tr>
                            </table>
                        </div>

                        <div id="show4">
                            <table border="1">
                                <tr>
                                    <td>姓名</td>
                                    <td>職級</td>
                                    <td>20130425</td>
                                    <td>20130426</td>
                                    <td>20130427</td>
                                    <td>20130428</td>
                                    <td>20130429</td>
                                    <td>20130430</td>
                                </tr>
                                <tr>
                                    <td>吳佩珍</td>
                                    <td>督導長</td>
                                    <td>D1</td>
                                    <td>D1</td>
                                    <td>D1</td>
                                    <td>D1</td>
                                    <td>OFF</td>
                                    <td>OFF</td>
                                </tr>
                                <tr>
                                    <td>吳佩珍</td>
                                    <td>督導長</td>
                                    <td>D1</td>
                                    <td>D1</td>
                                    <td>D1</td>
                                    <td>D1</td>
                                    <td>OFF</td>
                                    <td>OFF</td>
                                </tr>
                                <tr>
                                    <td>吳佩珍</td>
                                    <td>督導長</td>
                                    <td>D1</td>
                                    <td>D1</td>
                                    <td>D1</td>
                                    <td>D1</td>
                                    <td>OFF</td>
                                    <td>OFF</td>
                                </tr>
                                <tr>
                                    <td>吳佩珍</td>
                                    <td>督導長</td>
                                    <td>D1</td>
                                    <td>D1</td>
                                    <td>D1</td>
                                    <td>D1</td>
                                    <td>OFF</td>
                                    <td>OFF</td>
                                </tr>
                                <tr>
                                    <td>吳佩珍</td>
                                    <td>督導長</td>
                                    <td>D1</td>
                                    <td>D1</td>
                                    <td>D1</td>
                                    <td>D1</td>
                                    <td>OFF</td>
                                    <td>OFF</td>
                                </tr>
                                <tr>
                                    <td>吳佩珍</td>
                                    <td>督導長</td>
                                    <td>D1</td>
                                    <td>D1</td>
                                    <td>D1</td>
                                    <td>D1</td>
                                    <td>OFF</td>
                                    <td>OFF</td>
                                </tr>
                                <tr>
                                    <td>吳佩珍</td>
                                    <td>督導長</td>
                                    <td>D1</td>
                                    <td>D1</td>
                                    <td>D1</td>
                                    <td>D1</td>
                                    <td>OFF</td>
                                    <td>OFF</td>
                                </tr>
                                <tr>
                                    <td>吳佩珍</td>
                                    <td>督導長</td>
                                    <td>D1</td>
                                    <td>D1</td>
                                    <td>D1</td>
                                    <td>D1</td>
                                    <td>OFF</td>
                                    <td>OFF</td>
                                </tr>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
        </td>
    </tr>
</table>

