@model String
@{
    Layout = "~/Views/Layout/FormLayout.cshtml";
}

<style type="text/css">
    .Success {
        color: cornflowerblue;
    }

    .Fail {
        color: red;
    }
</style>

<div style="width:100%">
    <div style="justify-content: center; display: flex; font-size: 24px; font-weight: bold ">手術前護理</div>
    <div class="funcArea" style="margin-top:5px">
        <table border="0" style="width:100%;text-align:center">
            <tr>
                <td style="width:30%;">
                    <button type=button style="font-size: 24px; height: 150px; width: 50%; font-weight: bold " onclick="ChooseBrowser('WardCheckList')">
                        手術前護理單
                    </button>
                </td>
                <td style="width:30%;">
                    <button type=button style="font-size: 24px; height: 150px; width: 50%; font-weight: bold" onclick="ChooseBrowser('WardORList')">
                        手術前護理查核清單
                    </button>
                </td>
            </tr>
        </table>
    </div>
    <div id="messageBox" style=" font-size: 30px; margin-top: 10px">
    </div>
</div>

<script type="text/javascript">

    $(document).ready(function () {
    });

    function ChooseBrowser(Name) {
        $.ajax({
            type: 'POST',
            url: '@Url.Content("~/Gateway/GetDestinationURL")',
            data: {goDest: Name },
            success: function (data) {
                if (data.IsSuccess) {
                    window.open(data.URL, '');
                    $("#messageBox").addClass("Success");
                    if (Name == 'WardCheckList') {
                        $('#messageBox').html('已跳轉至手術前護理單');
                    }
                    else if (Name == 'WardORList') {
                        $('#messageBox').html('已跳轉至手術前護理查核清單');
                    }
                }
                else {
                    $("#messageBox").removeClass("Success");
                    if (Name == 'WardCheckList') {
                        $('#messageBox').html(data.MessageByNotSuccess);
                    }
                    else {
                        $('#messageBox').html('手術前護理單連線失敗，請聯繫資訊室人員處理');
                    }
                }
            }
        });
    }
</script>
