@{
    // 暫時亂數存取，要測試即時載入
    List<string[]> mqList = (List<string[]>)ViewData["mqInfo"];
    if (mqList != null && mqList.Count != 0)
    {
        foreach(string[] item in mqList)
        {
    <li style="text-align: right; color:blue;">@(item[1])</li>
        }
    }
}