@using NIS.Data;
@{
    ViewBag.Title = LanguagePack.SiteInfo.SiteName;
    List<UserInfo> EmployeeData = (List<UserInfo>)ViewData["EmployeeData"];
}

<style type="text/css">
    .BlockEmployee {
        display: inline-block;
        border: 1px #808080 solid;
        width: 80px;
        height: 40px;
        vertical-align: central;
        text-align: center;
        padding: 8px;
        margin: 10px 5px 0px 0px;
    }

    .BlockEmployeeSel {
        display: inline-block;
        border: 1px #11477c solid;
        width: 80px;
        height: 40px;
        vertical-align: central;
        text-align: center;
        padding: 8px;
        margin: 10px 5px 0px 0px;
        background-color: #dcdcdc;
        font-weight: bold;
    }
</style>
<script type="text/javascript">
    $('.BlockEmployee, .BlockEmployeeSel').click(function () {
        if ($(this).attr('class') == 'BlockEmployee') {
            $('.BlockEmployeeSel').attr('class', 'BlockEmployee');
            $(this).attr('class', 'BlockEmployeeSel');
        }
        else
            $(this).attr('class', 'BlockEmployee');
    });
</script>

<table style="width:100%">
    <tr>
        <td style="text-align:center;">
            @if (EmployeeData != null)
            {
                for (int i = 0; i <= EmployeeData.Count - 1; i++)
                {
                    <div class="BlockEmployee" employeeid="@(EmployeeData[i].EmployeesNo)" employeename="@(EmployeeData[i].EmployeesName)">
                        @(EmployeeData[i].EmployeesName)<br />@(EmployeeData[i].EmployeesNo)
                    </div>
                }
            }
        </td>
    </tr>
</table>