@{
    Layout = "~/Views/Layout/FormLayout.cshtml";
}

<div style="padding:10px;">
    <table id="CareRecordContent" style="text-align:center;width:auto;">
        <tr>
            <td>治療/處置</td>
            <td>紀錄內容(一般)</td>
        </tr>
        <tr>
            <td>
                <input type="text" id="title" value="@ViewBag.title" size="6" />            
            </td>
            <td>
                <textarea id="content" rows="10" cols="90">@ViewBag.content</textarea>            
            </td>
        </tr>
        <tr>
            <td colspan="2" style="text-align:center;">
                <input type="button" value="儲存" onclick="this.disabled = true; save_data($('#title').val(), $('#content').val());" />
            </td>
        </tr>
    </table>
</div>
