@{
    List<TextOrderRecord> TextOrderRecordList = new List<TextOrderRecord>();
    if (ViewData["TextOrderRecordInfo"] != null)
    {
        TextOrderRecordList = (List<TextOrderRecord>)ViewData["TextOrderRecordInfo"];
    }

}
<div style="margin-top:20px;">醫囑紀錄客觀資料：</div>
<div>【Obj.】</div>
@{
            if (TextOrderRecordList.Count > 0)
            {
                for (int i = 0; i < TextOrderRecordList.Count; i++)
                {
            <div style="text-align:left;margin-left:15px;">
                <label>@TextOrderRecordList[i].Content.ToString()</label>
            </div>
        }
    }
}
