@using NIS.Data;
@{
    Layout = "~/Views/Layout/FormLayout.cshtml";
}

<div>
    <span>API Name:</span>
    <select id="APIName">
        <option value="GetPatientBodyInfo" selected>GetPatientBodyInfo</option>
        <option value="GetSurgeryData">GetSurgeryData</option>
    </select>
    <span>FeeNo:</span>
    <input type="text" id="FeeNo" />
    <button onclick="GetAPIData()">test</button>
    <pre id="dataLabel"></pre>
</div>

<script>
    @*function GetSurgeryData() {
        $.ajax({
            type: 'POST',
            url: '@Url.Content("~/AIS/GetSurgeryData")',
            data: {
                key: "AISConnection"
            },
            success: function (data) {
                console.log(JSON.parse(data));
                $('#dataLabel').html(data);
            }
        });
    }*@

    function GetAPIData() {
        var URL = "/AIS/" + $('#APIName').val();
        var FeeNo = $('#FeeNo').val()??"";
        $.ajax({
            type: 'POST',
            url: URL,
            data: {
                key: "AISConnection",
                feeno: FeeNo
            },
            success: function (data) {
                console.log(JSON.parse(data));
                $('#dataLabel').html(JSON.stringify(JSON.parse(data), undefined, 2));
            }
        });
    }

</script>