@{
    Layout = null;
}
<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>護理資訊系統_HISView</title>
    </head>
    @if (ViewBag.fee_no != null && ViewBag.fee_no != "")
    {
    <Frameset rows="120,*" border=0>
        <Frame Src="./HView_Function?feeno=@ViewBag.fee_no" name="top">
        <Frame Src="" name="right">
    </Frameset>
    }
    else
    {
    <body style="text-align:center;">
        @if (ViewBag.fee_no == null)
        {
        <h2>無輸入參數！</h2>
        }
        else
        {
        <h2>查無此批價序號！</h2>
        }
    </body>
    }
</html>