@{
    Layout = "~/Views/Layout/FormLayout.cshtml";
   string feeno = ViewBag.feeno;
   string ExecFlag= ViewBag.ExecFlag;
   string TypeFlag= ViewBag.TypeFlag;
   string RootDocument=ViewBag.RootDocument;
   }
<script type="text/javascript">
 $(document).ready(function () {
        loadMedPage();
    });
    function loadMedPage()
    {
        $.ajax({//LOAD一個session
            type: 'post',
            url: '@(RootDocument)/HISView/WebS_ChangPtInfo',
            async: false,
            data: { 'strFeeNo': '@(feeno)' },
            success: function (data) {
            }
        });
        window.location.href = "@(RootDocument)/CommonMedication/Med_QueryExecLog?feeno=@(feeno)&ExecFlag=@(ExecFlag)&TypeFlag=@(TypeFlag)&IsHisView=true";
    }
</script>
<div id="div_med_query"></div>