@using System.Data;
@{
    ViewBag.Title = "Apply_List";
    Layout = "~/Views/Layout/FormLayout.cshtml";
    DataTable dt_func_list = ViewBag.dt_func_list;
}

<script type="text/javascript">
    $(function () {
        // 加入focus事件
        $(window).focus(function () {
            window.opener.parent.check_session();
        });

        $(window).resize(function () {
            $("#dataArea_2").outerHeight($(this).outerHeight() - 118);
        }).trigger("resize");
        setGridColor();
    });

    function setGridColor() {
        //格行換色
        $('.dataArea tr:odd').css('background', '#ABC8E2');
        $('.dataArea tr:even').css('background', '#E1E6FA');
    }

    function click_all(obj) {
        if (obj.checked) {
            $('input[name=func_list]').each(function () {
                if (!this.disabled)
                    this.checked = true;
            });
        }
        else {
            $('input[name=func_list]').each(function () {
                this.checked = false;
            });
        }
    }
</script>

<form action="Insert_Complement" method="post">
<div class="funcArea">
    <table border="0" cellpadding="0" cellspacing="0" style="width:100%;height:100%;text-align:left;">
        <tr>
            <td style="width:100%;height:100%;">
                @if (dt_func_list.Rows.Count > 0 && dt_func_list.Rows[0][0].ToString() != "N")
                {
                    <div  style="width:100%;height:100%;text-align:center;">
                    @if (dt_func_list.Rows[0][0].ToString() == "Y")
                    {
                        <label style="color:blue;">申請通過，補輸結束時間：@Convert.ToDateTime(dt_func_list.Rows[0][1]).ToString("yyyy/MM/dd")</label>
                    }
                    else
                    {
                        <label style="color:blue;font-size:16px;">資料補輸審核中</label>
                    }
                    </div>
                }
                else
                {
                <div style="padding-bottom:5px;text-align:center;">申請原因</div>
                <div>
                    @Html.TextArea("txt_Reason", "", 7, 45, new { })
                </div>
                <div style="padding-top:5px;text-align:center;">
                    <input type="button" id="check" value="確認" onclick="this.disabled = true; submit(); " />
                </div>
                }
            </td>
        </tr>
    </table>
</div>
</form>