<table border="0" width="100%">
    <tr><td>
            <input id="btn_blood_list" type="button" value="查詢血糖監測記錄" class="btn" onclick="document.location.href='./BloodSugar_List';" />
            <input id="btn_insulin" type="button" value="查詢胰島素注射記錄" class="btn" onclick="document.location.href='./Insulin_List';" />
            <input id="btn_set_reject" type="button" value="設定禁忌/拒打部位" class="btn" onclick="@Java_funcion.pup_window("Insulin_Set_reject", 900, 600, "")" />
            <input id="btn_print" type="button" value="列印治療單" class="btn" onclick="document.location.href='./Print_Single';" />
    </td></tr>
</table>  