<div class="funcArea">
    <table border="0" width="100%">
        <tr>
            <td style="width:40%;">
                <fieldset>
                    <legend>給藥紀錄</legend>
                    <table border="0" cellpadding="0" cellspacing="0" style="width:100%;" >
                        <tr>
                            <td style="height:30px;">
		                        <input id="btn_common_medexecute" type="button" value="執行給藥紀錄" onclick="document.location.href='../CommonMedicine/Med_Execute';" />
                                <!--<input id="btn_common_cancel" type="button" value="取消給藥紀錄" onclick="document.location.href = '../CommonMedicine/Med_Cancel';" /><br />
                                <input id="btn_common_search" type="button" value="查詢給藥紀錄" onclick="document.location.href='../CommonMedicine/Search_Print';" />
                                    <input id="btn_common_nogivemed" type="button" value="未給藥紀錄" onclick="document.location.href = '../CommonMedicine/NoGiveMed';" />
                                    -->
                                <input id="btn_common_queryexeclog1" type="button" value="查詢全部給藥紀錄" onclick="document.location.href = '../CommonMedicine/Med_QueryExecLog?id=all';" /><br />
                                <input id="btn_common_queryexeclog2" type="button" value="查詢已給藥紀錄" onclick="document.location.href = '../CommonMedicine/Med_QueryExecLog?id=ok';" />
                                <input id="btn_common_queryexeclog3" type="button" value="查詢未給藥紀錄" onclick="document.location.href = '../CommonMedicine/Med_QueryExecLog?id=not';" />
                                <input id="btn_common_queryexeclog4" type="button" value="查詢取消給藥紀錄" onclick="document.location.href = '../CommonMedicine/Med_QueryExecLog?id=cancel';" />
                                
                            </td>
                        </tr>
                    </table>
                </fieldset>
            </td>
  <td style="width:40%;">
                <fieldset>
                    <legend>血糖/胰島素/特殊藥物</legend>
                    <table border="0" cellpadding="0" cellspacing="0" style="width:100%;" >
                        <tr>
                            <td style="height:30px;">
                                <input id="btn_blood_list" type="button" value="查詢血糖監測記錄" onclick="location.href = '../BloodSugarAndInsulin/BloodSugar_List'" />
                            </td><td>
                                <input id="btn_specail_list" type="button" value="查詢特殊藥物注射紀錄" onclick="location.href='../SpecialMedicine/List'" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input id="btn_specail_reject" type="button" value="設定禁忌/拒打部位"" onclick="location.href='../SpecialMedicine/List';@Java_funcion.pup_window("../SpecialMedicine/Set_reject", 900, 600, "")" />
                            </td><td>
                                @*<input id="btn_insulin_list" type="button" value="查詢胰島素注射紀錄" onclick="location.href='../BloodSugarAndInsulin/Insulin_List'" />*@
                            </td>
                        </tr>
                    </table>
                </fieldset>
            </td>
            <td style="width:20%;">
                <fieldset>
                    <legend>化療給藥</legend>
                    <table border="0" cellpadding="0" cellspacing="0" style="width:100%;" >
                        <tr>
                            <td style="height:30px;">
                                <input id="btn_chemotherapy_execute" type="button" value="化療給藥紀錄" onclick="location.href='../ChemotherapyMedicine/Execute';" />
                   @*             <input id="btn_common_check" type="button" value="雙人覆核" onclick="@Java_funcion.pup_window("../CommonMedicine/Login", 350, 180, "");" /><br />
                                <input id="btn_chemotherapy_sign" type="button" value="化療藥品簽收" onclick="location.href='../ChemotherapyMedicine/Sign';" />*@
                         @*       <input id="btn_chemotherapy_print" type="button" value="查詢化療給藥與列印" onclick="location.href='../ChemotherapyMedicine/Print'" />*@
                            </td>
                        </tr>
                    </table>
                </fieldset>
            </td>          
        </tr>
    </table>
</div>