<?xml version="1.0" encoding="utf-8"?>
<appSettings>
  <!-- 
  EMRReference 電子病歷簽章上傳 Web Service 網址
  CHTEncrypt 電子病歷簽章加密 Web Service 網址
  TeamCareUrl 跨團隊平台 Web Service 網址
  TeamCare 是否拋轉跨團隊平台開關
  SmokingCessation 是否拋轉戒煙個管開關
  SmokingCessationUrl 戒煙個管 Web Service 網址
  HospitalNHIID 電子病歷使用之醫療機構 ID
  HospitalName 電子病歷使用之醫療機構名稱
  HospitalPprint 列印字樣
  Drugstore 跨團隊拋轉藥局成本中心代碼
  Rehabilitation 跨團隊拋轉復健科成本中心代碼
  NutritionRoom 跨團隊拋轉營養室成本中心代碼
  SocialStudio 跨團隊拋轉社工室成本中心代碼
  CommunityCare 跨團隊拋轉社區護部成本中心代碼
  AdminEMPNO 資訊護理師員
  Footer 護理紀錄是否列印頁尾開關
  WebServiceConnectionString 提供外部更新、寫入護理資訊系統連線字串
  Rule01 跨團隊拋轉條件是否有抽煙開關
  Rule02 跨團隊拋轉條件是否有戒煙意願開關
  Rule03 跨團隊拋轉條件是否吞嚥困難且進食方式非使用鼻胃管開關
  Rule04 跨團隊拋轉條件兒童生長曲線是否小於等於 3 開關
  Rule05 跨團隊拋轉條件兒童生長曲線是否大於等於 97 開關
  Rule06 跨團隊拋轉條件兒童營養評估中是否有因疾病之特殊飲食需求開關
  Rule07 跨團隊拋轉條件兒童營養評估中是否有近一週內食慾減少或增加 50% 開關
  Rule08 跨團隊拋轉條件兒童營養評估中是否有慢性腹瀉大於等於 2 個月開關
  Rule09 跨團隊拋轉條件食飲種類是否為管灌飲食且自備伙食開關
  Rule10 跨團隊拋轉條件是否吞嚥異常開關
  Rule11 跨團隊拋轉條件肌力為 0-2 分開關
  Rule12 跨團隊拋轉條件肌力為 3 分開關
  Rule13 跨團隊拋轉條病人無法自我照護開關
  Rule14 跨團隊拋轉條病人病人肢體攣縮開關
  Rule15 跨團隊拋轉條病人失語症開關
  Rule16 跨團隊拋轉條病人 BMI < 18.5 開關
  Rule17 跨團隊拋轉條病人禁食大於 5 天開關
  Rule18 跨團隊拋轉條病人食物攝取量少於 50% 以上開關
  Rule19 跨團隊拋轉條病人需要社工協助開關
  Rule20 跨團隊拋轉條病人半年內體重下降 6 kg 開關
  NewEMR 電子簽章上傳是否使用新版方式
   Isolation 隔離病人是否變色
  -->
  <add key="EMRReference" value="http://10.116.19.92:2018/service1.asmx"/>
  <add key="CHTEncrypt" value="http://10.116.19.92:2015/service1.asmx"/>
  <add key="TeamCareUrl" value="http://10.125.254.38/teamcare/TCDataService.asmx"/>
  <add key="TeamCare" value="Y"/>
  <add key="SmokingCessation" value="N" />
  <add key="SmokingCessationUrl" value="http://203.71.88.198:99/Services/csWebService.asmx"/>
  <add key="HospitalNHIID" value="1331040513"/>
  <add key="HospitalName" value="衛生福利部雙和醫院"/>
  <add key="HospitalPrint" value="F-8100-081D 衛生福利部雙和醫院 100年 4 月 15 日病歷管理委員會審查通過"/>
  <add key="Drugstore" value="7200"/>
  <add key="Rehabilitation" value="4200"/>
  <add key="NutritionRoom" value="F100"/>
  <add key="SocialStudio" value="E900"/>
  <add key="CommunityCare" value="8200" />
  <add key="AdminEMPNO" value="09277" />
  <add key="Footer" value="N" />
  <add key="WebServiceConnectionString" value="Provider=MSDAORA;Data Source=MayaDB;Persist Security Info=True;Password=nis_cht;User ID=nis_cht" />
  <add key="TeamCareConnectionString" value="Data Source=10.125.254.38;Initial Catalog=teamcare;User ID=teamcare_sa;Password=teamcare" />
  <add key="Rule01" value="Y" />
  <add key="Rule02" value="Y" />
  <add key="Rule03" value="Y" />
  <add key="Rule04" value="Y" />
  <add key="Rule05" value="Y" />
  <add key="Rule06" value="Y" />
  <add key="Rule07" value="Y" />
  <add key="Rule08" value="Y" />
  <add key="Rule09" value="Y" />
  <add key="Rule10" value="Y" />
  <add key="Rule11" value="Y" />
  <add key="Rule12" value="Y" />
  <add key="Rule13" value="Y" />
  <add key="Rule14" value="Y" />
  <add key="Rule15" value="Y" />
  <add key="Rule16" value="Y" />
  <add key="Rule17" value="Y" />
  <add key="Rule18" value="Y" />
  <add key="Rule19" value="Y" />
  <add key="Rule20" value="Y" />
  <add key="NewEMR" value="Y" />
  <add key="NewEMR_AutoClose" value="N" />
  <add key="Transfer" value="N"/>
  <add key="Isolation" value="N"/>
  <add key="JagEMRReference" value="http://10.65.1.128/JTWebServiceEX/EMRServiceEX.asmx"/>
  <add key="vs:EnableBrowserLink" value="false" />
  <add key="aspnet:MaxHttpCollectionKeys" value="1000000" />
  <add key="aspnet:MaxJsonDeserializerMembers" value="1000000" />
</appSettings>