@{
    Layout = "~/Views/Layout/FormLayout.cshtml";
}

<script type="text/javascript">
    $(function () {
        //$(".tabContent").load('../Assessment/ObstetricsAssessment').fadeIn(500);
    });

    function changeAssessment(url) {
        var goUrl = '../Assessment/' + url;
        $(".tabContent").load(goUrl).fadeIn(500);
    }

</script>

<div class="funcArea">
    <label for="lab">評估專科類型：</label>
    <select name="assessmentType" onchange="changeAssessment(this.value)" style="width: 220px; font-size: 16px; height: 25px;">
        <option value="">=======請選擇=======</option>
        <option value="ObstetricsAssessment">婦產科評估</option>
        <option value="SpiritAssessment">精神科評估</option>
    </select>
    &emsp;&emsp;
    <input id="but_add_io" class="btn" type="button" value="儲存" />
</div>
<div class="tabContent">
</div>
