@using NIS.Data;
@using System.Data;
@{
    Layout = "~/Views/Layout/FormLayout.cshtml";
    string Assessment = ViewBag.Assessment;
    string child_assess = ViewBag.child_assess;
}

<script type="text/javascript">

    //function setContentSize() {
    //    var h = $(document).height() - 170;
    //    if (h <= 510)
    //        h = 510;
    //    $("#na_content").height(h);

    //    $(window).resize(function () {
    //        $("#na_content").height($(this).outerHeight() - 180);
    //    }).trigger("resize");
    //}
    $(document).ready(function () {
        //$(window).css({ "padding": "0px", "margin": "0px" }).resize(function () { setContentSize(); }).trigger("resize");

       /* $(window).resize(function () {
            $("#na_content").height($(this).outerHeight() - 30);
        }).trigger("resize");*/
        close_pup_window();
        $("#na_type").change(function () {
            $("#block,#loading").show();
            if ($(this).val() == "B") {
                window.location.href = '../Assessment/AssessmentBody?na_type=B';
            }else if ($(this).val() == "R") {
                window.location.href = '../Assessment/AssessmentBody?na_type=R';
            }else{
                $("#na_content").attr("src", "../Assessment/AssessmentContent?na_type=" + $(this).val());
            }
        }).trigger("change");

        $('#na_content').load(function () {
            //當網頁載入完畢後
            $("#block,#loading").hide();
            $(window).resize(function () {
                $("#na_content").height($(this).outerHeight() - 30);
            }).trigger("resize");
            $('#na_content').fadeIn(200);
        });
    });
    function pup_window(url) {
        new_window.push(window.open("../Assessment/AssessmentChild?seqno=" + url, 'top_dialog', 'menubar=no,status=no,scrollbars=yes,top=0,resizable=yes,left=200,toolbar=no,width=730,height=450'));
    }
</script>
<style type="text/css">
        #block {
        position: fixed;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        z-index: 1;
        background-color: #666;
        /* other browsers */
        opacity: 0.65;
        /* this works in IE6, IE7, and IE8 */
        filter: alpha(opacity=65);
        /* this works in IE8 only */
        display: none;
    }
    #loading {
        position: fixed;
        text-align: center;
        left: 50%;
        top: 50%;
        height: 50px;
        width: 200px;
        margin-top: -25px;
        margin-left: -100px;
        _position: absolute;
        color: #040FD9;
        font-weight: bold;
        z-index: 99;
        display: none;
    }
</style>
@{
  
    Dictionary<string, string> na_item_list = (Dictionary<string, string>)ViewData["na_item_list"];
    <label>請選擇評估單類型：@(Html.DropDownList("na_type", new SelectList(na_item_list, "Key", "Value", @Assessment)))</label>
    <input type="button" class="tab_control"  value="入院護理評估O" onclick="location.href = '../Assessment/AssessmentList';"/>
    <input type="button" class="tab_control"  value="專科評估O" onclick="location.href = '../Assessment/AssessmentSpecial';"/>
    if(child_assess != null)
    {
    <input type="button" class="tab_control"  value="兒童發展評估" onclick="pup_window('@child_assess')"/>
    }
    <iframe id="na_content" width="100%" frameborder="0" scrolling="no"></iframe>
}
<div id="block"></div>
<div id="loading">
    <label for="lab" style="font-size:16px">Loading...</label><br />
    <img src="~/Images/loading.gif" alt="" border="0" />
</div>