@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Layout/FormLayout.cshtml";
}
<style type="text/css">
    input[type="button"] {
        height: 75%;
        width: 60%;
        font-weight: bold;
    }

    td {
        height: 50%;
        width: 50%;
    }
</style>

<script type="text/javascript">
    $(function () {
        $(window).resize(function () {
            var height = $(this).outerHeight();
            if (height <= 300)
                height = 450;
            $("table").outerHeight(height - 30);
        }).trigger("resize");
    });
</script>

<div class="funcArea">
    <table border="0" style="width:100%;text-align:center;">
        <tr>
            <td style="width:30%;">
                <input type="button" style="font-size:24px;height:150px" value="執行檢查資料輸入" onclick="window.location.href = '../Obstetrics/Production'" />
            </td>
            <td style="width:30%;">
                <input type="button" style="font-size:24px;height:150px" value="產嬰報表" onclick="window.location.href = '../Obstetrics/OBSReport'" />
            </td>
        </tr>
    </table>
</div>
