@{
    Layout = "~/Views/Layout/FormLayout.cshtml";
    NIS.Data.PatientInfo pf = (NIS.Data.PatientInfo)ViewData["ptinfo"];
    TimeSpan diff = DateTime.Now - pf.Birthday;
    int childAge = Convert.ToInt32(diff.TotalDays);
    string title = ViewBag.Title;
}
<style>
    * {
        font-family: TimesNewRoman, "標楷體", EUDC !important;
    }
</style>

<!--Title-->
<table style="width:100%;">
    <tr>
        <td colspan="4" style="text-align:center;font-size:22pt !important;">@title</td>
    </tr>
</table>
@if (title != "嬰兒出生紀錄單")
{
    <table style="width:100%;border-top:1px solid;border-bottom:1px solid">
        <tr style="font-size:14pt !important;">
            <td>姓名：@pf.PatientName</td>
            <td>病歷號碼： @pf.ChartNo.PadLeft(10, '0')</td>
            <td>性別：@pf.PatientGender</td>
            @if (pf.Birthday != null)
            {
                if (title == "生產紀錄單")
                {
                    <td>生日：@Convert.ToDateTime(pf.Birthday).ToString("yyyy/MM/dd") (@pf.Age 歲)</td>
                }
                else
                {
                    <td>生日：@Convert.ToDateTime(pf.Birthday).ToString("yyyy/MM/dd") (@childAge 天)</td>
                }
            }
            else
            {
                <td>生日：</td>
            }
        </tr>
        <tr style="font-size:14pt !important;">
            <td>科別：@pf.DeptName</td>
            <td>主治醫師：@pf.DocName</td>
            <td>床號：@pf.BedNo</td>
            @if (title != "生產紀錄單")
            {
                if (pf.InDate != null)
                {
                    <td>住院日期：@Convert.ToDateTime(pf.InDate).ToString("yyyy/MM/dd HH:mm")</td>
                }
                else
                {
                    <td>住院日期：</td>
                }
            }
            else
            {
                <td></td>
            }
        </tr>
    </table>
}
