@using System.Data;
@{
    ViewBag.Title = "NASS_List";
    Layout = "~/Views/Layout/FormLayout.cshtml";
    DataTable dt = ViewBag.dt;
    bool IsHisView = ViewBag.IsHisView;
}

<link href="~/Content/StyleSheet/BabySystem.css" rel="stylesheet" />
<script>
    $(function () {
        setGridColor();
        //設定高度
        $(window).resize(function () {
            var height = $(this).outerHeight();
            if (height <= 300)
                height = 450;
            $(".dataArea").outerHeight(height - 360);
        }).trigger("resize");
    });

    //格行換色
    function setGridColor() {
        $('.dataArea tr:odd').css('background', '#ABC8E2');
        $('.dataArea tr:even').css('background', '#E1E6FA');

        $('.head').css('background', '#85A5CC');
    }

    function set_row(url) {
        var ck = $('input[type=checkbox]:checked');
        if (ck.length == 0)
            alert('請選擇紀錄!');
        else if (ck.length > 1)
            alert("只能選擇一筆!");
        else {
            var row = '';
            for (var i = 0; i < ck.length; i++) {
                if (ck[i].checked)
                    row = row + ck[i].value + ',';
            }
            if (row != '') {
                row = row.substring(0, row.length - 1);
                new_window.push(window.open(url + '?IID=' + row, '', 'menubar=no,status=no,scrollbars=yes,top=0,left=200,toolbar=no,width=950,height=700'));
            }
        }
    }

    function Delete() {
        $.ajax({
            url: '../BabyBorn/Del_NASS',
            type: 'post',
            dataType: 'json',
            data: $('form').serialize(),
            success: function (data) {
                if (Number(data) > 0) {
                    alert('刪除成功');
                } else {
                    alert('刪除失敗');
                }
                window.location.href = '../Obstetrics/Index?active=NASS_List';
            },
            failure: function (errMsg) {
                alert('刪除失敗');
                window.location.href = '../Obstetrics/Index?active=NASS_List';
            }
        });
    }
</script>

@if (IsHisView != true)
{
    <div class="funcArea">
        <input type="button" value="新增" style="width:50px;" onclick="@Java_funcion.pup_window("../BabyBorn/Insert_NASS", 950,700, "0")" />
        <input type="button" value="修改" style="width:50px;" onclick="set_row('../BabyBorn/Insert_NASS');" />
        <input type="button" value="刪除" style="width:50px;" onclick="if ($('input[type=checkbox]:checked').length > 0) { if (confirm('確認刪除?')) { Delete(); } } else { alert('請選擇紀錄!'); }" />
    </div>
}
<div class="funcArea">
    <form action="Del_NASS" method="post">
        <table border="0" cellspacing="0" cellpadding="0" style="width:100%;table-layout:fixed">
            <tr>
                <td>
                    <div class="dataHeader">
                        <table border="0" cellpadding="4" cellspacing="1" style="width:100%;font-size:14px;">
                            <tr>
                                <td rowspan="2" style="width:8%">評估時間</td>
                                <td colspan="8" style="width:36%">中樞神經系統</td>
                                <td colspan="4" style="width:20%">腸胃系統</td>
                                <td colspan="8" style="width:35%">其他</td>
                                <td rowspan="2" style="width:1%">總分</td>
                            </tr>
                            <tr>
                                <td style="width:4%">哭鬧</td>
                                <td style="width:5%">飯後<br />睡眠</td>
                                <td style="width:6%">驚嚇反射</td>
                                <td style="width:7%">顫抖</td>
                                <td style="width:4%">肌肉張力增強</td>
                                <td style="width:2%">脫皮</td>
                                <td style="width:4%">肌躍型<br />抽慉</td>
                                <td style="width:4%">全身性<br />痙攣</td>

                                <td style="width:4%">過度的<br />吸吮動作</td>
                                <td style="width:8%">
                                    餵食狀況差<br />(喝奶速度慢或不足)
                                </td>
                                <td style="width:5%">溢奶</td>
                                <td style="width:3%">排便</td>

                                <td style="width:2%">流汗</td>
                                <td style="width:7%">發燒</td>
                                <td style="width:5%">時常打哈欠<br />(每半小時<br />大於3-4 次)</td>
                                <td style="width:5%">皮膚顏色<br />呈現斑紋狀</td>
                                <td style="width:2%">鼻塞</td>
                                <td style="width:5%">時常打噴涕<br />(每半小時<br />大於3-4 次)</td>
                                <td style="width:2%">鼻翼<br />搧動</td>
                                <td style="width:7%">呼吸速率</td>
                            </tr>
                        </table>
                    </div>
                    <div class="dataArea" style="height:190px;">
                        @if (dt != null)
                        {
                            <table border="0" cellpadding="4" cellspacing="1" style="width:100%;font-size:14px;text-align:center;">
                                @foreach (DataRow r in dt.Rows)
                                {
                                    <tr>
                                        <td style="width:8%;text-align:center;vertical-align:central">
                                            <input type="checkbox" name="IID" value="@r["IID"]" />@Convert.ToDateTime(r["ASMT_TIME"]).ToString("yyyy/MM/dd HH:mm")
                                        </td>
                                        @{
                                            if (r["EV1"].ToString() != "")
                                            {
                                                var EV1 = r["EV1"].ToString();
                                                if (EV1 == "2")
                                                {
                                                    <td style="width:4%">過度哭鬧<br />(2)</td>
                                                }
                                                else if (EV1 == "3")
                                                {
                                                    <td style="width:4%">持續不停哭鬧<br />(3)</td>
                                                }
                                                else
                                                {
                                                    <td style="width:4%"></td>
                                                }
                                            }
                                            else
                                            {
                                                <td style="width:4%"></td>
                                            }
                                        }
                                        @{
                                            if (r["EV2"].ToString() != "")
                                            {
                                                var EV2 = r["EV2"].ToString();
                                                if (EV2 == "1")
                                                {
                                                    <td style="width:5%">飯後睡眠<br />小於3小時<br />(1)</td>
                                                }
                                                else if (EV2 == "2")
                                                {
                                                    <td style="width:5%">飯後睡眠<br />小於2小時<br />(2)</td>
                                                }
                                                else if (EV2 == "3")
                                                {
                                                    <td style="width:5%">飯後睡眠<br />小於1小時<br />(3)</td>
                                                }
                                                else
                                                {
                                                    <td style="width:5%"></td>
                                                }
                                            }
                                            else
                                            {
                                                <td style="width:5%"></td>
                                            }
                                        }
                                        @{
                                            if (r["EV3"].ToString() != "")
                                            {
                                                var EV3 = r["EV3"].ToString();
                                                if (EV3 == "2")
                                                {
                                                    <td style="width:6%">過度驚嚇反射<br />(2)</td>
                                                }
                                                else if (EV3 == "3")
                                                {
                                                    <td style="width:6%">極度驚嚇反射<br />(3)</td>
                                                }
                                                else
                                                {
                                                    <td style="width:6%"></td>
                                                }
                                            }
                                            else
                                            {
                                                <td style="width:6%"></td>
                                            }
                                        }
                                        @{
                                            if (r["EV4"].ToString() != "")
                                            {
                                                var EV4 = r["EV4"].ToString();
                                                if (EV4 == "1")
                                                {
                                                    <td style="width:7%">受干擾時<br />肢體輕微顫抖<br />(1)</td>
                                                }
                                                else if (EV4 == "2")
                                                {
                                                    <td style="width:7%">受干擾時<br />肢體中度或嚴重顫抖<br />(2)</td>
                                                }
                                                else if (EV4 == "3")
                                                {
                                                    <td style="width:7%">未受干擾時<br />肢體輕微顫抖<br />(3)</td>
                                                }
                                                else if (EV4 == "4")
                                                {
                                                    <td style="width:7%">未受干擾時<br />肢體中度或嚴重顫抖<br />(4)</td>
                                                }
                                                else
                                                {
                                                    <td style="width:7%"></td>
                                                }
                                            }
                                            else
                                            {
                                                <td style="width:7%"></td>
                                            }
                                        }
                                        @{
                                            if (r["EV5"].ToString() != "")
                                            {
                                                var EV5 = r["EV5"].ToString();
                                                if (EV5 == "2")
                                                {
                                                    <td style="width:4%">有(2)</td>
                                                }
                                                else
                                                {
                                                    <td style="width:4%"></td>
                                                }
                                            }
                                            else
                                            {
                                                <td style="width:4%"></td>
                                            }
                                        }
                                        @{
                                            if (r["EV6"].ToString() != "")
                                            {
                                                var EV6 = r["EV6"].ToString();
                                                if (EV6 == "1")
                                                {
                                                    <td style="width:2%">有(1)</td>
                                                }
                                                else
                                                {
                                                    <td style="width:2%"></td>
                                                }
                                            }
                                            else
                                            {
                                                <td style="width:2%"></td>
                                            }
                                        }
                                        @{
                                            if (r["EV7"].ToString() != "")
                                            {
                                                var EV7 = r["EV7"].ToString();
                                                if (EV7 == "3")
                                                {
                                                    <td style="width:4%">有(3)</td>
                                                }
                                                else
                                                {
                                                    <td style="width:4%"></td>
                                                }
                                            }
                                            else
                                            {
                                                <td style="width:4%"></td>
                                            }
                                        }
                                        @{
                                            if (r["EV8"].ToString() != "")
                                            {
                                                var EV8 = r["EV8"].ToString();
                                                if (EV8 == "5")
                                                {
                                                    <td style="width:4%">有(5)</td>
                                                }
                                                else
                                                {
                                                    <td style="width:4%"></td>
                                                }
                                            }
                                            else
                                            {
                                                <td style="width:4%"></td>
                                            }
                                        }
                                        @{
                                            if (r["EV9"].ToString() != "")
                                            {
                                                var EV9 = r["EV9"].ToString();
                                                if (EV9 == "1")
                                                {
                                                    <td style="width:4%">有(1)</td>
                                                }
                                                else
                                                {
                                                    <td style="width:4%"></td>
                                                }
                                            }
                                            else
                                            {
                                                <td style="width:4%"></td>
                                            }
                                        }
                                        @{
                                            if (r["EV10"].ToString() != "")
                                            {
                                                var EV10 = r["EV10"].ToString();
                                                if (EV10 == "2")
                                                {
                                                    <td style="width:8%">有(2)</td>
                                                }
                                                else
                                                {
                                                    <td style="width:8%"></td>
                                                }
                                            }
                                            else
                                            {
                                                <td style="width:8%"></td>
                                            }
                                        }
                                        @{
                                            if (r["EV11"].ToString() != "")
                                            {
                                                var EV11 = r["EV11"].ToString();
                                                if (EV11 == "2")
                                                {
                                                    <td style="width:5%">容易溢奶<br />(與一般<br />新生兒比較)<br />(2)</td>
                                                }
                                                else if (EV11 == "3")
                                                {
                                                    <td style="width:5%">噴射狀嘔吐<br />(3)</td>
                                                }
                                                else
                                                {
                                                    <td style="width:5%"></td>
                                                }
                                            }
                                            else
                                            {
                                                <td style="width:5%"></td>
                                            }
                                        }
                                        @{
                                            if (r["EV12"].ToString() != "")
                                            {
                                                var EV12 = r["EV12"].ToString();
                                                if (EV12 == "2")
                                                {
                                                    <td style="width:3%">糊便<br />(2)</td>
                                                }
                                                else if (EV12 == "3")
                                                {
                                                    <td style="width:3%">水便<br />(3)</td>
                                                }
                                                else
                                                {
                                                    <td style="width:3%"></td>
                                                }
                                            }
                                            else
                                            {
                                                <td style="width:3%"></td>
                                            }
                                        }
                                        @{
                                            if (r["EV13"].ToString() != "")
                                            {
                                                var EV13 = r["EV13"].ToString();
                                                if (EV13 == "1")
                                                {
                                                    <td style="width:2%">有(1)</td>
                                                }
                                                else
                                                {
                                                    <td style="width:2%"></td>
                                                }
                                            }
                                            else
                                            {
                                                <td style="width:2%"></td>
                                            }
                                        }
                                        @{
                                            if (r["EV14"].ToString() != "")
                                            {
                                                var EV14 = r["EV14"].ToString();
                                                if (EV14 == "1")
                                                {
                                                    <td style="width:7%">發燒37.3~38.3℃<br />(1)</td>
                                                }
                                                else if (EV14 == "2")
                                                {
                                                    <td style="width:7%">發燒大於或等於<br />38.4℃(≧38.4℃)<br />(2)</td>
                                                }
                                                else
                                                {
                                                    <td style="width:7%"></td>
                                                }
                                            }
                                            else
                                            {
                                                <td style="width:7%"></td>
                                            }
                                        }
                                        @{
                                            if (r["EV15"].ToString() != "")
                                            {
                                                var EV15 = r["EV15"].ToString();
                                                if (EV15 == "1")
                                                {
                                                    <td style="width:5%">有(1)</td>
                                                }
                                                else
                                                {
                                                    <td style="width:5%"></td>
                                                }
                                            }
                                            else
                                            {
                                                <td style="width:5%"></td>
                                            }
                                        }
                                        @{
                                            if (r["EV16"].ToString() != "")
                                            {
                                                var EV16 = r["EV16"].ToString();
                                                if (EV16 == "1")
                                                {
                                                    <td style="width:5%">有(1)</td>
                                                }
                                                else
                                                {
                                                    <td style="width:5%"></td>
                                                }
                                            }
                                            else
                                            {
                                                <td style="width:5%"></td>
                                            }
                                        }
                                        @{
                                            if (r["EV17"].ToString() != "")
                                            {
                                                var EV17 = r["EV17"].ToString();
                                                if (EV17 == "1")
                                                {
                                                    <td style="width:2%">有(1)</td>
                                                }
                                                else
                                                {
                                                    <td style="width:2%"></td>
                                                }
                                            }
                                            else
                                            {
                                                <td style="width:2%"></td>
                                            }
                                        }
                                        @{
                                            if (r["EV18"].ToString() != "")
                                            {
                                                var EV18 = r["EV18"].ToString();
                                                if (EV18 == "2")
                                                {
                                                    <td style="width:5%">有(2)</td>
                                                }
                                                else
                                                {
                                                    <td style="width:5%"></td>
                                                }
                                            }
                                            else
                                            {
                                                <td style="width:5%"></td>
                                            }
                                        }
                                        @{
                                            if (r["EV19"].ToString() != "")
                                            {
                                                var EV19 = r["EV19"].ToString();
                                                if (EV19 == "1")
                                                {
                                                    <td style="width:2%">有(1)</td>
                                                }
                                                else
                                                {
                                                    <td style="width:2%"></td>
                                                }
                                            }
                                            else
                                            {
                                                <td style="width:2%"></td>
                                            }
                                        }
                                        @{
                                            if (r["EV20"].ToString() != "")
                                            {
                                                var EV20 = r["EV20"].ToString();
                                                if (EV20 == "1")
                                                {
                                                    <td style="width:7%">呼吸速率<br />大於每分鐘60次<br />(1)</td>
                                                }
                                                else if (EV20 == "2")
                                                {
                                                    <td style="width:7%">呼吸速率<br />大於每分鐘60次<br />合併胸凹<br />(2)</td>
                                                }
                                                else
                                                {
                                                    <td style="width:7%"></td>
                                                }
                                            }
                                            else
                                            {
                                                <td style="width:7%"></td>
                                            }
                                        }
                                        <td style="width:1%">@r["TOTAL"]</td>
                                    </tr>
                                }
                            </table>
                        }
                    </div>
                </td>
            </tr>
        </table>
    </form>
</div>
