@{
    Layout = "~/Views/Layout/FormLayout.cshtml";
    DataTable DT = ViewBag.DT;
}
@using System.Data;
<style type="text/css">
    .dataArea td {
        border-bottom: 1px solid rgba(20%,20%,40%,0.5);
        text-align: left;
        height: 25px;
    }

    .dataHeader td {
        height: 10px;
    }
</style>

<script type="text/javascript">
    $(function () {
        setGridColor();
    });

    function setGridColor() {
        //格行換色
        var tr = $('.dataArea tr');
        var color = '#ABC8E2';
        for (var i = 0; i < tr.length; i++) {
            if ($(tr[i]).css('display') != 'none') {
                $(tr[i]).css('background', color);
                if (color == '#ABC8E2')
                    color = '#E1E6FA';
                else
                    color = '#ABC8E2';
            }
        }
        $('.head').css('background', '#85A5CC');
    }
</script>
<form method="post" action="SaveSharedMaintain">
    <table border="0" cellpadding="0" cellspacing="0" style="width:100%;">
        <tr>
            <td>
                <div class="dataHeader">
                    <table border="0" cellpadding="4" cellspacing="1" style="width:100%;">
                        <tr>
                            <td style="width: 30%; ">
                                顯示名稱
                            </td>                        
                            <td style=" width: 70%; ">
                                處置項目
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="dataArea" style="height:400px;">
                    <table border="0" cellpadding="4" cellspacing="1" style="width: 100%;">
                        @foreach (DataRow r in DT.Rows)
                        {
                            <tr>
                                <td style="width: 30%; ">
                                    <input type="hidden" id="HidModelID@(r["svo_id"])" name="HidModelID" value="@r["svo_id"]" />
                                    <input readonly type="hidden" id="TxtTitle@(r["svo_id"])" name="TxtTitle" value="@r["title"]@r["remark"]" class="form-control input-sm req_text" style="width:200px;" onchange="this.value=this.value.replace(/[,]/g,'，')" />
                                    <label>@r["title"]@r["remark"]</label>
                                </td>
                                <td style=" width: 70%; ">
                                    <input type="text" id="TxtItem@(r["svo_id"])" style="width:95%" name="TxtItem" value="@r["item"]" class="form-control input-sm" onchange="this.value=this.value.replace(/[,]/g,'，')" />
                                </td>
                            </tr>
                        }
                    </table>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div align="center">
                    <input class="btn btn-primary btn-sm" type="button" value="儲存" onclick="submit();" />
                </div>
            </td>
        </tr>
    </table>
</form>