@using NIS.Data;
@{
    Layout = "~/Views/Layout/FormLayout.cshtml";
    string fee_no = ViewBag.fee_no;
    string chr_no = ViewBag.chr_no;
}
<style type="text/css">

    .pt_info label {
        padding: 5px 10px 5px 10px;
        font-size: 14px;
        font-family: "微軟正黑體";
        background: #E1E6FA;
        border: 1px solid #CCCCCC;
        border-right: 2px solid #AAAAAA;
        border-bottom: 2px solid #AAAAAA;
        display: inline-block;
    }
    input[type=button] {
        padding: 5px 10px 5px 10px;
        height: 28px;
        font-size: 16px;
    }
</style>

<script type="text/javascript">
    $(document).ready(function () {
        close_pup_window();
        // 含有to的按鈕該做的事情
        $("input[to]").click(function () {

            $("input[to]").css("color", "black");
            $(this).css("color", "blue");

            var cUrl = $(this).attr("to");
            switch ($(this).attr("optype")) {
                case "I":
                    $("#loading").show();
                    $("input[to]").prop("disabled", true);
                    $(".dataViewer").stop().hide("slide", {
                        direction: 'left',
                        duration: 200,
                        complete: function () {
                            $.ajax({
                                url: cUrl,
                                success: function (data) {
                                    $(".dataViewer").html(data).show("slide", {
                                        direction: 'right',
                                        duration: 200,
                                        complete: function () {
                                            $("input[to]").prop("disabled", false);
                                            $("#loading").fadeOut(1000);
                                        }
                                    });
                                }
                            });
                        }
                    });
                    break;
                case "B":
                    new_window.push(window.open(cUrl, "newwin", "menubar=no, status=no, titlebar=no, toolbar=no, directories=no, channelmode=no"));
                    break;
                case "P":
                    $("#block,#loading").show();
                    window.parent.hide_ptinfo(cUrl, '交班單');
                    break;
            }

        });

        $("input[value=交班明細]").trigger('click');

        $(window).resize(function () {
            var height = $(this).outerHeight();
            if (height <= 300)
                height = 450;
            $(".dataViewer").outerHeight(height - 190);
            $("#loading").show();
        }).trigger("resize");

        @if (Request["message"] != null)
        {
            @:showHint("@(Request["message"].ToString())");
        }
    });
</script>
<p class="but_area">
    <input type="button" optype="I" to="../TransferDuty/TransferDuty_Main?fee_no=@(fee_no)&chr_no=@(chr_no)" value="交班明細" />
    <input type="button" optype="I" to="../TransferDuty/TransferDuty_Item?fee_no=@(fee_no)&flag=spec" value="特殊交班" />
    <input type="button" optype="I" to="../TransferDuty/TransferDuty_Item?fee_no=@(fee_no)&flag=vital" value="生命徵象" />
    <input type="button" optype="I" to="../TransferDuty/TransferDuty_Item?fee_no=@(fee_no)&flag=gcs" value="意識狀況" />
    <input type="button" optype="I" to="../TransferDuty/TransferDuty_Item?fee_no=@(fee_no)&flag=io" value="輸入/輸出" />
    <input type="button" optype="I" to="../TransferDuty/TransferDuty_Item?fee_no=@(fee_no)&flag=tube" value="管路" />
    <input type="button" optype="I" to="../TransferDuty/TransferDuty_Item?fee_no=@(fee_no)&flag=assess" value="評估結果" />
    <input type="button" optype="I" to="../TransferDuty/TransferDuty_Item?fee_no=@(fee_no)&flag=lab" value="檢驗" />
    <input type="button" optype="I" to="../TransferDuty/TransferDuty_Item?fee_no=@(fee_no)&flag=exam" value="檢查" />
    <input type="button" optype="I" to="../TransferDuty/TransferDuty_Item?fee_no=@(fee_no)&flag=call" value="會診" />
    <input type="button" optype="I" to="../TransferDuty/TransferDuty_Item?fee_no=@(fee_no)&flag=blood" value="血庫" />
    <input type="button" optype="I" to="../TransferDuty/TransferDuty_Item?fee_no=@(fee_no)&flag=op" value="手術" />
    <input type="button" optype="I" to="../TransferDuty/TransferDuty_Item?fee_no=@(fee_no)&flag=nur" value="護理問題" />
    <input type="button" optype="P" to="../TransferDuty/TransferDuty_List" value="返回" />
</p>
<div class="dataViewer">
</div>

<style type="text/css">
        #block {
        position: fixed;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        z-index: 1;
        background-color: #666;
        /* other browsers */
        opacity: 0.65;
        /* this works in IE6, IE7, and IE8 */
        filter: alpha(opacity=65);
        /* this works in IE8 only */
        display: none;
    }
    #loading {
        position: fixed;
        text-align: center;
        left: 50%;
        top: 50%;
        height: 50px;
        width: 200px;
        margin-top: -25px;
        margin-left: -100px;
        _position: absolute;
        color: #040FD9;
        font-weight: bold;
        z-index: 99;
        display: none;
    }
</style>
<div id="block"></div>
<div id="loading">
    <label for="lab" style="font-size:16px">Loading...</label><br />
    <img src="~/Images/loading.gif" alt="" border="0" />
</div>