@using NIS.Data;

<script type="text/javascript">
    $(document).ready(function () {
        $('.dataHeader th').css('background', '#85A5CC');
        $('.dataArea tr:odd').css('background', '#ABC8E2');
        $('.dataArea tr:even').css('background', '#E1E6FA');
    });
</script>

<style type="text/css">
    #OrderTable {
        table-layout: fixed;
        white-space: nowrap;
        background-color: #FFFFFF;
        text-align: center;
    }
</style>
<div class="dataHeader">
    <table id="OrderTable" width="900" border="0" cellpadding="4" cellspacing="1">
        <tr>
            <th width="100">囑型</th>
            <th width="150">開始時間</th>
            <th width="150">結束時間</th>
            <th width="500">醫囑內容</th>
        </tr>
    </table>
</div>

<div class="dataArea">
    @{
        if (ViewData["textorder"] != null)
        {

            List<TextOrder> toList = (List<TextOrder>)ViewData["textorder"];
        <table id="OrderTable" width="900" border="0" cellpadding="4" cellspacing="1">
            @for (int i = 0; i <= toList.Count - 1; i++)
            {
                <tr>
                    <td width="100">@(toList[i].Category)</td>
                    <td width="150">
                        @if (toList[i].OrderStartDate != DateTime.MinValue)
                        { 
                            @(toList[i].OrderStartDate.ToString("yyyy/MM/dd"))
                        }
                    </td>
                    <td width="150">
                        @if (toList[i].OrderEndDate != DateTime.MaxValue) { 
                            @(toList[i].OrderEndDate.ToString("yyyy/MM/dd"))
                        }
                    </td>
                    <td width="500" style="text-align: left;">@(toList[i].Content)</td>
                </tr>
            }


        </table>
        }
    }
</div>
