@using System.Data;
@{
    ViewBag.Title = "TeamCare_List";
    Layout = "~/Views/Layout/FormLayout.cshtml";
}

<style type="text/css">
  .dataArea td {
    border-bottom: 1px solid rgba(20%,20%,40%,0.5) ;
    text-align: left;
  }
</style>

<script type="text/javascript">
    $(function () {
        // 加入focus事件
        $(window).focus(function () {
            window.opener.parent.check_session();
        });
        $(window).resize(function () {
            var height = $(this).outerHeight();
            if (height <= 300)
                height = 450;
            $(".dataArea").outerHeight(height - 80);
        }).trigger("resize");
        setGridColor();
    });

    function setGridColor() {
        //格行換色
        $('.dataArea tr:odd').css('background', '#ABC8E2');
        $('.dataArea tr:even').css('background', '#E1E6FA');
    }

</script>

@{
    DataTable dt_TC = ViewBag.dt_TC;
}
<div class="funcArea">
    <table border="0" cellpadding="0" cellspacing="0" style="width:100%;">
        <tr>
            <td>
                <div class="dataHeader">
                    <table border="0" cellpadding="4" cellspacing="1" style="width:100%;">
                        <tr>
                            <td style="width:25%;">照會/回覆時間</td>
                            <td style="width:50%;">照會/回覆內容</td>
                            <td style="width:25%;">照會/回覆單位</td>
                        </tr>
                    </table>
                </div>
                <div class="dataArea" style="height:350px;">
                    @if (dt_TC != null)
                    {
                    <table border="0" cellpadding="4" cellspacing="1" style="width:100%;background-color: #FFFFFF;">
                        @foreach (DataRow r in dt_TC.Rows)
                        {
                        <tr>
                            <td style="width:25%;text-align:center;">@r["RecordDateTime"]</td>
                            <td style="width:50%;">@r["RecordContent"]</td>
                            <td style="width:25%;text-align:center;">@r["deptName"]</td>
                        </tr>
                        }
                    </table>
                    }
                </div>
            </td>
        </tr>
    </table>
</div>