@{
    Layout = "~/Views/Layout/FormLayout.cshtml";
    string title = "交班單";
}

<style type="text/css">
    .dataArea td {
        border-bottom: 1px solid rgba(20%,20%,40%,0.5);
        text-align: left;
    }

    #module_define {
        padding: 5px 0px 3px 0px;
        text-align: center;
        background-color: #9999FF;
        width: 100%;
        border: 1px solid #BBBBBB;
        border-right: 2px solid #999999;
        border-bottom: 2px solid #999999;
    }
</style>

<script type="text/javascript">
    $(document).ready(function () {
        setGridColor();
    });
    function setGridColor() {
        var tr = $('.dataArea tr');
        var color = '#ABC8E2';
        for (var i = 0; i < tr.length; i++) {
            if ($(tr[i]).css('display') != 'none') {
                $(tr[i]).css('background', color);
                if (color == '#ABC8E2')
                    color = '#E1E6FA';
                else
                    color = '#ABC8E2';
            }
        }
        $('.head').css('background', '#85A5CC').css('width', '16%');
        $('.head_2').css('background', '#85A5CC').css('width', '11%');
        $('.due').css('background', '#FF6666');
        $('.PauseCross').css('background', '');
        $('.TitleVision').css('background', '#85A5CC').css('font-weight', 'bold').css('text-align', 'center');
    }
</script>

@using System.Data;
@{
    DataTable dt = ViewBag.dt;
}

<form method="post">
    <div class="funcArea">
        <table border="0" cellpadding="0" cellspacing="0" style="width:100%;">
            <tr>
                <td>
                    <div id="module_define">@title</div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="dataArea" style="height:400px;">
                        <table border="0" cellpadding="4" cellspacing="1" style="width:100%;">
                            <tr>
                                <td colspan="3" class="TitleVision">目前狀況</td>
                            </tr>
                            <tr>
                                <td class="head">病人來源</td>
                                <td colspan="2">
                                    <input name="Radio1" type="radio" />門診
                                    <input name="Radio1" type="radio" />急診
                                    <input name="Radio1" type="radio" />住院
                                </td>
                            </tr>
                            <tr>
                                <td class="head">主要照顧者</td>
                                <td colspan="2">
                                    <input name="Radio2" type="radio" />家屬=> 聯絡電話：<input name="Text2" type="text" />&nbsp;備註：<input name="Text2" type="text" /><p>
                                        <input name="Radio2" type="radio" />看護=> <input name="Radio2_1" type="radio" />本籍=> 聯絡電話：<input name="Text2" type="text" />&nbsp;備註：<input name="Text2" type="text" />
                                        <input name="Radio2_1" type="radio" />外籍=> 備註：<input name="Text2" type="text" />
                                </td>
                            </tr>
                            <tr>
                                <td class="head" rowspan="2">呼吸治療</td>
                                <td class="head_2">醫療輔助器</td>
                                <td>
                                    <input name="Radio3" type="radio" />無
                                    <input name="Radio3" type="radio" />有=> <input name="Radio3_1" type="radio" />氣管內管
                                    <input name="Radio3_1" type="radio" />氣切=> <input name="Text3" type="text" />fr.，fix<input name="Text3" type="text" />cm
                                </td>
                            </tr>
                            <tr>
                                <td class="head_2">氧氣治療</td>
                                <td>
                                    <input name="Radio4" type="radio" />無
                                    <input name="Radio4" type="radio" />有=> 氧氣濃度：<input name="Text4" type="text" />L/min，
                                    面罩種類：
                                    <input name="Radio4" type="radio" />Nasal Cannula
                                    <input name="Radio4_1" type="radio" />Simple mask
                                    <input name="Radio4_1" type="radio" />Aerosol mask
                                    <input name="Radio4_1" type="radio" />Non-rebreathingmask
                                    <input name="Radio4_1" type="radio" />Ventilator=> <p><input name="Text4" type="text" />mode，TV<input name="Text4" type="text" />，FiO2<input name="Text4" type="text" />，PEEP<input name="Text4" type="text" />，Rate<input name="Text4" type="text" />
                                </td>
                            </tr>
                            <tr>
                                <td class="head" rowspan="3">飲食狀況</td>
                                <td class="head_2">進食方式</td>
                                <td>
                                    <input name="Text5" type="text" />
                                </td>
                            </tr>
                            <tr>
                                <td class="head_2">飲食種類</td>
                                <td>
                                    熱量：<input name="Text5_1" type="text" />
                                </td>
                            </tr>
                            <tr>
                                <td class="head_2">腹部評估</td>
                                <td>
                                    <input name="Text5_2" type="text" />
                                </td>
                            </tr>
                            <tr>
                                <td class="head" rowspan="2">排泄狀況</td>
                                <td class="head_2">排尿方式</td>
                                <td>
                                    <input name="Text6" type="text" />
                                </td>
                            </tr>
                            <tr>
                                <td class="head_2">排便狀況</td>
                                <td>
                                    <input name="Text6_1" type="text" />
                                </td>
                            </tr>
                            <tr>
                                <td class="head" rowspan="9">特殊註記</td>
                                <td class="head_2">過敏史</td>
                                <td>
                                    <input name="Checkbox7" type="checkbox" />藥物過敏：<input name="Text7" type="text" />
                                    <input name="Checkbox7" type="checkbox" />食物過敏：<input name="Text7" type="text" />
                                    <input name="Checkbox7" type="checkbox" />其他過敏：<input name="Text7" type="text" />
                                    <input name="Checkbox7" type="checkbox" />輸血過敏：<input name="Text7" type="text" />
                                </td>
                            </tr>
                            <tr>
                                <td class="head_2">隔離</td>
                                <td>
                                    <input name="Checkbox8" type="checkbox" />空氣
                                    <input name="Checkbox8" type="checkbox" />接觸
                                    <input name="Checkbox8" type="checkbox" />飛沫
                                </td>
                            </tr>
                            <tr>
                                <td class="head_2">病危通知</td>
                                <td>
                                    <input name="Radio9" type="radio" />有
                                    <input name="Radio9" type="radio" />無
                                </td>
                            </tr>
                            <tr>
                                <td class="head_2">高危跌倒註記</td>
                                <td>
                                    <input name="Radio10" type="radio" />非高危，分數：<input name="Text10" type="text" />
                                    <input name="Radio10" type="radio" />高危，分數：<input name="Text10" type="text" />
                                </td>
                            </tr>
                            <tr>
                                <td class="head_2">壓傷</td>
                                <td>
                                    <input name="Radio11" type="radio" />非高危，分數：<input name="Text11" type="text" />
                                    <input name="Radio11" type="radio" />高危，分數：<input name="Text11" type="text" />
                                </td>
                            </tr>
                            <tr>
                                <td class="head_2">營養</td>
                                <td>
                                    <input name="Radio12" type="radio" />非高危，分數：<input name="Text12" type="text" />
                                    <input name="Radio12" type="radio" />高危，分數：<input name="Text12" type="text" />
                                </td>
                            </tr>
                            <tr>
                                <td class="head_2">約束</td>
                                <td>
                                    <input name="Radio13" type="radio" />無
                                    <input name="Radio13" type="radio" />有=>
                                    約束方式：<input name="Text13" type="text" />
                                    最後一次鬆綁時間：<input name="Text13" type="text" />
                                    皮膚狀況：<input name="Text13" type="text" />
                                </td>
                            </tr>
                            <tr>
                                <td class="head_2">出院準備</td>
                                <td>
                                    <input name="Radio14" type="radio" />不需收案，分數：<input name="Text14" type="text" />
                                    <input name="Radio14" type="radio" />待收案，分數：<input name="Text14" type="text" />
                                    <input name="Radio14" type="radio" />已收案，分數：<input name="Text14" type="text" />
                                </td>
                            </tr>
                            <tr>
                                <td class="head_2">DNR</td>
                                <td>
                                    <input name="Radio15" type="radio" />未簽署
                                    <input name="Radio15" type="radio" />已簽署=>
                                    <input name="Radio15_1" type="radio" />全拒
                                    <input name="Radio15_1" type="radio" />拒氣管內插管
                                    <input name="Radio15_1" type="radio" />拒體外心臟按摩
                                    <input name="Radio15_1" type="radio" />拒急救藥物注射
                                    <input name="Radio15_1" type="radio" />拒心臟電擊
                                    <input name="Radio15_1" type="radio" />拒人工心臟調頻
                                    <input name="Radio15_1" type="radio" />拒人工呼吸
                                    <input name="Radio15_1" type="radio" />其他：<input name="Text15" type="text" />
                                </td>
                            </tr>
                            <tr>
                                <td class="head">手術</td>
                                <td colspan="2">
                                    手術式：<input name="Text16" type="text" />
                                    手術日期：<input name="Text16" type="text" />
                                    麻醉方式：<input name="Text16" type="text" />
                                    失血量：<input name="Text16" type="text" />
                                </td>
                            </tr>
                            <tr>
                                <td class="head" rowspan="3">復健</td>
                                <td class="head_2">物理</td>
                                <td>
                                    <input name="Radio17" type="radio" />無
                                    <input name="Radio17" type="radio" />有=>
                                    星期：<input name="Text17" type="text" />
                                    ，時間：<input name="Text17" type="text" />
                                </td>
                            </tr>
                            <tr>
                                <td class="head_2">職能</td>
                                <td>
                                    <input name="Radio18" type="radio" />無
                                    <input name="Radio18" type="radio" />有=>
                                    星期：<input name="Text18" type="text" />
                                    ，時間：<input name="Text18" type="text" />
                                </td>
                            </tr>
                            <tr>
                                <td class="head_2">語言</td>
                                <td>
                                    <input name="Radio19" type="radio" />無
                                    <input name="Radio19" type="radio" />有=>
                                    星期：<input name="Text19" type="text" />
                                    ，時間：<input name="Text19" type="text" />
                                </td>
                            </tr>
                            <tr>
                                <td class="head" rowspan="2">醫囑</td>
                                <td class="head_2">文字型醫令</td>
                                <td>
                                    <input name="Text20" type="text" />
                                </td>
                            </tr>
                            <tr>
                                <td class="head_2">藥囑</td>
                                <td>
                                    長期：<input name="Text21" type="text" />
                                    PRN：<input name="Text21" type="text" />
                                    臨時：<input name="Text21" type="text" />
                                    Insuline order：<input name="Text21" type="text" />
                                    自備藥物：<input name="Text21" type="text" />
                                </td>
                            </tr>
                            <tr>
                                <td colspan="3" class="TitleVision">背景資料</td>
                            </tr>
                            <tr>
                                <td class="head">過去病史</td>
                                <td colspan="2">
                                    疾病史：<input name="Text22" type="text" />
                                </td>
                            </tr>
                            <tr>
                                <td colspan="3" class="TitleVision">症狀/評估/問題</td>
                            </tr>
                            <tr>
                                <td class="head" rowspan="9">生理監測</td>
                                <td class="head_2">生命徵象</td>
                                <td>
                                    <table cellpadding="3" cellspacing="0" border="0" style="width:60%;">
                                        <tr class="PauseCross">
                                            <td>體溫：<input name="Text23" type="text" /></td>
                                            <td>心跳：<input name="Text23" type="text" /></td>
                                            <td>呼吸：<input name="Text23" type="text" /></td>
                                        </tr>
                                        <tr class="PauseCross">
                                            <td>SpO2：<input name="Text23" type="text" /></td>
                                            <td>血壓：<input name="Text23" type="text" /></td>
                                            <td>疼痛：<input name="Text23" type="text" /></td>
                                        </tr>
                                        <tr class="PauseCross">
                                            <td>體重：<input name="Text23" type="text" /></td>
                                            <td>圍長：<input name="Text23" type="text" /></td>
                                            <td>CVP Level：<input name="Text23" type="text" /></td>
                                        </tr>
                                        <tr class="PauseCross">
                                            <td>I.C.P：<input name="Text23" type="text" /></td>
                                            <td>其他：<input name="Text23" type="text" /></td>
                                            <td></td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td class="head_2">意識評估</td>
                                <td>
                                    GCS：<input name="Text24" type="text" />
                                    瞳孔大小及反射：<input name="Text24" type="text" />
                                    肌肉力量：<input name="Text24" type="text" />
                                </td>
                            </tr>
                            <tr>
                                <td class="head_2" rowspan="7">攝入/輸出</td>
                                <td>
                                    總量：<input name="Text25" type="text" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    input：進食量：<input name="Text25" type="text" />
                                    ；點滴量：<input name="Text25" type="text" />
                                    剩餘量：<input name="Text25" type="text" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    output：尿：<input name="Text25" type="text" />
                                    引流量：<input name="Text25" type="text" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    H/D脫水量：<input name="Text25" type="text" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    CVVH：<input name="Text25" type="text" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    腹膜透析量：<input name="Text25" type="text" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    連續性沖洗尿管出入量：<input name="Text25" type="text" />
                                </td>
                            </tr>
                            <tr>
                                <td class="head" rowspan="2">呼吸評估</td>
                                <td class="head_2">呼吸音</td>
                                <td>
                                    <input name="Text26" type="text" />
                                </td>
                            </tr>
                            <tr>
                                <td class="head_2">痰液</td>
                                <td>
                                    <input name="Text26_1" type="text" />
                                </td>
                            </tr>
                            <tr>
                                <td class="head" rowspan="2">皮膚完整性</td>
                                <td class="head_2">一般傷口</td>
                                <td>
                                    <input name="Text27" type="text" />
                                </td>
                            </tr>
                            <tr>
                                <td class="head_2">壓傷</td>
                                <td>
                                    <input name="Text27_1" type="text" />
                                </td>
                            </tr>
                            <tr>
                                <td class="head">疼痛評估</td>
                                <td colspan="2">
                                    <input name="Text28" type="text" />
                                </td>
                            </tr>
                            <tr>
                                <td class="head">管路</td>
                                <td colspan="2">
                                    <input name="Text29" type="text" />
                                </td>
                            </tr>
                            <tr>
                                <td class="head">血糖值</td>
                                <td colspan="2">
                                    <input name="Text30" type="text" />
                                </td>
                            </tr>
                            <tr>
                                <td class="head">用藥情況</td>
                                <td colspan="2">
                                    <input name="Text31" type="text" />
                                </td>
                            </tr>
                            <tr>
                                <td class="head">輸血</td>
                                <td colspan="2">
                                    血品：<input name="Text32" type="text" />
                                    單位：<input name="Text32" type="text" />
                                </td>
                            </tr>
                            <tr>
                                <td class="head">皮瓣溫度</td>
                                <td colspan="2">
                                    <input name="Text33" type="text" />
                                </td>
                            </tr>
                            <tr>
                                <td class="head">膀胱訓練</td>
                                <td colspan="2">
                                    <input name="Text34" type="text" />
                                </td>
                            </tr>
                            <tr>
                                <td class="head">護理問題</td>
                                <td colspan="2">
                                    <input name="Text35" type="text" />
                                </td>
                            </tr>
                            <tr>
                                <td class="head">護理指導</td>
                                <td colspan="2">
                                    <input name="Text36" type="text" />
                                </td>
                            </tr>
                            <tr>
                                <td class="head">PCT TEST</td>
                                <td colspan="2">
                                    日期：<input name="Text37" type="text" />
                                    結果：<input name="Text37" type="text" />
                                </td>
                            </tr>
                            <tr>
                                <td class="head" rowspan="2">檢驗檢查報告</td>
                                <td class="head_2">檢驗</td>
                                <td>
                                    <input name="Text38" type="text" />
                                </td>
                            </tr>
                            <tr>
                                <td class="head_2">檢查</td>
                                <td>
                                    <input name="Text39" type="text" />
                                </td>
                            </tr>
                            <tr>
                                <td class="head">會診結果</td>
                                <td colspan="2">
                                    <input name="Text40" type="text" />
                                </td>
                            </tr>
                            <tr>
                                <td colspan="3" class="TitleVision">建議</td>
                            </tr>
                            <tr>
                                <td class="head">特殊交班事項</td>
                                <td colspan="2">
                                    <input name="Text41" type="text" />
                                </td>
                            </tr>
                            <tr>
                                <td class="head">家屬交辦事項</td>
                                <td colspan="2">
                                    <input name="Text42" type="text" />
                                </td>
                            </tr>
                            <tr>
                                <td class="head" rowspan="17">預計執行治療</td>
                                <td class="head_2" rowspan="4">預計執行檢查</td>
                                <td>
                                    檢查名稱：<input name="Text43" type="text" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    預計執行日期：<input name="Text43" type="text" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    檢查前準備：<input name="Text43" type="text" />
                                    <input name="Radio43" type="radio" />完成
                                    <input name="Radio43" type="radio" />未完成=> 備註：<input name="Text43" type="text" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    是否已填同意書：<input name="Text43" type="text" />
                                    <input name="Radio43_1" type="radio" />已填
                                    <input name="Radio43_1" type="radio" />未填=> 備註：<input name="Text43" type="text" />
                                </td>
                            </tr>
                            <tr>
                                <td class="head_2" rowspan="4">預計執行檢驗</td>
                                <td>
                                    檢查名稱：<input name="Text44" type="text" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    預計執行日期：<input name="Text44" type="text" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    檢查前準備：<input name="Text44" type="text" />
                                    <input name="Radio44" type="radio" />完成
                                    <input name="Radio44" type="radio" />未完成=> 備註：<input name="Text44" type="text" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    備註：<input name="Text44" type="text" />
                                </td>
                            </tr>
                            <tr>
                                <td class="head_2" rowspan="4">預計執行手術</td>
                                <td>
                                    手術名稱：<input name="Text45" type="text" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    預計執行日期：<input name="Text45" type="text" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    術前準備：<input name="Text45" type="text" />
                                    <input name="Radio45" type="radio" />完成
                                    <input name="Radio45" type="radio" />未完成=> 備註：<input name="Text45" type="text" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    是否已填同意書：<input name="Text45" type="text" />
                                    <input name="Radio45_1" type="radio" />已填
                                    <input name="Radio45_1" type="radio" />未填=> 備註：<input name="Text45" type="text" />
                                </td>
                            </tr>
                            <tr>
                                <td class="head_2">預計抽血</td>
                                <td>
                                    <input name="Text46" type="text" />
                                </td>
                            </tr>
                            <tr>
                                <td class="head_2" rowspan="4">預計輸血</td>
                                <td>
                                    日期：<input name="Text47" type="text" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    血品：<input name="Text47" type="text" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    是否已備：<input name="Text47" type="text" />
                                    <input name="Radio47" type="radio" />是
                                    <input name="Radio47" type="radio" />否
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    是否已填同意書：<input name="Text47" type="text" />
                                    <input name="Radio47_1" type="radio" />已填
                                    <input name="Radio47_1" type="radio" />未填=> 備註：<input name="Text47" type="text" />
                                </td>
                            </tr>
                        </table>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</form>
