@{
    Layout = "~/Views/Layout/FormLayout.cshtml";
}

<script type="text/javascript">
    $(document).ready(function () {
        close_pup_window();
        @if(ViewBag.page != null)
        {
            @:$('#@ViewBag.page').click();
        }
    });
</script>

<style type="text/css">
    input[type="button"] {
        height:75%;
        width:75%;
        font-weight:bold;
    }
    td {
        height:35%;
        width:33.3%;
    }
</style>

<div class="funcArea">
    <table border="0" cellpadding="0" cellspacing="0" style="width:100%;height:420px;text-align:center;">
        <tr>
            <td>
                <input type="button" id="A" style="font-size:24px;white-space: pre-line;" value="成人入院護理評估" onclick="window.location.href = 'AssessmentList?natype=A'" />
              @*  <input type="button" id="A" style="font-size:24px;white-space: pre-line;" value="成人入院護理評估PDF" onclick="window.location.href = 'AssessmentAdult_PDF?tableid=ASSESSMENTMASTER_09277_I0332966_20160616211114349_A&feeno=I0322966'" />*@
            </td>
            @*<td>
                <input type="button" id="S" style="font-size:24px;white-space: pre-line;" value="精神科入院護理評估" onclick="window.location.href = 'AssessmentList?natype=S'" />
            </td>
            <td>
                <input type="button" id="G" style="font-size:24px;white-space: pre-line;" value="產科入院護理評估" onclick="window.location.href = 'AssessmentList?natype=G'" />
            </td>*@
            <td>
                <input type="button" id="C" style="font-size:24px;" value="兒童入院護理評估" onclick="window.location.href = 'AssessmentList?natype=C'" />
            </td>
        </tr>
        <tr>
            <td>
                <input type="button" id="D" style="font-size:24px;" value="新生兒入院護理評估" onclick="window.location.href = '../BabyBorn/NBENTR_List'" />
            </td>
            <td>
                <input type="button" id="E" style="font-size:24px;" value="嬰幼兒入院護理評估" onclick="window.location.href = '../BabyBorn/BabyEntr_List'" />
            </td>
        </tr>
        <tr>
            <td>
                <input type="button" id="C" style="font-size:24px;" value="急診入院護理評估" onclick="window.location.href = 'AssessmentList?natype=ER'" />
            </td>
            @*<td>
                <input type="button" style="font-size:24px;" value="執行檢查資料輸入" onclick="window.location.href = 'AssessmentList?natype=PC'" />
            </td>*@

            @*<td>
            @{
                int num = ViewBag.num;
                if (num > 0)
                {
                <input type="button" id="B" style="font-size:24px;" value="新生兒入院護理評估" onclick="window.location.href = 'AssessmentList?natype=B';" />
                }
                else
                {
                <input type="button" id="B" style="font-size:24px;" value="新生兒入院護理評估" onclick="if (confirm('是否匯入母親資料?')) { new_window.push(window.open('Login', '', 'menubar=no,status=no,scrollbars=yes,top=20,left=200,toolbar=no,width=500,height=300')); } else { window.location.href = 'AssessmentList?natype=B'; }" />
                }
            }
        </td>*@
        </tr>
    </table>
</div>
