@using NIS.Data;
@{
    Layout = "~/Views/Layout/FormLayout.cshtml";
}
<script type="text/javascript">
    $(document).ready(function () {
        $("#inHistoryTable").css('background', '#85A5CC');
        $("#inHistoryTable tr:odd").css('background', '#ABC8E2');
        $("#inHistoryTable tr:even").css('background', '#E1E6FA');
        $("#inHistoryTable tr").mouseover(function () { $(this).addClass("over"); })     //當 mouseover 時加入 "over" 樣式
                         .mouseout(function () { $(this).removeClass("over"); })   //當 mouseout 時移除 "over" 樣式
    });

</script>

<style type="text/css">
    #inHistoryTable {
        table-layout:fixed;
        white-space: nowrap;
        background-color: #FFFFFF; 
        text-align:center;
        border:1px;
        font-size:12px;
        font-family: 微軟正黑體;
    }
    tr.over td{
        background-color: #edee77;
        cursor: pointer;
    }
</style>

@using System.Data;
@{
    DataTable dt = ViewBag.dt;

    if (dt != null)
    {
        int num = int.Parse(dt.Rows[0]["NUM"].ToString());
<p style="font-family: 微軟正黑體;text-align:center">住院歷史紀錄</p>
    <table id="inHistoryTable" border="0" cellpadding="4" cellspacing="1" width="450">
        <tr>
            <th width="450">請選擇欲匯入胎兒</th>
        </tr>
    @for (int i = 1; i <= num; i++)
    {
        <tr onclick="opener.location.href = 'AssessmentNewBorn?mother_feeno=@(dt.Rows[0]["FEENO"])&num=@(i)&mode=insert';window.close();">
            <td >嬰兒 @(i)</td>
        </tr>
    }
    </table>
    }
}