@using System.Data;
@{
    Layout = "~/Views/Layout/FormLayout.cshtml";
}
<style type="text/css">

fieldset {
    border:0;
    padding:10px;
    margin-bottom:10px;
    background:#EEE;
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    background:-webkit-liner-gradient(top,#EEEEEE,#FFFFFF);
    background:linear-gradient(top,#EFEFEF,#FFFFFF);
    box-shadow:3px 3px 10px #666;
    -moz-box-shadow:3px 3px 10px #666;
    -webkit-box-shadow:3px 3px 10px #666;
    position:relative;
    }
legend {
    padding:5px 10px;
    background-color:#4F709F;
    color:#FFF;
    border-radius:3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    box-shadow:2px 2px 4px #666;
    -moz-box-shadow:2px 2px 4px #666;
    -webkit-box-shadow:2px 2px 4px #666;
    position:absolute;
    left:10px;top:-11px;
    }

</style>

<script type="text/javascript">
    $(function () {
        // 加入focus事件
        $(window).focus(function () {
            window.opener.parent.check_session();
        });
    });

    function check() {
        if (Trim($("#PatientNo").val().toString()) == "") {
            alert("未輸入病歷號，請重新確認。");
            return false;
        }
        else {
            //$("#PatientNo").val(padLeft(Trim($("#PatientNo").val().toString()), 8, "0")); //josan
            //判斷是否本地端IP
            if ("@(global_asax.localIp)".substring(0, 7) == "10.168.")
            {
                $("#PatientNo").val( Trim($("#PatientNo").val()) );
            }else {
                $("#PatientNo").val(padLeft(Trim($("#PatientNo").val().toString()), 10, "0"));
            }
            return true;
        }
    }
</script>

<form method="post" action="check">
<table border="0" cellpadding="0" cellspacing="0" style="width:100%; padding:8px 7px 2px 4px;">
    <tr>
        <td  align="center">
            <fieldset style="width:300px;">
                <legend>母親資料</legend>
                <table border="0" cellpadding="0" cellspacing="0" style="width:100%;padding:18px 7px 10px 4px;">
                    <tr>
                        <td>
                            @Html.Label("txtid","病歷號")
                            @Html.TextBox("PatientNo", "", new { style = "width:160px;", tabindex="1" })
                        </td>
                        <td>
                           <input type="button" value="確認" onclick="if (check()) { submit(); }" />
                        </td>
                    </tr>
                </table>
            </fieldset>
        </td>
    </tr>
</table>
</form>