@using System.Data;

@{
    Layout = "~/Views/Layout/FormLayout.cshtml";
    DataTable dtClock = ViewBag.clock;
    NIS.Data.PatientInfo pf = (NIS.Data.PatientInfo)Session["PatInfo"];


}
<style type="text/css">
</style>

<script type="text/javascript">
    $(document).ready(function () {

    });
</script>
<div>
    @{
        @:床號：@(pf.BedNo)&emsp;
        @:病歷號：@(pf.ChartNo)&emsp;
        @:姓名：@(pf.PatientName)
    }
</div>
<div>
    @if (dtClock != null && dtClock.Rows.Count > 0)
    {
        if (!string.IsNullOrWhiteSpace(dtClock.Rows[0]["ITEMVALUE"].ToString()))
        {
            byte[] imageBytes = (byte[])dtClock.Rows[0]["ITEMVALUE"];
            string base64String = Convert.ToBase64String(imageBytes);
            <img id="clock_pic" src="@String.Format("data:image/png;base64,{0}", base64String)" style="width:100%;height:auto;cursor:pointer;"/>
        }
    }
</div>

