@using System.Data;
@{
    
    Layout = "~/Views/Layout/FormLayout.cshtml";
}
<style type="text/css">
    #careplan_panel {
        overflow-y: scroll;
    }

        #careplan_panel > .topic_block, #careplan_panel > .topic_block_sel {
            text-align: left;
            display: inline-block;
            padding: 5px;
            width: 31%;
            height: 70px;
            background-color: #D9EDF7; /*#E1E6FA;*/
            border: 1px solid silver;
            margin-bottom: 5px;
            cursor: pointer;
            vertical-align: bottom;
            overflow-y: auto;
            /*font-weight: bold;*/
            margin-left: 2px;
            border-radius: 5px;
            word-break: break-all;
        }

        #careplan_panel > .topic_block_sel {
            background-color: #FFFF99;
            /*cursor: not-allowed;*/
        }

        #careplan_panel > .topic_block:hover {
            background-color: #87CEEB; /*#ABC8E2;*/
            /*color:white;*/
            /*font-size:14px;
            font-weight: bold;*/
        }

    /*-------------test------*/
    .topic_block > .topic_desc:hover {
        color: black;
        /*font-size: 14px;*/
        /*font-weight: bold;*/
    }
    /*-------------test------*/

    .topic_block span, .topic_block_sel span, .sd_block span {
        display: block;
        white-space: normal;
    }

    .topic_item {
        color: #2894FF; /*#0000CC;*/
        font-weight: bold;
    }

    .topic_desc {
        color: black; /*#993300;*/
        font-size: 12px;
    }

        .topic_desc span {
            display: inline-block;
            width: 60px;
        }
</style>
<script type="text/javascript">
    $(function () {
        
    });
</script>

@{
DataTable dt = ViewBag.dtsearch;
if (dt != null && dt.Rows.Count > 0)
{
    foreach (DataRow r in dt.Rows)
    {
        if(int.Parse(r["USE_NUM"].ToString()) > 0)
        {
            @:<span class="topic_block_sel" title="此護理問題使用中" onclick="AddNewPlan('@r["diagnosis_code"].ToString()')" >
        } 
        else
        {
             @:<span class="topic_block" onclick="AddNewPlan('@r["diagnosis_code"].ToString()')">
        }
            <span class="topic_item">@r["diagnosis_name"].ToString()</span>
               <span class="topic_desc">領域：@r["diagnosis_domain_desc"].ToString()</span>
            @*<span class="topic_desc">科別：@r["subject"].ToString()</span>
            <span class="topic_desc">NANDA：@r["nanda"].ToString()</span>*@
            @:</span>
    }
}
}