@using NIS.Data;
@using System.Data;
@{
    ViewBag.Title = "護理資訊系統-血糖&胰島素-新增";
    Layout = "~/Views/Layout/FormLayout.cshtml";
    string ToDay_Date = DateTime.Now.ToString("yyyy/MM/dd");
    string ToDay_Time = DateTime.Now.ToString("HH:mm");
    string gs_feeno = ViewBag.feeno;
    //日期選擇器，鎖定時間
    NIS.Data.PatientInfo pf = (NIS.Data.PatientInfo)Session["PatInfo"];
    NIS.Data.Complement_List complement_List = (NIS.Data.Complement_List)Session["Complement_List"];
}
<script type="text/javascript">
    

</script>
<style type="text/css">
    table {
        border: 0px solid #000000;
        border-collapse: collapse;
    }
    .BSugar tr, td {
        border: 1px solid #000000;
        text-align:left;
        vertical-align:middle;
    }
</style>

<h2>BSugarInsulin_Add</h2>
<form method="post" action="BSugarInsulin_Save" style="font-size:12pt">
    @gs_feeno
    <div id="div_Head" style="border:2px solid blue">
        <!-- 主檔 BSUGARINSULIN http://localhost:13384/BloodSugarAndInsulin/BSugarInsulin_Add?feeno=I0226516 -->
        <table border="0" width="100%">
            <tr><td>aa</td></tr>
            <tr><td>aa</td></tr>
        </table>
    </div><br />
    <div id="div_BloodSugar"  style="border:2px solid red">
        <!-- 血糖 新增區-->
        <table border="0" width="100%" class="BSugar">
            <th colspan="2" style="background:red">血糖</th>
            <tr>
                <td width="150px">監測時間：</td>
                <td>
                    @Html.TextBox("in_date", @ToDay_Date, new { style = "width:60px;", @readonly = "readonly" })
                    @Html.TextBox("in_time", @ToDay_Time, new { style = "width:30px;", @readonly = "readonly" })
                    @*@WebTool.setDateTime("in_date", "in_time" , "", "0")*@  
                    @WebTool.complementList_Status(complement_List.Status, pf.InDate.ToString("MM/dd/yyyy HH:mm"), @DateTime.Now.ToString("yyyy/MM/dd"), "in_date", "in_time", false)
                </td>
            </tr>
            <tr>
                <td>血糖值：</td>
                <td><input type="text" id="BloodSugar" value=""/></td>
            </tr>
            <tr>
                <td>註記：</td>
                <td><input type="text" id="Note" value=""/></td>
            </tr>
            <tr>
                <td>症狀：</td>
                <td><input type="text" id="Symptom" value=""/></td>
            </tr>
            <tr>
                <td>處置：</td>
                <td><input type="text" id="Dealwith" value=""/></td>
            </tr>
            <tr>
                <td></td>
                <td>藥名 <input type="text" id="Drugname" value=""/><br />
                    劑量 <input type="text" id="Dose" value=""/><br />
                    單位 <input type="text" id="Doseunit" value=""/><br />
                    途徑 <input type="text" id="Route" value=""/>
                </td>
            <tr>
                <td>無法監測原因：</td>
                <td><input type="text" id="Monitor" value=""/></td>
            </tr>
        </table>
    </div><br />
    <div id="div_Insulin"  style="border:2px solid #d168ef">
        <!-- 胰島素 新增區-->
        <table border="0" width="100%"  class="Insulin">
            <th colspan="2" style="background:#d168ef">胰島素</th>
            <tr>
                <td width="150px">注射時間：</td>
                <td>bb</td>
            </tr>
            <tr>
                <td>覆核人員：</td>
                <td>bb</td>
            </tr>
            <tr>
                <td></td>
                <td>藥名：@Html.DropDownList("List", (IEnumerable<SelectListItem>)ViewBag.Insulit_list, new { style = "width:300px" }) <br />
                    途徑：<br />
                    劑量<br />
                    單位
                </td>
            </tr>
            <tr>
                <td>注射部位：</td>
                <td>bb</td>
            </tr>
            <tr>
                <td>Sliding Scale：</td>
                <td>bb</td>
            </tr>
            <tr>
                <td>註：</td>
                <td>bb</td>
            </tr>
        </table>
    </div>
</form>