@{
    ViewBag.Title = "護理資訊系統-血糖&胰島素-修改";
    Layout = "~/Views/Layout/FormLayout.cshtml";
    string gs_id = ViewBag.id;
}
<style type="text/css">
    table {
        border: 0px solid #000000;
        border-collapse: collapse;
    }
    tr, td {
        border: 0px solid #000000;
        text-align:left;
        vertical-align:middle;
    }
</style>
<form method="post" action="BSugarInsulin_Modify" style="font-size:12pt">
<h2>BSugarInsulin_Modify</h2>
    @gs_id
    <div id="div_Head" style="border:2px solid blue">
        <!-- 主檔 BSUGARINSULIN  -->
        <table border="0" width="100%">
            <tr><td>aa</td></tr>
            <tr><td>aa</td></tr>
        </table>
    </div><br />
    <div id="div_BloodSugar"  style="border:2px solid red">
        <!-- 血糖 新增區-->
        <table border="0" width="100%">
            <tr><td>bb</td></tr>
        </table>
    </div><br />
    <div id="div_Insulin"  style="border:2px solid #d168ef">
        <!-- 胰島素 新增區-->
        <table border="0" width="100%">
            <tr><td>cc</td></tr>
        </table>
    </div>
</form>
