@*
<div id="divShowChart"></div>
<script type="text/javascript" language="javascript">

    $('#divShowChart').load('<%=Url.Action("Tpr_Chart","Chart")%>');

</script>*@

<%=Url.Action("Tpr_Chart", "Chart") %>