/*BODY {
    width:100%;
    margin: 10px;
    font-family: Tahoma, Arial, Verdana;
    font-size: 13px;
    color: black;
}*/
table{
    text-align: center;
}
.HideCell{
    color:#85A5CC;
}
.GridViewScrollHeader TH, .GridViewScrollHeader TD {
    padding: 10px;
    white-space: nowrap;
    background-color: #85A5CC;
    font-weight: bold;
    border-bottom: 1px solid rgba(20%,20%,40%,0.5);
    border-top: 1px solid #e6e6e6;
    border-right: 1px solid #e6e6e6;
}

.GridViewScrollItem TD {
    padding: 10px;
    white-space: nowrap;
    border-right: 1px solid #e6e6e6;
    border-bottom: 1px solid rgba(20%,20%,40%,0.5);
    border-top: 1px solid #e6e6e6;
}

.GridViewScrollItemFreeze TD {
    padding: 10px;
    white-space: nowrap;
    background-color: #85A5CC;
    border-right: 1px solid #e6e6e6;
    border-bottom: 1px solid rgba(20%,20%,40%,0.5);
    border-top: 1px solid #e6e6e6;
}

.GridViewScrollFooterFreeze TD {
    padding: 10px;
    white-space: nowrap;
    background-color: #85A5CC;
    border-right: 1px solid #e6e6e6;
    border-top: 1px solid #e6e6e6;
    border-bottom: 1px solid rgba(20%,20%,40%,0.5);
}

