* {
    box-sizing: border-box;
}

.firstDiv {
    height: 700px;
    overflow-y: auto;
}

.firstParagraph {
    text-align: center;
    background-color: #f2f2f2;
    border: 2px solid #e6ffff;
}

fieldset.fieGray {
    background-color: #f2f2f2;
    padding: 16px;
    border: 2px solid #e6ffff;
}

fieldset.fieBlue {
    background-color: #E1E6FA;
    padding: 16px;
    border: 2px solid #e6ffff;
}

.form, .form2 {
    display: none;
}

.TrNo {
    background: #E1E6FA;
}

tbody.showHover tr:hover {
    background-color: #f5f5f5;
}

div.addForm tr {
    text-align: center;
}

div.addForm th {
    background: #85A5CC;
}

div.addForm td:hover {
    background-color: #f5f5f5;
}

div.addForm input[type=text] {
    text-align: center;
}
