
body {
    overflow: hidden;
    margin: 0px 0px 0px 0px;
    background: url('../../Images/System/bg.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    /* this works in IE6, IE7, and IE8 */
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader( src='../../Images/System/bg.jpg', sizingMethod='scale');
    /* this works in IE8 only */
    -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader( src='../../Images/System/bg.jpg', sizingMethod='scale')";
}

.loginPanel {
    position: fixed;
    _position: absolute; /* position fixed for IE6 */
    background-color: #EFEFEF;
    top: 25%;
    bottom: 35%;
    width: 100%;
    /* other browsers */
    opacity: 0.6;
    /* this works in IE6, IE7, and IE8 */
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=60);
    /* this works in IE8 only */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=60)";
    z-index: 2;
}

.loginMain {
    position: fixed;
    _position: absolute; /* position fixed for IE6 */
    padding: 10px 50px 10px 50px;
    top: 25%;
    bottom: 35%;
    width: 100%;
    z-index: 3;
}

    .loginMain table {
        text-align: center;
        height: 100%;
    }

.logPanel * {
    text-align: left;
    font-size: 16px;
}

.logPanel input[type=text], input[type=password] {
    padding-left: 10px;
    width: 180px;
    height: 24px;
    border: none;
    background-color: #F2F2DC;
    border-bottom: 2px dotted #2E4159;
}

.logPanel input[type=button] {
    width: 120px;
    text-align: center;
    background: #FFFFFF;
    -webkit-appearance: none;
    padding: 2px 5px 2px 5px;
    margin: 0px 0px 0px 60px;
    font-size: 14px;
    border-radius: 5px;
    border: 1px solid #808080;
    height: 26px;
}

#vilstyle {
    font-size: 12px;
    color: red;
}

.note {
    padding-left: 20px;
    font-size: 12px;
    text-align: left;
    vertical-align: top;
}

.vhr {
    text-align: center;
    width: 1px;
    background-color: #666666;
    /* other browsers */
    opacity: 0.6;
    /* this works in IE6, IE7, and IE8 */
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=60);
    /* this works in IE8 only */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=60)";
}

.copyright {
    text-align: center;
    padding: 3px 0px 3px 0px;
    color: #FFFFFF;
    position: fixed;
    width: 100%;
    background-color: #0033FF;
    bottom: 0px;
}

#hintinfo {
    display: none;
    position: fixed;
    left: 50%;
    top: 50%;
    margin-left: -175px;
    margin-top: -25px;
    width: 350px;
    height: 50px;
    text-align: center;
    vertical-align: middle;
    line-height: 50px;
    background-color: #FFFF88;
    font-weight: bold;
    border-top: 1px solid #666;
    border-left: 1px solid #666;
    border-right: 3px solid #666;
    border-bottom: 3px solid #666;
    z-index: 999;
    _position: absolute; /* position fixed for IE6 */
    _top: expression(documentElement.scrollTop+(documentElement.clientHeight-this.clientHeight)/2);
    _margin-top: 0;
    color: red;
}
