
table {
    font-size:14px;
}
th {
    background: #99CCFF;
    text-align: center;
    vertical-align: middle;
}
td {
    text-align: center;
    vertical-align: middle;
    color: #333311;
}
.trhead { background: #EEE9BF; }
.trbody { 
    background: #F5F5F5;
    font-size: 14px;
    height:30px;
}
.popup {
    position: absolute;
    border: 2px;
    background-color:#DDDDFF;
    padding: 15px;
    width: auto;
    height: auto;
    display: none;
    z-index: 99;
}
.popup2 {
    position: absolute;
    border: 1px;
    background-color:#DDDDFF;
    padding: 15px;
    width: 600px;
    height: 350px;
    display: none;
    z-index: 99;
    font-family: 微軟正黑體;
}
.mname {
    color: blue;
    font-weight: bold;
}
.mname1 {
    color: red;
    font-weight: bold;
}
.mname2 {
    color: green;
    font-weight: bold;
}
.sname {
    color: #600c0c;
    font-style: italic;
}
.button_note {
    margin-left: 0px;
    height: 20px;
    text-align: center;
    width: auto;
}
.medbook {cursor: pointer;}
.tabsapce { padding:2px;}
.udcmd {
    background:#EEE9BF;
    text-align:left;
    font-size:12px;
    color:red;
}
#block {
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    z-index: 1;
    background-color: #666;
    /* other browsers */
    opacity: 0.65;
    /* this works in IE6, IE7, and IE8 */
    filter: alpha(opacity=65);
    /* this works in IE8 only */
    display: none;
}
#saving {
    position: fixed;
    text-align: center;
    left: 50%;
    top: 50%;
    height: 50px;
    width: 200px;
    margin-top: -25px;
    margin-left: -100px;
    _position: absolute;
    color: #040FD9;
    font-weight: bold;
    z-index: 99;
    display: none;
}
#spanA{
    display: inline-block;
    width: 200px;
    line-height: 24px;
    margin-top: 0px;
    background-color: #F5F5F5;
    border: 0px solid #cc33ff;
    font-weight:bold;
}
#spanB{
    display: inline-block;
    width: 200px;
    line-height: 24px;
    margin-top: 0px;
    background-color: #F5F5F5;
    border: 0px solid #ff0000;
    color:#ff0000;
    font-weight:bold;
}
#spanB2{
    display: inline-block;
    width: 200px;
    line-height: 24px;
    margin-top: 0px;
    background-color: #F5F5F5;
    border: 0px solid #ff0000;
    color:#FF00FF;
    font-weight:bold;
}
#spanC{
    display: inline-block;
    width: 180px;
    line-height: 24px;
    margin-top: 0px;
    background-color: #eeddff;
    border: 0px solid blue;
    color:blue;
    font-weight:bold;
}
#MedInfo td {
    background-color:pink;
    text-align:left;
    vertical-align:top;
}
.TableNote {
    border: 1px solid #DDDDFF;
    width:100%;
}
.TableNote p {
    text-align:left;
}
.TableNote td {
    height: 25px;
    width: 120px;
    vertical-align: middle;
    text-align: center;
    background-color: #99CCFF;
    cursor:pointer;
    }
.TableNote td:hover {
    background-color: #fff;
}
