

.nexttab, .finish {
    position: absolute;
    right: 30px;
    bottom: 10px;
}
    .dataArea_PDF td {
        border-bottom: 1px solid rgba(20%,20%,40%,0.5);
        text-align: left;
    }

    .dataArea_PDF {
        border-top: 2px solid #666;
        border-bottom: 2px solid #666;
        font-family: Arial, "新細明體", EUDC;

    }
.dataArea {
    height: 300px;
    overflow-x: auto;
    overflow-y: scroll;
    border-top: 2px solid #666;
    border-bottom: 2px solid #666;
    font-family:Arial, '新細明體', EUDC;
}

.tabArea {
    overflow-x: hidden;
    overflow-y: hidden;
    margin-top: 5px;
    font-family: Arial, "新細明體", EUDC;
}

    .tabArea .tab {
        overflow-x: hidden;
        overflow-y: auto;
    }

    .tabArea .subtitle {
        font-weight: bolder;
        background-color: #D9D9D9;
        display: inline-block;
        width: 140px;
        height: 24px;
        padding-top: 5px;
        text-align: center;
        font-size: 16px;
        font-family: Arial, '新細明體', EUDC;
    }

    .tabArea .tabtitle {
        font-weight: bolder;
        background-color: #FFFFFF;
        display: inline-block;
        width: 120px;
        height: 24px;
        padding-top: 5px;
        color: #FFFFFF;
        text-align: center;
        font-size: 16px;
        font-family: Arial, '新細明體', EUDC;
    }

    .tabArea .subnote {
        font-size: 10px;
        color: #0022FF;
    }

    .tabArea div * {
        margin: 2px 2px 2px 2px;
    }

    .tabArea ul li a {
        min-height: 16px;
    }

    .tabArea p {
        margin-top:7px;
        border-bottom: 1px dashed #b9b9b9;
        text-align: left;
        min-height:40px;
        font-size:15px;
    }
    
    .div_p {
        margin-top:7px;
        border-bottom: 1px dashed #b9b9b9;
        text-align: left;
        min-height:40px;
        font-size:15px;
    }

.dataArea, .tabArea {
    scrollbar-shadow-color: #1a1a1a;
    scrollbar-3dlight-color: #666666;
}

.dataHeader {
    margin-right: 17px;
    overflow: hidden;
}

    .dataHeader td {
        font-weight: bold;
        margin: 1px 1px 1px 1px;
        background-color: #85A5CC;
        text-align: center;
        vertical-align: middle;
        height: 26px;
    }


.memo {
    display: block;
    width: 95%;
    height: auto;
    overflow-x: hidden;
    overflow-y: auto;
}

.dtl_VS td {
    border-bottom: 1px solid #6b6ba0;
    text-align: left;
    /*white-space: nowrap;
    word-wrap:normal;*/
}

.dtl_VS table {
    background-color: #FFFFFF;
    table-layout: fixed;
}

.funcHeader {
    margin-right: 17px;
}


/* 提示視窗樣式 */
#cover {
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    z-index: 0;
    background-color: #666;
    /* other browsers */
    opacity: 0.65;
    /* this works in IE6, IE7, and IE8 */
    filter: alpha(opacity=65);
    /* this works in IE8 only */
    display: none;
}

#loading {
    position: fixed;
    text-align: center;
    left: 50%;
    top: 50%;
    height: 50px;
    width: 200px;
    margin-top: -25px;
    margin-left: -100px;
    _position: absolute;
    color: #040FD9;
    font-weight: bold;
    z-index: 99999;
    display: none;
}

#prompt {
    z-index: 1000;
    background-color: #FFFFFF;
    padding: 15px 15px 15px 15px;
    border-radius: 5px;
    position: fixed; /*固定位置定位*/
    top: 50%; /*距離上方的位置*/
    left: 50%; /*距離左方的位置*/
    margin-top: -100px; /*上方邊界*/
    margin-left: -200px; /*左方邊界*/
    _position: absolute; /* position fixed for IE6 */
    _top: expression(documentElement.scrollTop+(documentElement.clientHeight-this.clientHeight)/2);
    _margin-top: 0;
    display: none;
}



/* 數字鍵盤 */
.num_picker .num_but {
    background-color: #9CB7CF;
    color: #000000;
    font-family: Arial, "微軟正黑體";
    border-radius: 0px;
    border: 1px solid #FFFFFF;
    width: 100%;
    font-size: 18px;
    height: 32px;
    width: 45px;
    cursor: pointer;
    font-weight: bold;
    text-align: center;
}

.BW, .CVP, .ICP, .PAP, .GCS, .FB, .Edema, .SPUTUM {
    display: none;
}

.paramPanel, #subParam {
    position: absolute;
    background-color: #FFFFFF;
    top: 20px;
    color: #000000;
    padding: 15px 15px 15px 15px;
    border: 1px solid #666;
    box-shadow: 5px 5px 3px rgba(20%,20%,40%,0.5);
    overflow-y: auto;
    display: none;
    min-height: 200px;
}

.paramPanel {
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 90;
    min-width: 100px;
    max-width: 800px;
    left: 10px;
}

#subParam {
    overflow: hidden;
    z-index: 91;
    min-width: 60px;
    max-width: 300px;
    left: 100px;
    border-left: none;
}

.loadingPart {
    overflow-y: auto;
    min-height: 80px;
    max-height: 300px;
}

#subData {
    position: relative;
    margin-top: 5px;
    height: 170px;
    overflow-y: scroll;
}

#hintinfo {
    display: none;
    position: fixed;
    left: 50%;
    top: 50%;
    width: 350px;
    margin-left: -175px;
    margin-top: -25px;
    height: 50px;
    text-align: center;
    vertical-align: middle;
    line-height: 50px;
    background-color: #FFFF88;
    font-weight: bold;
    border-top: 1px solid #666;
    border-left: 1px solid #666;
    border-right: 3px solid #666;
    border-bottom: 3px solid #666;
    z-index: 9999;
    _position: absolute; /* position fixed for IE6 */
    _top: expression(documentElement.scrollTop+(documentElement.clientHeight-this.clientHeight)/2);
    _margin-top: 0;
    color: red;
}

.tooltip, .tooltip:hover, .tooltip:visited, .tooltip:after {
    text-decoration: none; 
    color: blue;
}