#msgbox {
    display: none;
    position: fixed;
    left: 50%;
    top: 50%;
    margin-left: -175px;
    margin-top: -25px;
    width: 350px;
    height: 50px;
    text-align: center;
    vertical-align:middle;
    line-height: 50px;
    background-color: #FFFF88;
    font-weight: bold;
    border-top: 1px solid #666;
    border-left: 1px solid #666;
    border-right: 3px solid #666;
    border-bottom: 3px solid #666;
    z-index: 999;
    _position: absolute; /* position fixed for IE6 */
    _top: expression(documentElement.scrollTop+(documentElement.clientHeight-this.clientHeight)/2);
    _margin-top: 0;
    color: red;
}

/* ============================  左邊Menu  ============================= */

#dock {
    margin: 0px;
    padding: 0px;
    list-style: none;
    position: fixed;
    top: 0px;
    height: 100%;
    z-index: 100;
    background-color: #EEEEFF;
    left: 0px;
    
}

    #dock > li {
        width: 40px;
        height: 100%;
        margin: 0 0 1px 0;
        background-color: #dcdcdc;
        background-repeat: no-repeat;
        background-position: left top;
    }

    #dock #patlist {
        background-image: url("../../Images/patlist.png");
    }

    /* panels */
    #dock ul li {
        padding: 5px;
        border: solid 1px #F1F1F1;
    }

        #dock ul li:hover {
            background: #D3DAED url("../../Images/item_bkg.png") repeat-x;
            border: solid 1px #A8D8EB;
        }

        #dock ul li.header, #dock ul li .header:hover {
            background: #D3DAED url("../../Images/header_bkg.png") repeat-x;
            border: solid 1px #F1F1F1;
        }

    #dock > li:hover ul {
        display: block;
    }

    #dock > li ul {
        position: absolute;
        top: 0px;
        left: -180px;
        z-index: -1;
        width: 180px;
        display: none;
        background-color: #F1F1F1;
        border: solid 1px #969696;
        padding: 0px;
        margin: 0px;
        list-style: none;
    }

        #dock > li ul.docked {
            display: block;
            z-index: -2;
        }

.dock, .undock {
    float: right;
}

.undock {
    display: none;
}

#content {
    margin: 10px 0 0 60px;
}

#dock input {
    padding: 2px 2px 2px 2px;
    margin: 1px 1px 1px 1px;
    height: 18px;
    border: 1px solid #0055AA;
}

/* ============================  右邊Menu  ============================= */
.menu_list {
    top: 0px;
    width: 215px;
}

.menu_head {
    padding: 5px 10px;
    cursor: pointer;
    margin: 1px;
    background: #eef4d3;
}

    .menu_head a {
        color: #000000;
        text-decoration: none;
    }

        .menu_head a:link, a:visited, a:active {
            font-size: 16px;
        }

        .menu_head a:hover {
            text-decoration: dotted;
            background-color: yellow;
            font-size: 16px;
        }



.menu_body {
    display: none;
}

    .menu_body a {
        display: block;
        color: #0D0081;
        background-color: #EFEFEF;
        padding: 3px 0px 3px 10px;
        text-decoration: none;
    }

.menu_body, a:link, a:visited, a:active {
    font-size: 16px;
}

    .menu_body a:hover {
        background-color: yellow;
        font-size: 16px;
    }

#rightMenuPanel, #rightMenuPanel > div, #subTitleRight > div {
    position: fixed;
    z-index: -1;
}

#rightMenuPanel {
    top: 0px;
    bottom: 0px;
    right: 0px;
    width: 320px;
}

/* =============== 新的Menu ============== */
.rightMainMenu button 
{
    word-break: keep-all;
    width: 130px;
    height: 30px;
    text-align: center;
    margin: 3px 1px 3px 1px;
    font-weight: bold;
    border: none;
    box-shadow: 2px 2px 3px rgba(20%,20%,40%,0.5);
    border-radius: 3px;
}

    .rightMainMenu button:hover {
        border-top: 3px solid #000099;
        border-bottom: 3px solid #000099;
    }

.rightMainMenu table {
    word-break: break-all;
    width: 285px;
    position: absolute;
    table-layout:fixed;
}

.rightMainMenu {
    width: 285px;
    overflow-y: auto;
}

.rightMainMenu td {
    grid-column-align: center;
    text-align: center;
}

button {
    cursor: pointer;
}

.funcVS { background-color: #ABC8E2;}
.funcMed { background-color: #9adbba;}
.funcAssessment {background-color: #eccdb8;}
.funcCos { background-color: #cdc852;}
.funcNursing { background-color: #d6e3bc; }
.funcCPD { background-color: #f3be1b;}
.funcManagement { background-color: #b2a1c7;}
.funcKind { background-color: #74ff77;}
.funcMedAdv { background-color: #d3e5ec;}
.funcNHouse { 
    background-color: #FFDE77;
    display: none;
}
.funcNon { background-color: #FFFFFF;}

/* =============== 新的Menu ============== */

#leftFuncName, #rightFuncName {
    cursor:pointer;
    height:700px;
}

#rightMenuPanel #subTitleRight {
    background: url(../../Images/title.png) repeat;
    border: 1px solid #666;
    font-weight: bold;
    top: 0px;
    bottom: 0px;
    width: 320px;
}

#rightMenuPanel #rightFuncName {
    position: absolute;
    font-size: 18px;
    width: 30px;
    text-align: center;
    line-height: 40px;
    color: #FFFFFF;
    margin-top: 50px;
}

#rightMenuPanel .rightMainMenu {
    position: absolute;
    top: 0px;
    bottom: 0px;
    background-color: #FFFFFF;
    margin-left: 35px;
}


#leftMenuPanel, #leftMenuPanel > div, #subTitleLeft > div {
    position: fixed;
    z-index: -1;
}

#leftMenuPanel {
    top: 0px;
    bottom: 0px;
    left: 0px;
    width: 280px;
}

    #leftMenuPanel #subTitleLeft {
        background: url(../../Images/title.png) repeat;
        border: 1px solid #666;
        font-weight: bold;
        top: 0px;
        bottom: 0px;
        width: 280px;
    }

    #leftMenuPanel #leftFuncName {
        position: absolute;
        right: 0px;
        font-size: 18px;
        width: 30px;
        text-align: center;
        line-height: 40px;
        color: #FFFFFF;
        margin-top: 50px;
    }

    #leftMenuPanel .leftMainMenu {
        position: absolute;
        top: 0px;
        bottom: 0px;
        background-color: #FFFFFF;
        width: 235px;
        margin-right: 32px;
        padding: 10px 5px 5px 5px;
    }

#bottomMenuPanel {
    z-index: 99;
    position: fixed;
    bottom: 0px;
    left: 32px;
    right: 30px;
    height: 26px;
    padding: 4px 10px 2px 10px;
    background-color: #CCCCCC;
    text-align: left;
}

.leftMainMenu > p {
    border-bottom: 1px dotted #666;
    padding-top: 0px;
    padding-bottom: 3px;
}

.plHeader td {
    text-align: center;
    font-weight: bold;
    background-color: #DDDDCC;
}

.patList td {
    text-align: center;
}

.plBody {
    height: 420px;
    overflow-y: scroll;
    overflow-x: hidden;
    margin-top: -2px;
}

.plHeader {
    padding-right: 17px;
}

.plData, .plDtl, .plNewMed {
    background-color: #D3DAED;
    cursor: pointer;
}
.plData2, .plDtl2 {
    background-color: red;
    cursor: pointer;
}
.leftMainMenu div[class=title] {
    padding: 3px 0px 3px 0px;
    white-space: nowrap;
}
