#handle {
    position: absolute;
    z-index: 9;
    top: 8px;
    right: 0px;
    cursor: pointer;
    width: 10px;
    height: 152px;
    background-color: Black;
}

#menu {
    display: none;
    position: absolute;
    z-index: 1;
    top: 8px;
    right: -150px;
    background-color: #FFFFFF;
}

li.item {
    color: Blue;
    text-decoration: underline;
    cursor: pointer;
}
