
table {
    table-layout: fixed;
    white-space: nowrap;
    text-align: center;
}

.dataArea input[type=text] {
    background-color: transparent;
    width: 92%;
    padding: 3px 3px 3px 3px;
    border: 1px solid #999999;
}

    .dataArea input[type=text]:hover {
        background-color: #FFFFFF;
    }

#na_information {
    display: inline-block;
    background-color: #FFFFCC;
    border: 1px solid #666;
    padding: 5px;
    margin: 0px;
    font-family: 微軟正黑體, 標楷體;
}

#na_name {
    font-size: 16px;
    font-weight: bold;
}

#na_desc {
    font-size: 12px;
    color: #770000;
}

#na_version {
    font-size: 12px;
    font-weight: bold;
    color: #000077;
}

#new_tag, #old_na {
    position: fixed;
    z-index: 1000;
    background-color: #FFFFFF;
    padding: 0px 10px 10px 10px;
    border: 1px solid #666;
    _position: absolute; /* position fixed for IE6 */
    display: none;
}

.debug {
    background-color: transparent;
    cursor: pointer;
}
