#p_zone {
    position: absolute;
    font-size: 14px;
    background-color: #EFEFFF;
    width: 420px;
    margin-left: -210px;
    border: 1px solid #999999;
    padding: 10px 15px 10px 15px;
    left: 50%;
    top: 50%;
    box-shadow: 5px 5px 5px #666;
    border-radius: 15px 15px 15px 15px;
    z-index: 9999;
    display: none;
    margin: 0 auto;
}

.p_close {
    position: inherit;
    right: -16px;
    top: -16px;
}

#p_zone, .contorl {
    color: #990099;
}

.normal {
    background-color: #EEEFFF;
    height: 25px;
    width: 110px;
}

.onfocus {
    background-color: #FFFFCC;
}

#p_zone table {
    background-color: #EEEFFF;
    border: 1px solid #CC88FF;
    text-align: center;
}

.other {
    text-align: left;
}

