@charset "utf-8";

#cover {
    position:fixed; 
    top:0px; 
    right:0px; 
    bottom:0px; 
    left:0px;  
    z-index:999; 
    background-color:#666; 
    /* other browsers */
    opacity: 0.65;
    /* this works in IE6, IE7, and IE8 */
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=65); 
    /* this works in IE8 only */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=65)";
    display: none;
}

#loading {
    position:fixed;
    text-align: center;
    left:50%;
    top:50%;
    height: 50px;
    width:200px;
    margin-top: -25px;
    margin-left: -100px;
    _position: absolute;
    color: #040FD9;
    font-weight:bold;
    z-index:1000;
    display:none;
}

.left-title {
    display: block;
    margin: 0px 0 20px 0;
    padding: 20px;
    color: #fff;
    text-shadow: 1px 1px 1px #568F23;
    border: 1px solid #93CE37;
    border-bottom: 3px solid #9ED929;
    background-color: #9DD929;
    background: -webkit-gradient( linear, left bottom, left top, color-stop(0.02, rgb(123,192,67)), color-stop(0.51, rgb(139,198,66)), color-stop(0.87, rgb(158,217,41)) );
    background: -moz-linear-gradient( center bottom, rgb(123,192,67) 2%, rgb(139,198,66) 51%, rgb(158,217,41) 87% );
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius: 5px 5px 0px 0px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

}

.botton {
    border: 1px solid #CCCCCC;
    background: #EEEEEE;
    background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#EEEEEE));
    background: -webkit-linear-gradient(top, #FFFFFF, #EEEEEE);
    background: -moz-linear-gradient(top, #FFFFFF, #EEEEEE);
    background: -ms-linear-gradient(top, #FFFFFF, #EEEEEE);
    background: -o-linear-gradient(top, #FFFFFF, #EEEEEE);
    background-image: -ms-linear-gradient(top, #FFFFFF 0%, #EEEEEE 100%);
    padding: 8px 16px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: rgba(255,255,255,0.4) 0 0px 0, inset rgba(255,255,255,0.4) 0 1px 0;
    -moz-box-shadow: rgba(255,255,255,0.4) 0 0px 0, inset rgba(255,255,255,0.4) 0 1px 0;
    box-shadow: rgba(255,255,255,0.4) 0 0px 0, inset rgba(255,255,255,0.4) 0 1px 0;
    text-shadow: #FFFFFF 0 1px 0;
    color: #333333;
    font-size: 12px;
    font-family: Arial, Helvetica, Serif;
    font-weight: bold;
    text-decoration: none;
    vertical-align: middle;
    text-align: center;
    /*  
    white-space:nowrap;
    width:100px;
    display:block;
    letter-spacing:0.5px;
    */
 
}

    .botton:active {
        text-shadow: #FFFFFF 0 1px 0;
        border: 1px solid #CCCCCC;
        background: #FFFFFF;
        background: -webkit-gradient(linear, left top, left bottom, from(#EEEEEE), to(#EEEEEE));
        background: -webkit-linear-gradient(top, #EEEEEE, #FFFFFF);
        background: -moz-linear-gradient(top, #EEEEEE, #FFFFFF);
        background: -ms-linear-gradient(top, #EEEEEE, #FFFFFF);
        background: -o-linear-gradient(top, #EEEEEE, #FFFFFF);
        background-image: -ms-linear-gradient(top, #EEEEEE 0%, #FFFFFF 100%);
        color: #333333;
    }

#sidebar2 li {
    margin-top: 6px;
}

.purple {
    background: #AB8DC5;
}

.orange {
    background: #f6e6b4; /* Old browsers */
    background: -moz-linear-gradient(top, #f6e6b4 0%, #ed9017 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f6e6b4), color-stop(100%,#ed9017)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #f6e6b4 0%,#ed9017 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #f6e6b4 0%,#ed9017 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #f6e6b4 0%,#ed9017 100%); /* IE10+ */
    background: linear-gradient(to bottom, #f6e6b4 0%,#ed9017 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6e6b4', endColorstr='#ed9017',GradientType=0 ); /* IE6-9 */
}

    .orange:active {
        background: #ed9017; /* Old browsers */
        background: -moz-linear-gradient(top, #ed9017 0%, #f6e6b4 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ed9017), color-stop(100%,#f6e6b4)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top, #ed9017 0%,#f6e6b4 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top, #ed9017 0%,#f6e6b4 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top, #ed9017 0%,#f6e6b4 100%); /* IE10+ */
        background: linear-gradient(to bottom, #ed9017 0%,#f6e6b4 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ed9017', endColorstr='#f6e6b4',GradientType=0 ); /* IE6-9 */
    }

#sidebar2 .sidebtn {
    border: 1px solid #CCCCCC;
    background: #EEEEEE;
    background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#EEEEEE));
    background: -webkit-linear-gradient(top, #FFFFFF, #EEEEEE);
    background: -moz-linear-gradient(top, #FFFFFF, #EEEEEE);
    background: -ms-linear-gradient(top, #FFFFFF, #EEEEEE);
    background: -o-linear-gradient(top, #FFFFFF, #EEEEEE);
    background-image: -ms-linear-gradient(top, #FFFFFF 0%, #EEEEEE 100%);
    padding: 8px 16px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: rgba(255,255,255,0.4) 0 0px 0, inset rgba(255,255,255,0.4) 0 1px 0;
    -moz-box-shadow: rgba(255,255,255,0.4) 0 0px 0, inset rgba(255,255,255,0.4) 0 1px 0;
    box-shadow: rgba(255,255,255,0.4) 0 0px 0, inset rgba(255,255,255,0.4) 0 1px 0;
    text-shadow: #FFFFFF 0 1px 0;
    color: #333333;

    font-size: 12px;
    font-family: Arial, Helvetica, Serif;
    font-weight: bold;
    text-decoration: none;
    vertical-align: middle;
    white-space: nowrap;
    width: 100px;
    display: block;
    /*   letter-spacing:0.5px;*/
}
    /*#sidebar2 sidebtn:hover {
   border: 1px solid #CCCCCC;
   text-shadow: #FFFFFF 0 1px 0;
   background: #EEEEEE;
   background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#EEEEEE));
   background: -webkit-linear-gradient(top, #FFFFFF, #EEEEEE);
   background: -moz-linear-gradient(top, #FFFFFF, #EEEEEE);
   background: -ms-linear-gradient(top, #FFFFFF, #EEEEEE);
   background: -o-linear-gradient(top, #FFFFFF, #EEEEEE);
   background-image: -ms-linear-gradient(top, #FFFFFF 0%, #EEEEEE 100%);
   color: #333333;
   text-decoration: none;
   }
  */
    #sidebar2 .sidebtn:active {
        text-shadow: #FFFFFF 0 1px 0;
        border: 1px solid #CCCCCC;
        background: #FFFFFF;
        background: -webkit-gradient(linear, left top, left bottom, from(#EEEEEE), to(#EEEEEE));
        background: -webkit-linear-gradient(top, #EEEEEE, #FFFFFF);
        background: -moz-linear-gradient(top, #EEEEEE, #FFFFFF);
        background: -ms-linear-gradient(top, #EEEEEE, #FFFFFF);
        background: -o-linear-gradient(top, #EEEEEE, #FFFFFF);
        background-image: -ms-linear-gradient(top, #EEEEEE 0%, #FFFFFF 100%);
        color: #333333;
    }


/* Table 1 Style */
table.table1 {
    font-family: "Trebuchet MS", sans-serif;
    font-size: 12px;
    font-weight: bold;
    line-height: 1.2em;
    font-style: normal;
    /*   border-collapse:separate;*/
    width: 100%;
    text-align: center;
}

.table1 thead th {
    padding: 10px;
    color: #fff;
    text-shadow: 1px 1px 1px #568F23;
    border: 1px solid #93CE37;
    border-bottom: 3px solid #9ED929;
    background-color: #9DD929;
    background: -webkit-gradient( linear, left bottom, left top, color-stop(0.02, rgb(123,192,67)), color-stop(0.51, rgb(139,198,66)), color-stop(0.87, rgb(158,217,41)) );
    background: -moz-linear-gradient( center bottom, rgb(123,192,67) 2%, rgb(139,198,66) 51%, rgb(158,217,41) 87% );
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius: 5px 5px 0px 0px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

}

    .table1 thead th:empty {
        background: transparent;
        border: none;
    }

.table1 tbody th {
    color: #fff;
    text-shadow: 1px 1px 1px #568F23;
    background-color: #9DD929;
    border: 1px solid #93CE37;
    border-right: 3px solid #9ED929;
    padding: 0px 10px;
    background: -webkit-gradient( linear, left bottom, right top, color-stop(0.02, rgb(158,217,41)), color-stop(0.51, rgb(139,198,66)), color-stop(0.87, rgb(123,192,67)) );
    background: -moz-linear-gradient( left bottom, rgb(158,217,41) 2%, rgb(139,198,66) 51%, rgb(123,192,67) 87% );
    -moz-border-radius: 5px 0px 0px 5px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
/*.table1 tfoot td{
    color: #9CD009;
    font-size:32px;
    text-align:center;
    padding:10px 0px;
    text-shadow:1px 1px 1px #444;
}
.table1 tfoot th{
    color:#666;
}
*/
.table1 tbody td {
    padding: 8px;
    text-align: center;
    background-color: #DEF3CA;
    border: 2px solid #E7EFE0;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    color: #666;
    text-shadow: 1px 1px 1px #fff;

}
/*.table1 tbody span.check::before{
    content : url(../images/check0.png)
}*/

#topContent ul {
    list-style: none;
    margin-top: 0px;
}

#topContent li {
    float: left;
    width: 130px;
    padding: 12px 8px;
    color: #FFF;
    background-color: #5175bc;
    margin: 2px;
    font-weight: bold;
}

.topbotton {
    border: none;
    cursor: pointer;
    font-weight: normal;
    background: #7db9e8; /* Old browsers */
    background: -moz-linear-gradient(top, #7db9e8 0%, #5175bc 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7db9e8), color-stop(100%,#5175bc)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #7db9e8 0%,#5175bc 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #7db9e8 0%,#5175bc 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #7db9e8 0%,#5175bc 100%); /* IE10+ */
    background: linear-gradient(to bottom, #7db9e8 0%,#5175bc 100%); /* W3C */
    padding: 14px 8px 13px 8px !important;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7db9e8', endColorstr='#5175bc',GradientType=0 ); /* IE6-9 */
}

    .topbotton:active {
        border: none;
        background: #5175bc; /* Old browsers */
        background: -moz-linear-gradient(top, #5175bc 0%, #5175bc 5%, #7db9e8 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#5175bc), color-stop(5%,#5175bc), color-stop(100%,#7db9e8)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top, #5175bc 0%,#5175bc 5%,#7db9e8 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top, #5175bc 0%,#5175bc 5%,#7db9e8 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top, #5175bc 0%,#5175bc 5%,#7db9e8 100%); /* IE10+ */
        background: linear-gradient(to bottom, #5175bc 0%,#5175bc 5%,#7db9e8 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5175bc', endColorstr='#7db9e8',GradientType=0 ); /* IE6-9 */
    }

.topbotton-red {
    background: #df817f;
    background: -moz-linear-gradient(top, #df817f 0%, #b44c47 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#df817f), color-stop(100%,#b44c47));
    background: -webkit-linear-gradient(top, #df817f 0%,#b44c47 100%);
    background: -o-linear-gradient(top, #df817f 0%,#b44c47 100%);
    background: -ms-linear-gradient(top, #df817f 0%,#b44c47 100%);
    background: linear-gradient(to bottom, #df817f 0%,#b44c47 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#df817f', endColorstr='#b44c47',GradientType=0 );
}

    .topbotton-red:active {
        background: #b44c47;
        background: -moz-linear-gradient(top, #b44c47 0%, #df817f 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b44c47), color-stop(100%,#df817f));
        background: -webkit-linear-gradient(top, #b44c47 0%,#df817f 100%);
        background: -o-linear-gradient(top, #b44c47 0%,#df817f 100%);
        background: -ms-linear-gradient(top, #b44c47 0%,#df817f 100%);
        background: linear-gradient(to bottom, #b44c47 0%,#df817f 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b44c47', endColorstr='#df817f',GradientType=0 );
    }


.data_area {
    overflow-y: auto;
    overflow-x: hidden;
    height: 500px;
    scrollbar-face-color: #cccccc;
    scrollbar-highlight-color: #333333;
    scrollbar-shadow-color: #1a1a1a;
    scrollbar-3dlight-color: #808080;
    scrollbar-arrow-color: #000000;
    scrollbar-track-color: #e5e5e5;
    scrollbar-darkshadow-color: #999999;
}

    .data_area table {
        background-color: #feffbb;
        text-align: center;
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }

    .data_area th {
        text-align: center;
        background-color: #b1e1fc;
        border-top: 1px solid #000000;
        border-right: 1px solid #DCDCDC;
    }

    .data_area td {
        text-align: left;
        background-color: white;
        border-top: 1px solid #000000;
        border-right: 1px solid #DCDCDC;
    }

.func_main input {
    width: 120px;
}

.func_main {
    margin: 5px 5px 5px 5px;
}

.func_med {
    padding: 5px 0px 2px 0px;
    border-color: #ff7d00;
    background-color: #ffa23e;
}

.func_vitalsign {
    padding: 5px 0px 2px 0px;
    border-color: #6b0085;
    background-color: #9c40c7;
}

.func_assessment {
    padding: 5px 0px 2px 0px;
    border-color: #12ad00;
    background-color: #7fff5a;
}

.func_nursing {
    padding: 5px 0px 2px 0px;
    border-color: #a92a2a;
    background-color: #fe5353;
}

.func_other {
    padding: 5px 0px 2px 0px;
    border-color: #1518c3;
    background-color: #0a58d3;
}

.gv_area {
    overflow-y: auto;
    overflow-x: hidden;
}

    .gv_area th {
        text-align: center;
        background-color: #b1e1fc;
        border-top: 1px solid #000000;
        border-right: 1px solid #DCDCDC;
    }

    .gv_area td {
        text-align: left;
        background-color: white;
        border-top: 1px solid #000000;
        border-right: 1px solid #DCDCDC;
    }

.patinfo {
    position: fixed;
    top: 5px;
    left: 50px;
    width: 90%;
    height: 70px;
    z-index: -1;
}

.patmain {
    text-align: left;
}

    .patmain td {
        padding: 5px 0px 5px 5px;
        box-shadow: 2px 2px 1px rgba(20%,20%,40%,0.5);
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px 5px 5px 5px;
        border-radius: 3px;
        color: #FFFFFF;
        white-space: nowrap;
    }

    .patmain .info {
        background-color: #5175BC;
    }

    .patmain .war {
        background-color: #B44C47;
    }


.mainContent {
    z-index: 20;
    position: fixed;
    top: 90px;
    left: 50px;
    width: 90%;
    z-index: 10;
    overflow-y: hidden;
    overflow-x: hidden;
}

.funcArea fieldset {
    display: block;
    border: 1px dotted #375D81;
    vertical-align:top;
    white-space: nowrap;
    margin: 3px 3px 3px 3px;
}
.funcArea table {
  font-family: Arial, "新細明體", EUDC;
}

.funcArea legend {
    margin-left: 5px;
    font-size: 14px;
    font-family: "微軟正黑體";
    background: #E1E6FA;
    padding: 3px 7px 2px 7px;
    border-top: 1px solid #CCCCCC;
    border-left: 1px solid #CCCCCC;
    border-right: 2px solid #777777;
    border-bottom: 2px solid #777777;
}

.funcArea [type=button]
{
	background-color: #9CB7CF;
	border: 2px solid #FFFFFF;
    border-radius: 5px;
	color: #000000;
	font-family: "微軟正黑體";
	font-size: 14px;
	padding: 2px 3px 2px 3px;
    box-shadow: 2px 2px 3px rgba(20%,20%,40%,0.5);
    cursor: pointer;

}

.funcArea [type=submit]
{
	background-color: #9CB7CF;
	border: 2px solid #FFFFFF;
    border-radius: 5px;
	color: #000000;
	font-family: "微軟正黑體";
	font-size: 14px;
	padding: 2px 3px 2px 3px;
    box-shadow: 2px 2px 3px rgba(20%,20%,40%,0.5);
    cursor: pointer;

}

select {
    background: transparent;
    -webkit-appearance: none;
    padding: 2px 5px 2px 5px;
    margin: 0px 0px 0px 0px;
    font-size: 14px;
    border-radius: 3px;
    border: 1px solid #808080;
    height: 26px;
}

.funcArea p {
    margin: 4px 2px 4px 2px;
}

.dataArea p {
    margin: 4px 2px 4px 2px;
}

#hintinfo {
    display: none;
    position: fixed;
    left: 50%;
    top: 50%;
    margin-left: -175px;
    margin-top: -25px;
    width: 350px;
    height: 50px;
    text-align: center;
    vertical-align: middle;
    line-height: 50px;
    background-color: #FFFF88;
    font-weight: bold;
    border-top: 1px solid #666;
    border-left: 1px solid #666;
    border-right: 3px solid #666;
    border-bottom: 3px solid #666;
    z-index: 999;
    _position: absolute; /* position fixed for IE6 */
    _top: expression(documentElement.scrollTop+(documentElement.clientHeight-this.clientHeight)/2);
    _margin-top: 0;
    color: red;
}

/* 垂直表單樣式 */
.flip-scroll {
    overflow: auto;
}

.flip-scroll .table table {
    display: block;
    position: relative;
    width: 100%;
    /*border-bottom: 1px;*/
}

.flip-scroll .table thead {
    display: block;
    float: left;
}

.flip-scroll .table tbody {
    display: block;
    /*width: 900px;*/
    position: relative;
    overflow-x: auto;
    white-space: nowrap;
}

.flip-scroll .table tbody tr {
    display: -moz-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: table-cell;
}

.flip-scroll .table > tbody > tr > td {
    display: block;
    min-height: 1.25em;
    text-align: center;
    border-left: 0px !important;
    border-top: 0px !important;
    padding: 3px !important;
    /*border-bottom: 0 !important;*/
    line-height: 18px;
    height: 35px;
    /*hide overflow 130px*/
    max-width: 200px;
    white-space: nowrap;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    overflow: hidden;
}

/* sort out borders */
.flip-scroll .table > thead th {
    background-color: #5175BC;
    height: 37.5px;
}

.flip-scroll .table thead tr:first-child th {
    width: auto !important;
}

.flip-scroll .table th {
    background-color: #5BA198;
    color: #FFF;
    display: block;
    border-top: 1px solid #ddd;
    border-left: 1px;
}

.flip-scroll .table th.list_split_block {
    background-color: #477B75;
    color: #FFF;
    display: block;
    border-top: 1px solid #ddd;
    border-left: 1px;
    line-height: 22px;
}

.flip-scroll .table .fixed-table-container tr th:first-child {
    border-top: 1px solid #ddd !important;
}
.voiceBtn{
    background-color:darkorange !important;
}