@charset "utf-8";

* {
    margin: 0;
    padding: 0;
}

body {
    font: 14px 細明體, 新細明體;
    margin: 0; /* 比較好的做法是將 Body 元素的邊界與欄位間隔調整為零，以處理不同的瀏覽器預設值 */
    padding: 0;
    text-align: center; /* 這樣會讓容器在 IE 5* 瀏覽器內置中對齊。然後，文字會在 #container 選取器中設定為靠左對齊預設值 */
    color: #000000;
    background-image: url(../image/bg.jpg);
    overflow-y:hidden;
    overflow-x:hidden;
}

.thrColAbs #container {
    position: relative;
    /* 新增 position: relative 可讓您決定兩個邊列相對於這個容器的位置 */
    width: 1024px; /* 使用比完整 800px 少 20px 的寬度會允許使用瀏覽器邊框並且避免水平捲軸出現 */
    background: #FFFFFF;
    margin: 0 auto; /* 自動邊界 (搭配寬度) 會讓頁面置中對齊 */
    border: 1px solid #FFFFFF;
    text-align: left; /* 這樣做會覆寫 Body 元素上的 text-align: center。 */
}

/* 絕對定位邊列的提示：
1. 您必須指定絕對定位 (AP) 元素的頂端和側邊值 (右邊或左邊)。(因此，如果沒有指定頂端值，AP 元素將會按照頁面的來源順序，直接從最後一個項目之後開始。這表示，如果邊列是文件來源順序中 #container 的第一個元素，即使沒有指定頂端值，它們也會顯示在 #container 的頂端。不過，如果它們的來源順序之後由於任何原因而移動，就需要具有頂端值，才能顯示在所需的位置。
2. 絕對定位 (AP) 元素會從文件的流向中移出。這表示，佔據頁面上的適當空間後，周圍的元素不知道它們的存在而且無法進行處理。因此，只有當您確定中間的 #mainContent Div 一定會包含大部分內容時，才應該將 AP Div 當做側邊欄使用。如果任一個邊列即將包含更多內容，該邊列就會超過父 Div 的底部，而且邊列似乎不會包含在其中。
3. 如果符合上述需求，絕對定位邊列就可以讓您輕鬆地控制文件的來源順序。
*/


.thrColAbs #topContent {
    position: fixed;
    top: 10px;
    left: 64px;
    width: 80%; /* 在符合標準的瀏覽器或 Internet Explorer 的標準模式中，這個 Div 的實際寬度 (除了寬度以外) 將會包含欄位間隔和邊框 */
    height: 150px;
    /*	background: #DEF3CA; /* 背景顏色將會針對欄的內容長度而顯示，但僅止於此 */
}


.thrColAbs #mainContent {
    position:fixed;
    top:80px;
    left: 64px;
    height: 650px;
    width: 80%;
    overflow-x:hidden;
    overflow-y:auto;
}

.fltrt { /* 這個類別可用來讓頁面右邊的元素浮動。浮動元素必須位於頁面上必須相鄰的元素前面。 */
    float: right;
    margin-left: 8px;
}

.fltlft { /* 這個類別可用來讓頁面左邊的元素浮動 */
    float: left;
    margin-right: 8px;
}

#sidebar2 ul {
    list-style: none;
    float: left;
    width: 140px;
    text-align: center;
}
