
.tv {
    position: relative;
    display: block;
    margin: 0;
    padding: 0;
    font-size: 14px;
}

.tv-list {
    display: block;
    position: relative;
    margin: 0;
    padding: 0;
    list-style: none;
}

    .tv-list .tv-list {
        margin-left: 30px;
        
    }


.tv-item{
    display: block;
    position: relative;
    margin: 0;
    padding: 0;
    min-height: 20px;
	list-style: none;
}


.tv-handle {
    display: block;
    margin: 5px 0;
    padding: 5px 10px;
    color: #333;
    text-decoration: none;
    font-weight: bold;
    border: 1px dotted #aaa;
    background-color: #DDEEFF;
}

    .tv-handle:hover {
        color: #333;
        background-color: #FFFFCC;
		border-style: solid;
    }

.tv-detial {
    table-layout: fixed;
    text-align: left;
    white-space: nowrap;
}

    .tv-detial input[type=checkbox] {
        width: 20px;
        height: 20px;
    }

.tv select {
    width: 95%;
}