.func_box, .func_setting {
    font-family: "微軟正黑體","新細明體", EUDC;
}

.func_box {
    width: 100%;
    height: 55px;
    padding: 3px;
}

.func_setting {
    overflow-x: hidden;
    overflow-y: auto;
    display: none;
    padding: 10px;
    width: 500px;
    height: 400px;
    border: 1px solid #666;
    position: absolute;
    background-color: #FFFFFF;
}


    .func_setting div {
        padding: 0px;
        margin: 0px;
        margin-bottom: 5px;
    }

    .func_setting hr {
        padding: 0px;
        margin: 3px 0px 3px 0px;
    }

    .func_setting label {
        margin: 0px;
        padding: 0px;
        font-weight: bold;
        color: #5500DD;
    }

    .func_box button, .func_setting button {
        display: inline-block;
        white-space: pre-line;
        word-break: break-all;
        word-wrap: break-word;
        width: 50px;
        height: 50px;
        line-height: 16px;
        text-align: center;
        vertical-align: bottom;
        background-color: #CCCCFF;
        border: 0.15em outset #DDDDDD;
        text-align: center;
        margin-bottom: 3px;
    }

        .func_box button:hover, .func_setting button:hover {
            background-color: #FFFF99;
        }

    .func_box span, .func_setting span {
        position: absolute;
        margin-top: 5px;
        margin-left: 10px;
        display: inline-block;
        width: 180px;
    }

.mask {
    display: none;
}

#mask {
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    z-index: 999;
    background-color: #EEEEEE;
    /* other browsers */
    opacity: 0.65;
    /* this works in IE6, IE7, and IE8 */
    filter: alpha(opacity=65);
    /* this works in IE8 only */
}

#info {
    z-index: 1000;
    padding: 15px;
    border-radius: 5px;
    position: fixed; /*固定位置定位*/
}

#vs_table {
    table-layout: fixed;
}

    #vs_table td {
        white-space: normal;
        word-wrap: break-word;
    }

    #vs_table td label {
        display: inline-block;
        vertical-align: top;
    }

#keybord {
    position: absolute;
    z-index: 10;
    display: none;
    background-color: #FFFFFF;
    border: 1px solid #c6c6c6;
}

    #keybord button {
        background-color: #d3d3d3;
        color: #444444;
        font-family: Arial, "新細明體", EUDC;
        border: 1px solid #c6c6c6;
        font-size: 16px;
        width: 45px;
        height: 35px;
        cursor: pointer;
        padding: 0px;
        margin: 0px;
        font-weight: bold;
        text-align: center;
        white-space: nowrap;
        vertical-align: bottom;
    }

.tooltip, .tooltip:hover {
    text-align: center;
    border: none;
    border-bottom: 1px solid #666;
    background-color: transparent;
    width: 40px;
    text-decoration: none;
    color: #660000;
    font-weight:bold;
    margin-bottom: 2px;
}

#vs_prompt {
    border: 3px outset #EEEEEE;
    padding: 7px;
    position: absolute;
    background-color: #CCFFCC;
    width: 400px;
    height: 200px;
    overflow-y: scroll;
    display: none;
}

.func_setting .func_selected {
    font-size:small;
    background-color: #FFFF99;
}

.dataArea fieldset {
    border: 1px solid #999999;
    margin-bottom: 5px;
}

.dataArea fieldset legend{
    margin-left: 10px;
    padding: 0px 10px 0px 10px;
    color: blue;
    font-weight: bold;
}