@{
    Layout = "~/Views/Layout/FormLayout.cshtml";
}

<style type="text/css">
    input[type="button"] {
        height: 75%;
        width: 50%;
        font-weight: bold;
    }
    td {
        height: 50%;
        width: 50%;
    }
</style>

<script type="text/javascript">
    $(function () {
        $(window).resize(function () {
            var height = $(this).outerHeight();
            if (height <= 300)
                height = 450;
            $("table").outerHeight(height - 30);
        }).trigger("resize");
    });
</script>

<div class="funcArea">
    <table border="0" style="width:100%;text-align:center;">
        <tr>
            <td>
                <input type="button" style="font-size:24px;" value="跌倒評估(成人)" onclick="window.location.href = 'List'" />
            </td>
            <td>
                <input type="button" style="font-size:24px;" value="跌倒評估(兒童)" onclick="window.location.href = 'List_Child'" />
            </td>
        </tr>
    </table>
</div>