.slideText {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 20px;
    z-index: 50;
}
.slideText ul, .slideText li {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 100%;
}
.slideText ul {
    position: absolute;
}
/*
.slideText li {
    text-align: left;
}
*/
.slideText li a {
	display: block;
	overflow: hidden;
	font-size: 1em;
    font-family: Arial, 微軟正黑體, 標楷體;
	height: 1.5em;
	line-height: 1.5em;
	text-decoration: none;
}
.slideText li a:hover {
    cursor: pointer;
    color: #ffd800;
}
