<div class="funcArea">
    <table border="0" cellpadding="0" cellspacing="0" style="width:100%;">
        <tr><th style="text-align:center; font-weight:normal;">
            <input id="all" style="width:40px;" type="button" value="片語" onclick="@Java_funcion.pup_window("../PhraseManagement/Phrase?type=user",900,600, "0")" />
            <input id="、" type="button" style="width:40px;" value=" 、 " onclick="btn_write('、');" />
            <input id="，" type="button" style="width:40px;" value=" ， " onclick="btn_write('，');" />
            <input id="。" type="button" style="width:40px;" value=" 。 " onclick="btn_write('。');" />
            <input id="：" type="button" style="width:40px;" value=" ： " onclick="btn_write('：');" />
            <input id="#" type="button" style="width:40px;" value=" # " onclick="btn_write('#');" />
            <input id="*" type="button" style="width:40px;" value=" * " onclick="btn_write('*');" />
            <input id="%" type="button" style="width:40px;" value=" % " onclick="btn_write('%');" />
            <input id="/" type="button" style="width:40px;" value=" / " onclick="btn_write('/');" />
            <input id="(" type="button" style="width:40px;" value=" ( " onclick="btn_write('(');" />
            <input id=")" type="button" style="width:40px;" value=" ) " onclick="btn_write(')');" />
            <input id="℃" type="button" style="width:40px;" value=" ℃ " onclick="btn_write('℃');" />
            <input id="Kg" type="button" style="width:40px;" value=" Kg " onclick="btn_write('Kg');" />
            <input id="Cm" type="button" style="width:40px;" value=" Cm " onclick="btn_write('Cm');" />
            <input id="mmHg" type="button" style="width:60px;" value="mmHg" onclick="btn_write('mmHg');" />
        </th></tr>
        <tr><th style="text-align:center; padding:5px 0px 5px 0px;font-weight:normal;">
            <input id="g" type="button" style="width:40px;" value=" g " onclick="btn_write('g');" />
            <input id="ug" type="button" style="width:40px;" value=" ug " onclick="btn_write('ug');" />
            <input id="mg" type="button" style="width:40px;" value=" mg " onclick="btn_write('mg');" />
            <input id="ml" type="button" style="width:40px;" value=" mL " onclick="btn_write('mL');" />
            <input id="vial" type="button" style="width:40px;" value=" vial " onclick="btn_write('vial');" />
            <input id="amp" type="button" style="width:40px;" value=" amp " onclick="btn_write('amp');" />
            <input id="mg/dl" type="button" style="width:60px;" value="mg/dl" onclick="btn_write('mg/dl');" />
            <input id="mmol/l" type="button" style="width:60px;" value="mmol/l" onclick="btn_write('mmol/l');" />
            <input id="次/分" type="button" style="width:60px;" value="次/分" onclick="btn_write('次/分');" />
            <input id="N" type="button" style="width:40px;" value="N" onclick="btn_write('N');" />
            <input id="n" type="button" style="width:40px;" value="n" onclick="btn_write('n');" />
            <input type="button" value="檢驗" style="width: 60px;" onclick="pup_window('LabButton', '700', '700');" />
            <input type="button" value="檢查" style="width: 60px;" onclick="pup_window('ExamButton', '600', '400');" />
            <input type="button" value="檢傷" style="width: 60px;" onclick="pup_window('GetTriageInfo', '600', '400');" />
            <input type="button" id="btnOpenImgAreaSelect" value="貼上EKG" style="width: 80px;"  />
            @*<input type="button" id="voice_type" class="voiceBtn" data-voice_type="CareRecord_Insert" value="語音歷程" style="width: 80px;" onclick="pup_window('VoiceButton', '700', '700');" />*@
                <input type="button" id="voice_type" class="voiceBtn" data-voice_type="CareRecord_Insert" value="衛教音檔" style="width: 80px;" onclick="pup_window('VoiceEducation', '700', '700');" />

            @*<input type="button" class="voiceBtn" id="voice_type" data-voice_type="CareRecord_Insert" value="語音歷程" onclick="window.top.voiceContent.window.call_voice(this);" style="width: 80px;" />*@
            @Html.Hidden("key", "record_com")
        </th></tr>
        @*<tr>
            <th style="text-align:center; padding:5px 0px 5px 0px;font-weight:normal;">
                <input type="button" value="留觀病人持續護理評估表" onclick="@Java_funcion.pup_window("CareAssess",900,600,"")" />
            </th>
        </tr>*@
    </table>
</div>