@using System.Data;
@using NIS.Data;
@functions
{
    public bool string_check(string s)
    {
        if (!String.IsNullOrEmpty(s) && s.Trim() != "NA")
        {
            return true;
        }
        return false;
    }
}
@{
    ViewBag.Title = "GetTriageInfo";
    Layout = "~/Views/Layout/FormLayout.cshtml";
    string TriageInfoContent = string.Empty;
    List<TriageInfo> TriageInfo = (List<TriageInfo>)ViewData["TriageInfo"];
    if (TriageInfo != null)
    {
        if (string_check(TriageInfo[0].ADMIT_DATE) && string_check(TriageInfo[0].ADMIT_TIME))
        {
            TriageInfoContent += "病人於 " + TriageInfo[0].ADMIT_DATE + " " + TriageInfo[0].ADMIT_TIME + " 到院，";
        }
        if (string_check(TriageInfo[0].SUBJECT))
        {
            TriageInfoContent += TriageInfo[0].SUBJECT + "，";
        }
        if (string_check(TriageInfo[0].GCS_E) || string_check(TriageInfo[0].GCS_V) || string_check(TriageInfo[0].GCS_M))
        {
            TriageInfoContent += "GCS：";
            if (string_check(TriageInfo[0].GCS_E))
            {
                TriageInfoContent += "E" + TriageInfo[0].GCS_E;
            }
            if (string_check(TriageInfo[0].GCS_M))
            {
                TriageInfoContent += "M" + TriageInfo[0].GCS_M;
            }
            if (string_check(TriageInfo[0].GCS_V))
            {
                TriageInfoContent += "V" + TriageInfo[0].GCS_V;
            }
            TriageInfoContent += "，";
        }
        if (string_check(TriageInfo[0].PUPIL_SIZE_LEFT) || string_check(TriageInfo[0].PUPIL_SIZE_RIGHT) || string_check(TriageInfo[0].LIGHT_REACTION_LEFT) || string_check(TriageInfo[0].LIGHT_REACTION_RIGHT))
        {
            TriageInfoContent += "瞳孔：";
            if (string_check(TriageInfo[0].PUPIL_SIZE_LEFT) || string_check(TriageInfo[0].LIGHT_REACTION_LEFT))
            {
                TriageInfoContent += "左側";
                if (string_check(TriageInfo[0].PUPIL_SIZE_LEFT))
                {
                    TriageInfoContent += TriageInfo[0].PUPIL_SIZE_LEFT + " mm"; ;
                }
                if (string_check(TriageInfo[0].LIGHT_REACTION_LEFT))
                {
                    TriageInfoContent += " (" + TriageInfo[0].LIGHT_REACTION_LEFT + ")"; ;
                }
                TriageInfoContent += "、";
            }
            if (string_check(TriageInfo[0].PUPIL_SIZE_RIGHT) || string_check(TriageInfo[0].LIGHT_REACTION_RIGHT))
            {
                TriageInfoContent += "右側";
                if (string_check(TriageInfo[0].PUPIL_SIZE_RIGHT))
                {
                    TriageInfoContent += TriageInfo[0].PUPIL_SIZE_RIGHT + " mm"; ;
                }
                if (string_check(TriageInfo[0].LIGHT_REACTION_RIGHT))
                {
                    TriageInfoContent += " (" + TriageInfo[0].LIGHT_REACTION_RIGHT + ")"; ;
                }
            }
            TriageInfoContent.TrimEnd("、".ToCharArray());
            TriageInfoContent += "，";
        }
        if (string_check(TriageInfo[0].TEMPERATURE) || string_check(TriageInfo[0].PULSE) || string_check(TriageInfo[0].BP_SYSTOLIC) || string_check(TriageInfo[0].BP_DIASTOLIC) || string_check(TriageInfo[0].BODY_WEIGHT) || string_check(TriageInfo[0].RESPIRE))
        {
            TriageInfoContent += "生命徵象：";
            if (string_check(TriageInfo[0].TEMPERATURE))
            {
                TriageInfoContent += "體溫：" + TriageInfo[0].TEMPERATURE + " °C、"; ;
            }
            if (string_check(TriageInfo[0].PULSE))
            {
                TriageInfoContent += "脈摶：" + TriageInfo[0].PULSE + " 次/分鐘、"; ;
            }
            if (string_check(TriageInfo[0].RESPIRE))
            {
                TriageInfoContent += "呼吸：" + TriageInfo[0].RESPIRE + " 次/分鐘、"; ;
            }
            if (string_check(TriageInfo[0].BP_SYSTOLIC) || string_check(TriageInfo[0].BP_DIASTOLIC))
            {
                TriageInfoContent += "血壓：" + TriageInfo[0].BP_SYSTOLIC + "/" + TriageInfo[0].BP_DIASTOLIC + " mmHg、"; ;
            }
            if (string_check(TriageInfo[0].BODY_WEIGHT))
            {
                TriageInfoContent += "體重：" + TriageInfo[0].BODY_WEIGHT + " 公斤、"; ;
            }
            TriageInfoContent = TriageInfoContent.TrimEnd('、');
            TriageInfoContent += "，";
        }
        if (string_check(TriageInfo[0].VAS))
        {
            TriageInfoContent += "疼痛強度：" + TriageInfo[0].VAS + "分，";
        }
        if (string_check(TriageInfo[0].BREATH_CONDITION))
        {
            TriageInfoContent += "呼吸型態：" + TriageInfo[0].BREATH_CONDITION + "，";
        }
        if (string_check(TriageInfo[0].SPO2))
        {
            TriageInfoContent += "血氧飽和度：" + TriageInfo[0].SPO2 + " %，"; ;
        }
        if (string_check(TriageInfo[0].SKIN_SIGN))
        {
            TriageInfoContent += "皮膚徵象：" + TriageInfo[0].SKIN_SIGN + "，"; ;
        }
        if (string_check(TriageInfo[0].ER_WOUND))
        {
            TriageInfoContent += "於傷口：" + TriageInfo[0].ER_WOUND;
        }
        TriageInfoContent = TriageInfoContent.TrimEnd('，') + "。";
    }
}
<style type="text/css">
    .dataArea td {
        border-bottom: 1px solid rgba(20%,20%,40%,0.5);
        text-align: left;
        height: 26px;
    }
</style>
<script type="text/javascript">
    $(function () {
        // 加入focus事件
        $(window).focus(function () {
            window.opener.parent.check_session();
        });
        setGridColor();
    });

    //格行換色
    function setGridColor() {
        var tr = $('.dataArea tr');
        var color = '#ABC8E2';
        for (var i = 0; i < tr.length; i++) {
            if ($(tr[i]).css('display') != 'none') {
                $(tr[i]).css('background', color);
                if (color == '#ABC8E2')
                    color = '#E1E6FA';
                else
                    color = '#ABC8E2';
            }
        }
        $('.head').css('background', '#85A5CC');
    }

    function able(id) {
        document.getElementById(id).disabled = false;
        document.getElementById(id).focus();
    }
    function enable(id) {
        document.getElementById(id).disabled = true;
        $('#' + id).val('');
    }

    function div_hidden(id_list) {
        var list = id_list.split(',');
        for (var i = 0 ; i < list.length; i++) {
            $('.' + list[i]).fadeOut(0);
            var input_list = $('.' + list[i] + ' input, .' + list[i] + ' textarea');
            for (var j = 0 ; j < input_list.length; j++) {
                if (input_list[j].type == "textarea" || input_list[j].type == 'text')
                    $(input_list[j]).val('');
                else if (input_list[j].type == 'radio')
                    input_list[j].checked = false;
                else {
                    if (input_list[j].checked)
                        $(input_list[j]).click();
                }
            }
        }
    }


    function btn_write() {
        var word = $('#report_0').text();
        $('#record_com', opener.document).prop("value", word);
        $('#title', opener.document).prop("value", "入院");
    }

</script>
<form action="CheckTest" method="post">
    <div class="funcArea">
        <table border="0" cellpadding="0" cellspacing="0" style="width:100%;">

            <tr>
                <td style="padding:5px 0 5px 0;">
                    <div class="dataArea" style="height:260px;">
                        <table border="0" cellpadding="4" cellspacing="1" style="width:100%;">

                            <tr><th>檢傷</th></tr>
                            <tr>
                                @if (ViewData["TriageInfo"] != null && ((List<TriageInfo>)ViewData["TriageInfo"]).Count > 0)
                                {
                                    <td>
                                        <label id="report_0">@TriageInfoContent</label>
                                        <div style="padding:10px 10px 10px 250px;">
                                            <input id="0" type="button" value="帶入" onclick="btn_write();" />
                                        </div>
                                    </td>




                                }
                                else
                                {
                                    <td>
                                        @Html.Raw("目前無資料")
                                    </td>
                                }
                            </tr>
                        </table>
                    </div>
                </td>
            </tr>
            <tr>
                <td style="padding:5px 0 5px 0;text-align:center;">
                    <div class="funcArea">
                        @*<input type="button" value="儲存" style="width:60px;" onclick="submit();" />*@
                        <input type="button" value="關閉" style="width:60px;" onclick="window.close();" />
                    </div>
                </td>
            </tr>
        </table>
    </div>
</form>