<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <!-- javascript -->
    <script type="text/javascript" src="~/Scripts/jquery-3.6.4.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery-migrate-3.4.1.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.mayaminer.util.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jQueryUI/jquery-ui-1.13.2.js"></script>
</head>
<body>
   
    @RenderBody()

</body>
</html>
