<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html>
<head>
    <!-- icon -->
    @if(NIS.Controllers.BaseController.debug_mode){
        <link href="~/Images/Icon/debug.ico" type="image/x-icon" rel="shortcut icon">
    }else{
        <link href="~/Images/Icon/webicon.ico" type="image/x-icon" rel="shortcut icon">
    }
    <!-- title -->
    <title>@(LanguagePack.SiteInfo.SiteName)</title>
    <!-- meta -->
    <!--關閉相容性檢視-->
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE9"/>
    <!--關閉相容性檢視-->
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width" />
    <meta name="keywords" content="@(LanguagePack.SiteInfo.SiteName)">
    <meta name="author" content="MAYAMINER CO.,LTD.">
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="expires" content="-1">
    <!-- css -->
    <link rel="stylesheet" type="text/css" href="~/Content/StyleSheet/style.css?@(NIS.Controllers.BaseController.build_date_str)" />
    <link rel="stylesheet" type="text/css" href="~/Content/StyleSheet/popup.css" />
    <link rel="Stylesheet" type="text/css" href="~/Content/StyleSheet/menuStyle.css" />
    <link rel="Stylesheet" type="text/css" href="~/Content/StyleSheet/formStyle.css?@(NIS.Controllers.BaseController.build_date_str)" />
    
    <link rel="stylesheet" type="text/css" href="~/Content/themes/base/jquery.ui.all.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/themes/base/jquery-ui-timepicker-addon.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/themes/textslider.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/themes/ui.jqgrid.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/jquery.switchButton.css" />
       
    <link href="~/css/imgareaselect-animated.css" rel="stylesheet" />
    <link href="~/css/imgareaselect-default.css" rel="stylesheet" />
    <link href="~/css/imgareaselect-deprecated.css" rel="stylesheet" />
    <!-- javascript -->
    <script type="text/javascript" src="~/Scripts/jquery-3.6.4.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery-migrate-3.4.1.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.mayaminer.util.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jQueryUI/jquery-ui-1.13.2.js"></script>
    @*<script>
        var originalTbsInit = jQuery.fn.tabs;
        jQuery.fn.tabs = function () {
            var args = arguments;
            var data = $(this).data();
            if (args.length > 0) {
                $(this).tabs();
            }
            originalTbsInit.apply($(this), args);
        }
    </script>*@
    <script type="text/javascript" src="~/Scripts/jQueryUI/jquery-ui-timepicker-addon.js"></script>
    <script type="text/javascript" src="~/Scripts/jQueryUI/jquery-ui-sliderAccess.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.switchButton.js"></script>
    <script type="text/javascript" src="~/Scripts/JSTool.js?@(NIS.Controllers.BaseController.build_date_str)"></script>
    <script type="text/javascript" src="~/Scripts/mayaminer.jstool.datetime.min.js"></script>
    <script type="text/javascript" src="~/Scripts/raphael-min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.imgareaselect.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.blockUI.js"></script>
    <script type="text/javascript" src="~/Scripts/moment.js?@(NIS.Controllers.BaseController.build_date_str)"></script>
    <script type="text/javascript" src="~/Scripts/jquery.jqGrid.js"></script>
    <script type="text/javascript" src="~/Scripts/i18n/grid.locale-tw.js"></script>
    <script type="text/javascript" src="~/Scripts/i18n/datepicker-zh-TW.js"></script>
    <script type="text/javascript" src="~/Scripts/he.js"></script>
    @{
        if (NIS.Controllers.BaseController.debug_mode)
        {
            <script type="text/javascript" src="~/Scripts/VAIMA/Voice.js?@(NIS.Controllers.BaseController.build_date_str)"></script>
        }
        else
        {
            <script type="text/javascript" src="~/VAIMA/Voice.js?@(NIS.Controllers.BaseController.build_date_str)"></script>
        }
    }

    <style type="text/css">
        .ui-tooltip {
            max-width: 420px;
            font-size: 10pt;
            font-family: Calibri;
        }
        .ui-datepicker select.ui-datepicker-year {
	        width: 40% !important;
        }
          .ui-datepicker select.ui-datepicker-month {
	        width: 40% !important;
        }
        /* 處理造字系統問題 */
        @@font-face {
          font-family: 'EUDC';
          src: 
               url('../fonts/EUDC.woff') format("woff"),
               url('../fonts/EUDC.woff2') format("woff2"),
               url('../fonts/EUDC.ttf') format("truetype");
        }
    </style>
    <script type="text/javascript">
        //$(document).css('-moz-user-select', 'none'); //禁止fx選取文字
        //$(document).get(0).onselectstart = function () { return true; }; //禁止IE選取文字
        $.ajaxSetup({ cache: false });
        lock_ctl_n();
        var new_window = [];
        function SetSharedCitalSign(pVal, pCtrl) {
            document.getElementById(pCtrl).value = pVal;
        }
    </script>
</head>
<body>
    <div id="hintinfo"></div>

    @RenderBody()
</body>
</html>
