<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
    <!-- title -->
    <title>@(LanguagePack.SiteInfo.SiteName)</title>
    <!-- meta -->
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width" />
    <meta name="keywords" content="護理資訊系統">
    <meta name="author" content="MAYAMINER CO.,LTD.">
    <!-- css -->
    <link rel="stylesheet" href="~/Content/themes/base/jquery.ui.all.css" />
    <!-- javascript -->
    <script type="text/javascript" src="~/Scripts/jquery-3.6.4.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jQueryUI/jquery-ui-1.13.2.js"></script>
    <script type="text/javascript" src="~/Scripts/jQueryUI/jquery-ui-timepicker-addon.js"></script>
    <script type="text/javascript" src="~/Scripts/jQueryUI/jquery-ui-sliderAccess.js"></script> 
    <style type="text/css">
        .ui-tooltip {
            max-width: 420px;
            font-size: 10pt;
            font-family: Calibri;
        }
    </style>
</head>
<body>
    @RenderBody()
</body>
</html>
