@using NIS.Data;
@using System.Data;

@{
    Layout = "~/Views/Layout/FormLayout.cshtml";

    List<MedicalInfo> MedPharmInfo = ViewBag.MedPharmInfo;
}

<style type="text/css">
    form {
        font-size: 14px;
        font-family: 微軟正黑體;
    }

    th {
        background: #99CCFF;
        text-align: center;
        vertical-align: middle;
    }

    td {
        background-color: #DDDDFF;
        text-align: left;
    }

    .tdupd {
        background-color: pink;
    }

    .l_old {
        color: black;
    }

    .l_new {
        color: red;
        background: yellow;
        font-weight: bold;
    }
</style>

<script type="text/javascript">
    $(document).ready(function () {
    });
</script>

<table border="0" style="width:100%;">
    <tr>
        <th style="width:200px">藥品圖片</th>
        <th>藥品資訊</th>
    </tr>
    <tr style="text-align:left;vertical-align:top;">

        @if (MedPharmInfo.Count > 0)
            {
                <td style="width:200px">
                    <img src="@(MedPharmInfo[0].DrugPicPath)" style="width:200px" />             
                </td>
                <td style="" class="tdupd">
                    藥品代碼：@(MedPharmInfo[0].DrugCode)<br />
                    藥品商品名：@(MedPharmInfo[0].DrugName)<br />
                    藥品學名：@(MedPharmInfo[0].GenericDrugs)<br />
                    <hr style="width:90%" />
                    藥品作用：@(MedPharmInfo[0].DrugEffects)<br />
                    藥品副作用：@(MedPharmInfo[0].DrugSideEffects)<br />
                    藥品網頁路徑：@(MedPharmInfo[0].DrugHref)
                </td>
        }
        else
        {
            <td colspan="2">
                <label >系統無對應圖片</label>          
            </td>
        }

    </tr>
</table>