@using NIS.Data;
@using System.Data;
@{
    //ViewBag.Title = "護理資訊系統-執行給藥紀錄";
    Layout = "~/Views/Layout/FormLayout.cshtml";
    DataTable dt_stat = ViewBag.dt_stat;
    DataTable dt_reg = ViewBag.dt_reg;
    DataTable dt_iv = ViewBag.dt_iv;
    DataTable dt_prn = ViewBag.dt_prn;
    var i = 0;
    string checker = "";
    if (ViewBag.checker != null)
    { checker = ViewBag.checker; }
    string textname = ViewBag.text, udodrgcode = ViewBag.udodrgcode;
    string feeno = ViewBag.feeno, chrno = ViewBag.chrno;
    string start_date, start_time, end_date, end_time;
    DateTime check_time1 = DateTime.Now.AddHours(-1);
    DateTime check_time2 = DateTime.Now.AddHours(1);
    if (ViewBag.start_date == null && ViewBag.end_date == null)
    {
        start_date = DateTime.Now.AddHours(-8).ToString("yyyy/MM/dd");
        start_time = DateTime.Now.AddHours(-8).ToString("HH:mm");
        end_date = DateTime.Now.AddHours(1).ToString("d");
        end_time = DateTime.Now.AddHours(1).ToString("HH:mm");
    }
    else
    {
        start_date = ViewBag.start_date;
        start_time = ViewBag.start_time;
        end_date = ViewBag.end_date;
        end_time = ViewBag.end_time;
    }
    //日期選擇器，鎖定時間
    NIS.Data.PatientInfo pf = (NIS.Data.PatientInfo)Session["PatInfo"];
    NIS.Data.Complement_List complement_List = (NIS.Data.Complement_List)Session["Complement_List"];
}
<link rel="Stylesheet" type="text/css" href="~/Content/StyleSheet/ExecMed.css" />


<style type="text/css">
    .dataArea td {
        border-bottom: 1px solid rgba(20%,20%,40%,0.5);
        text-align: left;
    }

    .dataArea tr:hover {
        background-color: #9966FF;
    }
</style>



<script type="text/javascript">
    $(document).ready(function () {
        setGridColor();
    });

    function setGridColor() {
        //格行換色
        var tr = $('.dataArea tr');
        var color = '#ABC8E2';
        for (var i = 0; i < tr.length; i++) {
            if ($(tr[i]).css('display') != 'none') {
                $(tr[i]).css('background', color);
                if (color == '#ABC8E2')
                    color = '#E1E6FA';
                else
                    color = '#ABC8E2';
            }
        }
        $('.head').css('background', '#85A5CC');
    }

    function showPopup(id) {
        //修改給藥紀錄
        $("#block").show();
        $("#" + id).center().fadeIn(200);
    }
    //WebTool月曆，往前往後一天
    function setDate(pType, DateField) {
        var NewDate = new Date($("#" + DateField).val());
        if (pType == 'prev') {
            NewDate.setDate(NewDate.getDate() - 1);
            $("#" + DateField).datepicker("setDate", NewDate);
        } else if (pType == 'next') {
            NewDate.setDate(NewDate.getDate() + 1);
            $("#" + DateField).datepicker("setDate", NewDate);
        }
    }
</script>

<div class="funcArea">
    <table border="0" cellpadding="0" cellspacing="0" style="width:100%; font-size:14px;">
        <tr>
            <td style="width:100%;text-align:left;">                
                @Html.TextBox("start_date", start_date)
                @*@WebTool.setDateTime("start_date", "")*@
                @WebTool.complementList_Status(complement_List.Status, pf.InDate.ToString("MM/dd/yyyy HH:mm"), @DateTime.Now.ToString("yyyy/MM/dd"), "start_date", "", false)
                <input type="button" id="btn1" value="查詢" onclick="" />&nbsp;
                @*<input type="button" id="btn1" value="前一天" onclick="" />&nbsp;
                <input type="button" id="btn1" value="後一天" onclick="" />&nbsp;*@
                <input type="button" id="btn1" value="前一天" onclick="setDate('prev', 'start_date');" />&nbsp;
                <input type="button" id="btn1" value="後一天" onclick="setDate('next', 'start_date');" />&nbsp;
                <input type="button" id="btn1" value="醫囑查詢" onclick="location.href = '../CommonMedication/Medication_NurseExecute';" />&nbsp;
                <input type="button" id="btn1" value="新增/修改給藥紀錄" onclick="" />&nbsp;
                <input type="button" id="btn1" value="列印" onclick="" />
            </td>
        </tr>
        <tr>
            <td style=" padding:5px 0 5px 0;">
                <div class="dataHeader">
                    <table border="0" cellpadding="4" cellspacing="1" style="width:100%;">
                        <tr>
                            <th style="width:20%;">藥名</th>
                            <th style="width:10%;">劑量</th>
                            <th style="width:10%;">頻次</th>
                            <th style="width:10%;">途徑</th>
                            <th style="width:50%;">給藥註記</th>
                        </tr>
                    </table>
                </div>
                <div class="dataArea" style="height:360px;">
                        <table border="0" cellpadding="4" cellspacing="1" style="width:100%;table-layout:fixed;">
                            <tr>
                                <td style="width:20%;">Normal Salien 500mc</td>
                                <td style="width:10%;">3 Bot</td>
                                <td style="width:10%;">QD</td>
                                <td style="width:10%;">IVD</td>
                                <td style="width:50%;">0900 RN xxx; 1000 未給予(病人外出) RN xxx; 1700 延遲給予(病人洗腎) RN</td>
                            </tr>
                            <tr>
                                <td style="width:20%;">Normal Salien 500mc</td>
                                <td style="width:10%;">3 Bot</td>
                                <td style="width:10%;">QD</td>
                                <td style="width:10%;">IVD</td>
                                <td style="width:50%;">0900 RN xxx; 1000 未給予(病人外出) RN xxx; 1700 延遲給予(病人洗腎) RN</td>
                            </tr>
                        </table>
                </div>
            </td>
        </tr>
    </table>
</div>

<div id="block"></div>
<div id="saving">
    <label for="lab" style="font-size:16px">Saving...</label><br />
    <img src="~/Images/loading.gif" alt="" border="0" />
</div>