<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <!--ECK 224-->
  <!--<add name="MSSQLConnectionString" connectionString="Data Source=127.0.0.1;Initial Catalog=dbname;Persist Security Info=True;User ID=sa;Password=pwd;MultipleActiveResultSets=False;Packet Size=4096;Application Name=&quot;Microsoft SQL Server Management Studio&quot;" providerName="System.Data.SqlClient"/>-->
  <!--<add name="OracleConnectionString" connectionString="Provider=MSDAORA;Data Source=ORACLE_DB_ECK;Persist Security Info=True;Password=CS;User ID=CS"/>-->

  <!--ECK 223-->
  <!--<add name="MSSQLConnectionString" connectionString="Data Source=127.0.0.1;Initial Catalog=dbname;Persist Security Info=True;User ID=sa;Password=pwd;MultipleActiveResultSets=False;Packet Size=4096;Application Name=&quot;Microsoft SQL Server Management Studio&quot;" providerName="System.Data.SqlClient"/>-->
  <!--<add name="OracleConnectionString" connectionString="Provider=MSDAORA;Data Source=ORACLE_DB_HET;Persist Security Info=True;Password=CS;User ID=CS"/>-->
  
  <!--maya-->
  <add name="MSSQLConnectionString" connectionString="Data Source=127.0.0.1;Initial Catalog=dbname;Persist Security Info=True;User ID=sa;Password=pwd;MultipleActiveResultSets=False;Packet Size=4096;Application Name=&quot;Microsoft SQL Server Management Studio&quot;" providerName="System.Data.SqlClient"/>
  <add name="OracleConnectionString" connectionString="Provider=OraOLEDB.Oracle;Data Source=MayaDB;Persist Security Info=True;Password=inp_shh;User ID=inp_shh"/>
  <!--統一抓inp_shh，並在inp_shh建立View抓NIS資料表，測試時若有NIS資料表Schema有異動，需要刷新inp_shh的View-->
  <!--<add name="OracleConnectionToNIS" connectionString="Provider=OraOLEDB.Oracle;Data Source=MayaDB;Persist Security Info=True;Password=nis_eck;User ID=nis_eck"/>-->
</connectionStrings>